In [1]:
parent_folder = '/Users/ravi.tej/Desktop/ML/Recommendations/hubble/'
from hydra import compose, initialize
import os

import xml.etree.ElementTree as ET

tree = ET.parse('../../conf/application.run.xml')
root = tree.getroot()

envs_element = root.find('./configuration/envs')
for variable in envs_element.findall('env'):
    name = variable.get('name')
    value = variable.get('value')
    os.environ[name] = value

import sys
sys.path.append('/Users/ravi.tej/Desktop/ML/Recommendations/hubble/')
import os
os.environ['PATH'] = '/Users/ravi.tej/anaconda3/envs/bertopicenv/bin:/Users/ravi.tej/anaconda3/condabin:/usr/bin:/bin:/usr/sbin:/sbin'

In [2]:
import yfinance as yf

In [3]:
from sql.PostgresDatabaseOperation import PostgresDatabaseOperation

In [4]:
with PostgresDatabaseOperation() as cursor:
    sql = 'SELECT DISTINCT symbol FROM stock_ticker_info'
    cursor.execute(sql)
    results = cursor.fetchall()

In [6]:
symbols = [x[0] for x in results]

In [7]:
symbols[:10]

['PERMAGN.BO',
 'BKV.BO',
 'HOWARHO.BO',
 'TIRUSTA.BO',
 'MCLEODRUSS.NS',
 'COCHMAL.BO',
 'BHEL.BO',
 'BAMPSL.BO',
 'HINDNATGLS.BO',
 'ZYDUSWELL.NS']

In [8]:
cur_ticker = yf.Ticker(symbols[0])

In [10]:
cur_ticker.history(period='30y').reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-04-11 00:00:00+05:30,1.192162,1.192162,1.192162,1.192162,20,0.0,0.0
1,2002-04-12 00:00:00+05:30,1.192162,1.192162,1.192162,1.192162,0,0.0,0.0
2,2002-04-15 00:00:00+05:30,1.192162,1.192162,1.192162,1.192162,0,0.0,0.0
3,2002-04-16 00:00:00+05:30,1.192162,1.192162,1.192162,1.192162,0,0.0,0.0
4,2002-04-17 00:00:00+05:30,1.390856,1.390856,1.390856,1.390856,200,0.0,0.0
...,...,...,...,...,...,...,...,...
5446,2024-03-07 00:00:00+05:30,992.549988,1024.000000,992.549988,1003.450012,5611,0.0,0.0
5447,2024-03-11 00:00:00+05:30,1000.500000,1013.849976,950.000000,962.049988,11415,0.0,0.0
5448,2024-03-12 00:00:00+05:30,958.000000,977.450012,927.950012,971.549988,10859,0.0,0.0
5449,2024-03-13 00:00:00+05:30,955.000000,974.450012,901.700012,907.599976,14243,0.0,0.0
5450,2024-03-14 00:00:00+05:30,920.000000,991.000000,908.000000,989.950012,10189,0.0,0.0

In [27]:
histories = []
import time
invalid_symbols = []
s = time.time()
completed = 0
for sym in symbols:
    cur_ticker = yf.Ticker(sym)
    cur_history_df = cur_ticker.history(period='max').reset_index()
    if cur_history_df.empty:
        invalid_symbols.append(sym)
    else:
        cur_history_df['symbol'] = sym
        histories.append(cur_history_df)
    completed += 1
    if completed % 100 == 0:
        print(f'completed {completed} in {time.time() - s} secs')
e = time.time()

INEOSSTYRO.NS: No timezone found, symbol may be delisted

completed 100 in 18.688721895217896 secs

PGINDST.BO: No timezone found, symbol may be delisted
MRCEXIM.BO: No timezone found, symbol may be delisted

completed 200 in 38.05068278312683 secs

IKAB.BO: No timezone found, symbol may be delisted
HBANKETF.NS: No timezone found, symbol may be delisted

completed 300 in 65.01697206497192 secs

COSMOFILMS.NS: No timezone found, symbol may be delisted
PONDYOXIDE.BO: No timezone found, symbol may be delisted

completed 400 in 85.92927289009094 secs
completed 500 in 102.98094582557678 secs

PVR.BO: No timezone found, symbol may be delisted
RCRL.BO: No timezone found, symbol may be delisted
MAHINDCIE.BO: No timezone found, symbol may be delisted
DHANVARSHA.BO: No timezone found, symbol may be delisted

completed 600 in 127.68566298484802 secs
completed 700 in 143.2470588684082 secs

BLFL.BO: No timezone found, symbol may be delisted
SXETF.BO: No timezone found, symbol may be delisted
OZONEWORLD.BO: No timezone found, symbol may be delisted

completed 800 in 162.80927276611328 secs

TRIJAL.BO: No timezone found, symbol may be delisted
AINFRA.BO: No timezone found, symbol may be delisted

completed 900 in 186.38254070281982 secs

ASHIKACR.BO: No timezone found, symbol may be delisted
TMRVL.NS: No timezone found, symbol may be delisted
PIONDIST.BO: No timezone found, symbol may be delisted
UTTAMSTL.BO: No timezone found, symbol may be delisted
BHAGYAPROP.BO: No timezone found, symbol may be delisted

completed 1000 in 208.78891801834106 secs

HDFCNIFETF.BO: No timezone found, symbol may be delisted
KAMRLAB.BO: No timezone found, symbol may be delisted
GDL.NS: No timezone found, symbol may be delisted

completed 1100 in 228.5404109954834 secs

SNTCL.BO: No timezone found, symbol may be delisted

completed 1200 in 246.7148847579956 secs

PRESSMN.BO: No timezone found, symbol may be delisted
REDEXPR.BO: No timezone found, symbol may be delisted

completed 1300 in 265.9117660522461 secs

BARTRONICS.BO: No timezone found, symbol may be delisted
TWL.BO: No timezone found, symbol may be delisted
SUPREMEX.BO: No timezone found, symbol may be delisted
GDL.BO: No timezone found, symbol may be delisted

completed 1400 in 292.7962827682495 secs

BNKCAP.BO: No timezone found, symbol may be delisted
DIAPOWER.BO: No timezone found, symbol may be delisted
INTEGRA.NS: No timezone found, symbol may be delisted
WABCOINDIA.BO: No timezone found, symbol may be delisted
PHILIPCARB.BO: No timezone found, symbol may be delisted

completed 1500 in 322.162593126297 secs

BRANDREAL.BO: No timezone found, symbol may be delisted
VSL.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 1600 in 348.5220379829407 secs

VIRTUALS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
JOONKTOLL.BO: No timezone found, symbol may be delisted
AXISHETF.BO: Period 'max' is invalid, must be one of ['1d', '5d']
BRANDBUCKT.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MFSINTRCRP.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MODRNSH.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
INDUSFINL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SHRIRAMCIT.NS: No timezone found, symbol may be delisted
KMEW.BO: Period 'max' is invalid, must be one of ['1d', '5d']
PFLINFOTC.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
INDOCRED.BO: Period 'max' is invalid, must be one of ['1d', '5d']
LEX.BO: Period 'max' is invalid, must be one of ['1d', '5d']
CROISSANCE.BO: Period 'max' is invalid, must be one of ['1d', '5d']
EVANS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
YSL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GKP.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 1700 in 375.9254570007324 secs

SOLEX-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
NIESSPC.BO: Period 'max' is invalid, must be one of ['1d', '5d']
EVEXIA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ADVAIT.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GLOSTERLTD.BO: Period 'max' is invalid, must be one of ['1d', '5d']
EASUN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SENINFO.BO: Period 'max' is invalid, must be one of ['1d', '5d']
UPASAFN.BO: No timezone found, symbol may be delisted
INEOSSTYRO.BO: No timezone found, symbol may be delisted
GIANLIFE.BO: Period 'max' is invalid, must be one of ['1d', '5d']
JAYATMA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
TAVERNIER.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)

completed 1800 in 406.51997590065 secs

BHATEXT.BO: Period 'max' is invalid, must be one of ['1d', '5d']
KPIGLOBAL.NS: No timezone found, symbol may be delisted
SERVOTEACH.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GICL-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
VSCL-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
SPRAYKING.BO: Period 'max' is invalid, must be one of ['1d', '5d']
DECANBRG.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SPARCSYS.BO: No timezone found, symbol may be delisted
RAWEDGE.BO: Period 'max' is invalid, must be one of ['1d', '5d']
KALPATPOWR.BO: No timezone found, symbol may be delisted
SETFSN50.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 1900 in 435.5326957702637 secs

COLORCHIPS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
EQUITAS.BO: No timezone found, symbol may be delisted
ASRL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SBLI.BO: Period 'max' is invalid, must be one of ['1d', '5d']
INNOVATORS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
TCIDEVELOP.BO: No timezone found, symbol may be delisted
JALAN-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
BINDALAGRO.BO: No timezone found, symbol may be delisted
VAGHANI.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
TULASEEBIOE.BO: Period 'max' is invalid, must be one of ['1d', '5d']
VIKASPROP.BO: Period 'max' is invalid, must be one of ['1d', '5d']
PVR.NS: No timezone found, symbol may be delisted
UTIBANKETF.BO: Period 'max' is invalid, must be one of ['1d', '5d']
AARNAV.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ACEEDU.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
KONNDOR.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 2000 in 465.54296708106995 secs

KACL.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
MHHL-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
EPSOMPRO.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GCMCOMM.BO: Period 'max' is invalid, must be one of ['1d', '5d']
JAINMARMO.BO: Period 'max' is invalid, must be one of ['1d', '5d']
KDML.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GEMSPIN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MANGTIMBER.NS: No timezone found, symbol may be delisted
SW1.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
SHRADDHA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SINTEX.BO: No timezone found, symbol may be delisted

completed 2100 in 492.0872359275818 secs

SHARDFI.BO: No timezone found, symbol may be delisted
AEPL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
DEEP.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MPFSL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
HANSUGAR.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
MAFANG.BO: Period 'max' is invalid, must be one of ['1d', '5d']
VARIMAN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ZMILGFIN.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
VXLINSTR.BO: Period 'max' is invalid, must be one of ['1d', '5d']
DFMFOODS.NS: No timezone found, symbol may be delisted

completed 2200 in 518.7928650379181 secs

SUBCAPCITY.NS: No timezone found, symbol may be delisted
GETALONG.BO: Period 'max' is invalid, must be one of ['1d', '5d']
KPT.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SHRINIWAS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
CONTI-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
KOTAKBKETF.BO: Period 'max' is invalid, must be one of ['1d', '5d']
HANMAN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
DHARAMSI.NS: No timezone found, symbol may be delisted
HARISH.BO: Period 'max' is invalid, must be one of ['1d', '5d']
UTIQUE.BO: Period 'max' is invalid, must be one of ['1d', '5d']
WAAREERTL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
PANORAMA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
VIVANZA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NIESSPJ.BO: Period 'max' is invalid, must be one of ['1d', '5d']
AREALTY.BO: No timezone found, symbol may be delisted
VMARCIND-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']

completed 2300 in 547.2641749382019 secs

MCLOUD.BO: Period 'max' is invalid, must be one of ['1d', '5d']
JANUSCORP.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SOFCOM.BO: Period 'max' is invalid, must be one of ['1d', '5d']
BESTAGRO.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NETFGILT5Y.NS: No timezone found, symbol may be delisted
RRMETAL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MERMETL.BO: No timezone found, symbol may be delisted
AIML.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ABVL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
KDL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SRDAPRT.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
RAHME.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 2400 in 575.0076289176941 secs

ALANSCOTT.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
UCL-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
VBIND.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
WINPRO.BO: Period 'max' is invalid, must be one of ['1d', '5d']
DALALSTCOM.NS: No timezone found, symbol may be delisted
KLRFM.BO: Period 'max' is invalid, must be one of ['1d', '5d']
BAZELINTER.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
MONIND.BO: Period 'max' is invalid, must be one of ['1d', '5d']
TRCFIN.BO: No timezone found, symbol may be delisted
EDSL.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
JMCPROJECT.BO: No timezone found, symbol may be delisted
DWL.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
BINDALAGRO.NS: No timezone found, symbol may be delisted
ADESHWAR.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ECOM.BO: No timezone found, symbol may be delisted
ABSLNN50ET.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 2500 in 606.9388649463654 secs

NAVIGANT.BO: Period 'max' is invalid, must be one of ['1d', '5d']
VIVANTA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
AIRTELPP-E1.NS: Period 'max' is invalid, must be one of ['1d', '5d']
AAPLUSTRAD.BO: Period 'max' is invalid, must be one of ['1d', '5d']
POLOHOT.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
SUNRETAIL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ABINFRA-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
SARTHAKGL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GEETANJ.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
AVI.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
ADJIA.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 2600 in 631.4142959117889 secs

BLSINFOTE.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
SHRIRAMCIT.BO: No timezone found, symbol may be delisted
VARDHMAN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SAMRATFORG.BO: Period 'max' is invalid, must be one of ['1d', '5d']
DHANCOT.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NSL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
PHILIPCARB.NS: No timezone found, symbol may be delisted
NBL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
FLOMIC.BO: Period 'max' is invalid, must be one of ['1d', '5d']
08GPG.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SHRIRAMEPC.NS: No timezone found, symbol may be delisted

completed 2700 in 659.9548828601837 secs

IRBINVIT-IV.NS: Period 'max' is invalid, must be one of ['1d', '5d']
AMINTAN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SPS.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
JAINEX.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
JLMORI.BO: No timezone found, symbol may be delisted
PHOSPHATE.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NPST-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
CEBBCO.NS: No timezone found, symbol may be delisted

completed 2800 in 686.8039948940277 secs

MOM100.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SIFL.BO: No timezone found, symbol may be delisted
SCANDENT.BO: No timezone found, symbol may be delisted
STRATMONT.BO: Period 'max' is invalid, must be one of ['1d', '5d']
BLOIN.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
DECIPHER.BO: Period 'max' is invalid, must be one of ['1d', '5d']
STARLENT.BO: Period 'max' is invalid, must be one of ['1d', '5d']
DITCO.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)

completed 2900 in 714.2349917888641 secs

MINDTREE.BO: No timezone found, symbol may be delisted
ORACLECR.BO: No timezone found, symbol may be delisted
PARVATI.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MDL-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
PROMAX.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SFPIL.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
RMDRIP-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
08MPD.BO: Period 'max' is invalid, must be one of ['1d', '5d']
DALALSTCOM.BO: No timezone found, symbol may be delisted
TRITON.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
REALSTR.BO: No timezone found, symbol may be delisted
OMNIPOTENT.BO: Period 'max' is invalid, must be one of ['1d', '5d']
RAPIDIN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NETFNV20.NS: No timezone found, symbol may be delisted
SORILINFRA.BO: No timezone found, symbol may be delisted

completed 3000 in 744.9146440029144 secs

NARAYANI.BO: No timezone found, symbol may be delisted
DRL.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
ACCORD-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
SUPPETRO.NS: No timezone found, symbol may be delisted
SAVFI.BO: Period 'max' is invalid, must be one of ['1d', '5d']
AANANDALAK.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
AUTOPINS.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
HIMTEK.BO: Period 'max' is invalid, must be one of ['1d', '5d']
DATASOFT.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NIDHGRN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
11AGG.BO: Period 'max' is invalid, must be one of ['1d', '5d']
KRIFILIND.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GCMSECU.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
GYANDEV.BO: Period 'max' is invalid, must be one of ['1d', '5d']
LELAVOIR.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 3100 in 771.2568418979645 secs

NOVATEOR.BO: Period 'max' is invalid, must be one of ['1d', '5d']
TRL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GARMNTMNTR.BO: Period 'max' is invalid, must be one of ['1d', '5d']
QUINT.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SEACOAST.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MONEYBOXX.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SHUBHAM.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GALADAFIN.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
SKL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GARODCH.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NAVKAR.BO: Period 'max' is invalid, must be one of ['1d', '5d']
JTLINFRA.BO: No timezone found, symbol may be delisted
EARUM.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GROWINGTON.BO: Period 'max' is invalid, must be one of ['1d', '5d']
HPBL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
PANACHE.BO: No timezone found, symbol may be delisted

completed 3200 in 802.9978039264679 secs

GCKL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
APOORVA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
HARIAAPL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
EASTBUILD.BO: Period 'max' is invalid, must be one of ['1d', '5d']
DRHABEEB.BO: No timezone found, symbol may be delisted
SINTEX.NS: No timezone found, symbol may be delisted
PALMJEWELS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
LTI.NS: No timezone found, symbol may be delisted
NIEHSPJ.BO: Period 'max' is invalid, must be one of ['1d', '5d']
POLYMAC.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
UNICK.BO: Period 'max' is invalid, must be one of ['1d', '5d']
WAAREE.BO: Period 'max' is invalid, must be one of ['1d', '5d']
WELLNESS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
CINDRELL.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
MOM50.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 3300 in 828.9833378791809 secs

SRIPIPES.BO: No timezone found, symbol may be delisted
TRANSWIND-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
MPCOSEMB.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
KOTYARK-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
MAHICKRA-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
CLNINDIA.BO: No timezone found, symbol may be delisted
MIL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
CELLA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
CAPFIN.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 3400 in 856.3573939800262 secs

WESTLEIRES.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
CPML.BO: Period 'max' is invalid, must be one of ['1d', '5d']
AMBARPIL.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
SARUPINDUS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
INDOUS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
RELIABLE-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
TOYAMIND.BO: No timezone found, symbol may be delisted
MANGTIMBER.BO: No timezone found, symbol may be delisted
SNIM.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MEL.BO: No timezone found, symbol may be delisted
BPLPHARMA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SUCHITRA.BO: No timezone found, symbol may be delisted
SHRIRAMEPC.BO: No timezone found, symbol may be delisted
IIFLWAM.NS: No timezone found, symbol may be delisted
NATNLSTEEL.BO: No timezone found, symbol may be delisted
ACTIVE.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 3500 in 886.4416329860687 secs

MONOT.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
SUUMAYA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GCSL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
BFLAFL.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
SALEM.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
MINDTREE.NS: No timezone found, symbol may be delisted
INTEGRA.BO: No timezone found, symbol may be delisted
11MPR.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MUKANDENGG.BO: No timezone found, symbol may be delisted
WAA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
LANDMARC.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)

completed 3600 in 913.8611419200897 secs

INOXLEISUR.BO: No timezone found, symbol may be delisted
NIESSPL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ACRYSIL.NS: No timezone found, symbol may be delisted
RAMSONS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
BALUFORGE.BO: Period 'max' is invalid, must be one of ['1d', '5d']
VAXHS.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
ASIIL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
COCKERILL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ARUNIS.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 3700 in 940.7557787895203 secs

PANTH.BO: Period 'max' is invalid, must be one of ['1d', '5d']
CLNINDIA.NS: No timezone found, symbol may be delisted
OSWALEA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
11AMD.BO: Period 'max' is invalid, must be one of ['1d', '5d']
HFIL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SICAPIT.BO: Period 'max' is invalid, must be one of ['1d', '5d']
TCIDEVELOP.NS: No timezone found, symbol may be delisted
VEGETABLE.BO: No timezone found, symbol may be delisted
BLUECLOUDS.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)

completed 3800 in 969.4503870010376 secs

GALLISPAT.BO: No timezone found, symbol may be delisted
UTTAMSTL.NS: No timezone found, symbol may be delisted
NATGENI.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
ORCHASP.BO: Period 'max' is invalid, must be one of ['1d', '5d']
CLARA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NUWAY.BO: Period 'max' is invalid, must be one of ['1d', '5d']
BHAGYAPROP.NS: No timezone found, symbol may be delisted
RJSHAH.BO: Period 'max' is invalid, must be one of ['1d', '5d']
AUROCOK.BO: No timezone found, symbol may be delisted
11MPD.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 3900 in 997.2861788272858 secs

ROHITFERRO.NS: No timezone found, symbol may be delisted
DKEGL-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
NATNLSTEEL.NS: No timezone found, symbol may be delisted
AMBANIORG-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
RAYLA.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
KOBO.BO: Period 'max' is invalid, must be one of ['1d', '5d']
KAYPOWR.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
GALLISPAT.NS: No timezone found, symbol may be delisted
SIPTL.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
PASUSPG.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)

completed 4000 in 1026.8681349754333 secs

WABCOINDIA.NS: No timezone found, symbol may be delisted
NBVENTURES.NS: No timezone found, symbol may be delisted
RISAINTL.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
DEVKI.BO: No timezone found, symbol may be delisted
SRTRANSFIN.BO: No timezone found, symbol may be delisted
ZUARIGLOB.NS: No timezone found, symbol may be delisted
THINKINK.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MINDAIND.NS: No timezone found, symbol may be delisted
RAJGASES.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
NIKKIGL.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
TWL.NS: No timezone found, symbol may be delisted
MADHURIND.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ARYAVAN.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 4100 in 1060.2885949611664 secs

AQFINTECH.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SALAUTO.BO: Period 'max' is invalid, must be one of ['1d', '5d']
RJBIOTECH.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MASPTOP50.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ASINPET.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
RRIL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
TINNATFL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
PIONAGR.BO: No timezone found, symbol may be delisted
BMW.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MRP.BO: Period 'max' is invalid, must be one of ['1d', '5d']
OMKAR.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SUNCITYSY.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
CIL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
RUCHI.NS: No timezone found, symbol may be delisted
MPTODAY-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
WALPAR-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
GUJHYSPIN.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 4200 in 1092.4641728401184 secs

SPACEINCUBA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NAVKETAN.BO: No timezone found, symbol may be delisted
DDIL.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
MODISNME.BO: No timezone found, symbol may be delisted
NLFL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NIESSPM.BO: Period 'max' is invalid, must be one of ['1d', '5d']
INTELLADV.BO: No timezone found, symbol may be delisted
GENESIS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MODULEX.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NOVAPUB.BO: No timezone found, symbol may be delisted
PGINVIT-IV.NS: Period 'max' is invalid, must be one of ['1d', '5d']
SRTRANSFIN.NS: No timezone found, symbol may be delisted

completed 4300 in 1122.9816539287567 secs

BALGOPAL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MAHINDCIE.NS: No timezone found, symbol may be delisted
CITIPOR.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NORRIS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NXTDIGITAL.NS: No timezone found, symbol may be delisted
MINDAIND.BO: No timezone found, symbol may be delisted
IGCIL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
FLORATX.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GOLDCORP.BO: No timezone found, symbol may be delisted
DECCAN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
OCTAL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
PDSMFL.BO: No timezone found, symbol may be delisted
VISVEN.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 4400 in 1153.81618475914 secs

SECL-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
AXISCETF.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SKIEL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
HITECHWIND.BO: Period 'max' is invalid, must be one of ['1d', '5d']
OCTAVIUSPL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
AMANITRA.BO: No timezone found, symbol may be delisted
ARTEMISMED.BO: Period 'max' is invalid, must be one of ['1d', '5d']
HDFCMFGETF.BO: No timezone found, symbol may be delisted
UTISXN50.BO: Period 'max' is invalid, must be one of ['1d', '5d']
WITS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
DMR.BO: Period 'max' is invalid, must be one of ['1d', '5d']
IRONWOOD.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ICICIB22.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
ADISHAKTI.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 4500 in 1181.1149399280548 secs

JAGJANANI.BO: Period 'max' is invalid, must be one of ['1d', '5d']
TIAANC.BO: Period 'max' is invalid, must be one of ['1d', '5d']
JAINAM-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
FUNDVISER.BO: Period 'max' is invalid, must be one of ['1d', '5d']
CDG.BO: Period 'max' is invalid, must be one of ['1d', '5d']
APLAYA.BO: No timezone found, symbol may be delisted
STEPHANOTIS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
BINDALEXPO.BO: Period 'max' is invalid, must be one of ['1d', '5d']
AMARDEE.BO: No timezone found, symbol may be delisted
NETFMID150.NS: No timezone found, symbol may be delisted
SHUBHLAXMI-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']

completed 4600 in 1210.8785710334778 secs

PRANAVSP.BO: No timezone found, symbol may be delisted
CFL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
VISCO.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
NIEHSPI.BO: Period 'max' is invalid, must be one of ['1d', '5d']
EIKO.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ATHCON.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ASHOKRE.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SHUKJEW.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
GSCLCEMENT.BO: No timezone found, symbol may be delisted
AKASHDEEP.BO: No timezone found, symbol may be delisted
PREVEST.BO: Period 'max' is invalid, must be one of ['1d', '5d']
TARACHAND-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
SRD.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 4700 in 1238.8212809562683 secs

JETMALL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
BURGERKING.NS: No timezone found, symbol may be delisted
CHARMS.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MISQUITA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
BARTRONICS.NS: No timezone found, symbol may be delisted
COX&KINGS.BO: No timezone found, symbol may be delisted
NIEHSPD.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MOTHERSUMI.NS: No timezone found, symbol may be delisted
KIMIABL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
CADILAHC.BO: No timezone found, symbol may be delisted
KABRADG.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
GOLDENCREST.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 4800 in 1268.8767838478088 secs

STELLANT.BO: Period 'max' is invalid, must be one of ['1d', '5d']
ADVIKLA.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
HOTELRUGBY.NS: No timezone found, symbol may be delisted
WORL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SHIL.NS: No timezone found, symbol may be delisted
SYLPH.BO: Period 'max' is invalid, must be one of ['1d', '5d']
HAZOOR.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
INNOVANA-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
HSIL.NS: No timezone found, symbol may be delisted
NEXUSSURGL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
OASISEC.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
JAIMATAG.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
DOLFIN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
MODISNME.NS: No timezone found, symbol may be delisted

completed 4900 in 1297.6327979564667 secs

STARHFL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
TIRUPATI-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
SWADEIN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
TANVI.BO: Period 'max' is invalid, must be one of ['1d', '5d']
KAPILCO.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
CHANDNIMACH.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SRIPIPES.NS: No timezone found, symbol may be delisted

completed 5000 in 1323.8546979427338 secs

ISTRNETWK.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
FIRSTFIN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
WELSPLSOL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
GMPL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
INNOVATIVE-SM.NS: No timezone found, symbol may be delisted
CHCL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NBFOOT.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
SAMOR.BO: Period 'max' is invalid, must be one of ['1d', '5d']
BANSTEA.BO: Period 'max' is invalid, must be one of ['1d', '5d']
JETKNIT-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']

completed 5100 in 1348.756196975708 secs

ACRYSIL.BO: No timezone found, symbol may be delisted
SGFRL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
QUADPRO-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
DEL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
PDSMFL.NS: No timezone found, symbol may be delisted
DUROPLY.BO: Period 'max' is invalid, must be one of ['1d', '5d']
TRANSFIN.BO: No timezone found, symbol may be delisted
ROHITFERRO.BO: No timezone found, symbol may be delisted
ONEGLOBAL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
KLIFESTYL.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
WORTH.BO: No price data found, symbol may be delisted (1d 1925-04-08 -> 2024-03-14)
SUPRBPA.BO: No timezone found, symbol may be delisted

completed 5200 in 1379.1340539455414 secs

CHANDNI.BO: No timezone found, symbol may be delisted
QGO.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SMARTFIN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
CADILAHC.NS: No timezone found, symbol may be delisted
PERFECT-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
ANUROOP.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 5300 in 1407.106508731842 secs

BEWLTD-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
MILTON-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
PATSPINLTD.NS: No timezone found, symbol may be delisted
KREONFIN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
NATHIND.BO: Period 'max' is invalid, must be one of ['1d', '5d']
SARDAPPR.BO: No timezone found, symbol may be delisted
KRRAIL.BO: Period 'max' is invalid, must be one of ['1d', '5d']
PASHUPATI-SM.NS: Period 'max' is invalid, must be one of ['1d', '5d']
KALPATPOWR.NS: No timezone found, symbol may be delisted
WARDINMOBI.BO: Period 'max' is invalid, must be one of ['1d', '5d']
VASA-ST.NS: Period 'max' is invalid, must be one of ['1d', '5d']
SHIVAEXPO.BO: Period 'max' is invalid, must be one of ['1d', '5d']

completed 5400 in 1437.3684878349304 secs

LEDOTEA.BO: No timezone found, symbol may be delisted
ABHIFIN.BO: Period 'max' is invalid, must be one of ['1d', '5d']
PACL.BO: No timezone found, symbol may be delisted

In [28]:
len(invalid_symbols)

500

In [29]:
len(histories)

4922

In [31]:
import pandas as pd

In [32]:
valid_ticker_histories = pd.concat(histories)

In [33]:
len(valid_ticker_histories)

19039056

In [35]:
valid_ticker_histories.dtypes

Date            datetime64[ns, Asia/Kolkata]
Open                                 float64
High                                 float64
Low                                  float64
Close                                float64
Volume                                 int64
Dividends                            float64
Stock Splits                         float64
symbol                                object
dtype: object

In [36]:
valid_ticker_histories.isnull().sum()

Date              0
Open            258
High            258
Low             258
Close           257
Volume            0
Dividends         0
Stock Splits      0
symbol            0
dtype: int64

In [37]:
valid_ticker_histories[valid_ticker_histories.Open.isnull()]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol
1532,2013-09-18 00:00:00+05:30,NaN,NaN,NaN,NaN,0,0.10000,0.0,HINDNATGLS.BO
1449,2005-07-28 00:00:00+05:30,NaN,NaN,NaN,NaN,0,1.20000,0.0,RELINFRA.BO
3966,2023-07-27 00:00:00+05:30,NaN,NaN,NaN,NaN,0,3.00000,0.0,PUNJABCHEM.NS
3549,2023-07-11 00:00:00+05:30,NaN,NaN,NaN,NaN,0,0.10000,0.0,SATINDLTD.BO
1083,2005-04-20 00:00:00+05:30,NaN,NaN,NaN,NaN,0,0.00000,0.7,WELCORP.BO
...,...,...,...,...,...,...,...,...,...
2135,2016-03-17 00:00:00+05:30,NaN,NaN,NaN,NaN,0,4.33333,0.0,IMPAL.BO
409,2005-07-28 00:00:00+05:30,NaN,NaN,NaN,NaN,0,0.90000,0.0,TVSELECT.BO
1379,2005-07-08 00:00:00+05:30,NaN,NaN,NaN,NaN,0,0.00000,5.0,HCL-INSYS.BO
3,2011-10-10 00:00:00+05:30,NaN,NaN,NaN,NaN,0,0.00000,5.0,ALANKIT.BO
1021,2005-07-28 00:00:00+05:30,NaN,NaN,NaN,NaN,0,3.00000,0.0,GODREJCP.BO

In [41]:
valid_ticker_histories = valid_ticker_histories.dropna(how='any')

In [42]:
valid_ticker_histories = valid_ticker_histories[['symbol', 'Date', 'Open', 'Close', 'High', 'Low', 'Volume', 'Dividends', 'Stock Splits']]

#### Write to PG

In [55]:
def save_ticker_histories(df):
    def chunked_data(data, size):
        """Yield successive chunk_size-sized chunks from data."""
        for i in range(0, len(data), size):
            yield data[i:i + size]

    with PostgresDatabaseOperation() as cursor:
        # Prepare data for bulk insert
        bulk_data = []
        for idx, row in df.iterrows():
            bulk_data.append((
                row['symbol'],
                row['Date'],
                row['Open'],
                row['Close'],
                row['High'],
                row['Low'],
                row['Volume'],
                row['Dividends'],
                row['Stock Splits']
            ))

        # Bulk insert in chunks
        insert_sql = f"""INSERT INTO stock_history 
                         (symbol, date, open, close, high, low, volume, dividends, stock_splits)
                         VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
                      """
        chunk_size = 10000
        completed = 0
        for chunk in chunked_data(bulk_data, chunk_size):
            cursor.executemany(insert_sql, chunk)
            completed += 1
            print(f'inserted {completed}')
        # cursor.execute("BEGIN")
        # # Rename tables
        # cursor.execute("ALTER TABLE article_to_cluster_mapping RENAME TO article_to_cluster_mapping_old")
        # cursor.execute("COMMIT")
        # # cursor.execute("CREATE TABLE article_to_cluster_mapping AS TABLE temp_article_to_cluster_mapping")
        # cursor.execute("ALTER TABLE temp_article_to_cluster_mapping RENAME TO article_to_cluster_mapping")
        # cursor.execute("DROP TABLE article_to_cluster_mapping_old CASCADE")

In [53]:
import time

In [76]:
from datetime import datetime

In [79]:
from datetime import datetime
import pytz

# Specify your timezone
timezone = pytz.timezone('Asia/Kolkata')

# Get the current date and time with timezone
current_time_with_timezone = datetime.now(timezone)

print(current_time_with_timezone)

2024-03-14 17:55:24.351082+05:30

In [80]:
valid_ticker_histories['created_at'] = datetime.now(timezone)

In [74]:
valid_ticker_histories['Open'] = valid_ticker_histories['Open'].astype('float')
valid_ticker_histories['Close'] = valid_ticker_histories['Close'].astype('float')
valid_ticker_histories['High'] = valid_ticker_histories['High'].astype('float')
valid_ticker_histories['Low'] = valid_ticker_histories['Low'].astype('float')

In [82]:
from io import StringIO
output = StringIO()

In [83]:
valid_ticker_histories.to_csv(output, sep='\t', header=False, index=False)

In [84]:
output.seek(0)

0

In [86]:
from sql.PostgresDatabaseOperation import PostgresDatabaseOperation

In [87]:
s = time.time()
with PostgresDatabaseOperation() as cursor:
    cursor.copy_from(output, 'stock_history', null='')
e = time.time()

In [88]:
e-s

526.2206599712372

### NSE History

In [90]:
nse_ticker = yf.Ticker('^NSEI')
nse_history_df = nse_ticker.history(period='max').reset_index()

In [91]:
len(nse_history_df)

4043

In [93]:
nse_history_df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2007-09-17 00:00:00+05:30,4518.450195,4549.049805,4482.850098,4494.649902,0,0.0,0.0
1,2007-09-18 00:00:00+05:30,4494.100098,4551.799805,4481.549805,4546.200195,0,0.0,0.0
2,2007-09-19 00:00:00+05:30,4550.250000,4739.000000,4550.250000,4732.350098,0,0.0,0.0
3,2007-09-20 00:00:00+05:30,4734.850098,4760.850098,4721.149902,4747.549805,0,0.0,0.0
4,2007-09-21 00:00:00+05:30,4752.950195,4855.700195,4733.700195,4837.549805,0,0.0,0.0
...,...,...,...,...,...,...,...,...
4038,2024-03-07 00:00:00+05:30,22505.300781,22525.650391,22430.000000,22493.550781,379900,0.0,0.0
4039,2024-03-11 00:00:00+05:30,22517.500000,22526.599609,22307.250000,22332.650391,277900,0.0,0.0
4040,2024-03-12 00:00:00+05:30,22334.449219,22452.550781,22256.000000,22335.699219,299200,0.0,0.0
4041,2024-03-13 00:00:00+05:30,22432.199219,22446.750000,21905.650391,21997.699219,493300,0.0,0.0
4042,2024-03-14 00:00:00+05:30,21982.550781,22204.599609,21917.500000,22146.650391,426700,0.0,0.0

In [96]:
nse_history_df['symbol'] = '^NSEI'

In [97]:
nse_history_df = nse_history_df[['symbol', 'Date', 'Open', 'Close', 'High', 'Low', 'Volume', 'Dividends', 'Stock Splits']]

In [101]:
nse_history_df['created_at'] = datetime.now(timezone)

In [100]:
nse_history_df['Open'] = nse_history_df['Open'].astype('float')
nse_history_df['Close'] = nse_history_df['Close'].astype('float')
nse_history_df['High'] = nse_history_df['High'].astype('float')
nse_history_df['Low'] = nse_history_df['Low'].astype('float')

In [102]:
from io import StringIO
output = StringIO()

In [103]:
nse_history_df.to_csv(output, sep='\t', header=False, index=False)

In [104]:
output.seek(0)

0

In [107]:
from sql.PostgresDatabaseOperation import PostgresDatabaseOperation

In [108]:
s = time.time()
with PostgresDatabaseOperation() as cursor:
    cursor.copy_from(output, 'stock_history', null='')
e = time.time()