In [1]:
parent_folder = '/Users/ravi.tej/Desktop/ML/Recommendations/hubble/'
from hydra import compose, initialize
import os

import xml.etree.ElementTree as ET

tree = ET.parse('../../conf/application.run.xml')
root = tree.getroot()

envs_element = root.find('./configuration/envs')
for variable in envs_element.findall('env'):
    name = variable.get('name')
    value = variable.get('value')
    os.environ[name] = value

import sys
sys.path.append('/Users/ravi.tej/Desktop/ML/Recommendations/hubble/')
import os
os.environ['PATH'] = '/Users/ravi.tej/anaconda3/envs/bertopicenv/bin:/Users/ravi.tej/anaconda3/condabin:/usr/bin:/bin:/usr/sbin:/sbin'

In [2]:
from sql.PostgresDatabaseOperation import PostgresDatabaseOperation

In [17]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [54]:
!pip install 'fuzzywuzzy[speedup]'

Requirement already satisfied: fuzzywuzzy[speedup] in /Users/ravi.tej/anaconda3/envs/bertopicenv/lib/python3.9/site-packages (0.18.0)
Collecting python-levenshtein>=0.12 (from fuzzywuzzy[speedup])
  Downloading python_Levenshtein-0.25.0-py3-none-any.whl.metadata (3.7 kB)
Collecting Levenshtein==0.25.0 (from python-levenshtein>=0.12->fuzzywuzzy[speedup])
  Downloading Levenshtein-0.25.0-cp39-cp39-macosx_11_0_arm64.whl.metadata (3.3 kB)
Collecting rapidfuzz<4.0.0,>=3.1.0 (from Levenshtein==0.25.0->python-levenshtein>=0.12->fuzzywuzzy[speedup])
  Downloading rapidfuzz-3.6.2-cp39-cp39-macosx_11_0_arm64.whl.metadata (11 kB)
Downloading python_Levenshtein-0.25.0-py3-none-any.whl (9.4 kB)
Downloading Levenshtein-0.25.0-cp39-cp39-macosx_11_0_arm64.whl (103 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.9/103.9 kB 1.2 MB/s eta 0:00:0000:010:01
Downloading rapidfuzz-3.6.2-cp39-cp39-macosx_11_0_arm64.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 6.4 MB/s eta 0:00:00a 0:00:01
Installing collected packages: rapidfuzz, Levenshtein, python-levenshtein
Successfully installed Levenshtein-0.25.0 python-levenshtein-0.25.0 rapidfuzz-3.6.2

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [56]:
def get_all_symbol_names():
    with PostgresDatabaseOperation() as cursor:
        sql = 'SELECT DISTINCT symbol, name FROM stock_ticker_info'
        cursor.execute(sql)
        results = cursor.fetchall()
    
    return results

In [157]:
def get_all_company_wise_volume():
    with PostgresDatabaseOperation() as cursor:
        sql = "SELECT symbol, AVG(volume * close) FROM stock_history WHERE symbol LIKE '%.NS' AND date > '2024-01-01' GROUP BY symbol"
        cursor.execute(sql)
        results = cursor.fetchall()
    return results

In [158]:
avg_volume_details = get_all_company_wise_volume()

In [129]:
import numpy as np

In [159]:
volume_dict = {x[0]: {'abs': float(x[1]), 'log': np.log2(float(x[1]))} for x in avg_volume_details}

/var/folders/d4/cgyr_gnj7nn2wy_hq40gkq8c0000gq/T/ipykernel_96454/1270495777.py:1: RuntimeWarning: divide by zero encountered in log2
  volume_dict = {x[0]: {'abs': float(x[1]), 'log': np.log2(float(x[1]))} for x in avg_volume_details}

In [116]:
import pandas as pd

In [160]:
volume_df = pd.DataFrame(avg_volume_details, columns = ['symbol', 'avg_volume']).set_index('symbol').reset_index()

In [167]:
volume_df['log_volume'] = volume_df['avg_volume'].apply(lambda x: np.log2(float(x))/np.log2(1.5) if float(x) > 1 else 1)

In [168]:
volume_df

             symbol                 avg_volume  log_volume
0      20MICRONS.NS    30719768.17615295508091   42.520100
1     21STCENMGM.NS     301008.914794998170304   31.112160
2      3IINFOLTD.NS  161305952.576985397372464   46.610209
3        3MINDIA.NS        160494037.199101563   46.597764
4         3PLAND.NS    2059614.987348632803598   35.855193
...             ...                        ...         ...
1799      ZODIAC.NS     5687203.40596631106407   38.360216
1800      ZOMATO.NS  9866556384.38835288761918   56.755603
1801        ZOTA.NS    18296907.87303894009319   41.242125
1802       ZUARI.NS   153157835.41733276448707   46.482371
1803   ZYDUSWELL.NS     68383610.1598266601563   44.493702

[1804 rows x 3 columns]

In [23]:
symbol_names = get_all_symbol_names()

In [322]:
symbol_name_mapping = {x[0]: x[1] for x in symbol_names}

In [323]:
len(symbol_name_mapping)

5422

In [55]:
from fuzzywuzzy import process, fuzz

In [80]:
name_to_symbol = {}

In [81]:
for sym, name in symbol_names:
    if sym.split('.')[1] == 'NS':
        if name in symbol_names:
            name_to_symbol[name].append(sym)
        else:
            name_to_symbol[name] = [sym]

In [90]:
len(name_to_symbol)

1931

In [82]:
distinct_names = list(name_to_symbol.keys())

In [106]:
distinct_symbols = [x[0] for x in symbol_names if '.NS' in x[0]]

In [326]:
symbol_name_combo = []
for sym in distinct_symbols:
    symbol_name_combo.append(sym.strip('.NS') + ': ' + symbol_name_mapping[sym])

In [330]:
name_symbol_combo_mapping = {x: x.split(':')[0] for x in symbol_name_combo}

In [332]:
def get_symbol_for_name(name):
    k = process.extract(name, distinct_names)
    p = process.extract(name, distinct_symbols)
    symbols_matched = []
    for name_match, score in k:
        symbols_matched.extend([(cur_symbol,score) for cur_symbol in name_to_symbol[name_match]])
    # sym = name_to_symbol[matching_name][0]
    matches = pd.DataFrame(symbols_matched + p, columns = ['symbol', 'matching_score'])
    matches = pd.merge(matches, volume_df, how = 'left', on = 'symbol')
    matches['score'] = matches['matching_score'] * matches['log_volume']
    return matches[matches['matching_score'] > 75].nlargest(5, 'score')

In [333]:
import time

In [340]:
process.extract('SBI', distinct_symbols)

[('SBIETFQLTY.NS', 90),
 ('SBILIFE.NS', 90),
 ('SBIN.NS', 90),
 ('KREBSBIO.NS', 90),
 ('SBIETFPB.NS', 90)]

In [334]:
s = time.time()
k = get_symbol_for_name('SBI')
e = time.time()

In [335]:
k

Empty DataFrame
Columns: [symbol, matching_score, avg_volume, log_volume, score]
Index: []

In [336]:
e - s

0.18636512756347656

In [295]:
def get_stock_prices_between_dates(symbol, time_period='3 month'):
    with PostgresDatabaseOperation() as cursor:
        sql = f"SELECT date, symbol, close FROM stock_history_latest WHERE symbol in ('{symbol}', '^NSEI') AND date >= CURRENT_DATE - INTERVAL '{time_period}'"
        cursor.execute(sql)
        results = cursor.fetchall()
    return results

def get_avg_stock_prices_between_dates(symbols, time_period='3 month'):
    with PostgresDatabaseOperation() as cursor:
        sql = f"SELECT symbol, avg(close) FROM stock_history_latest WHERE symbol in ('{symbol}', '^NSEI') AND date >= CURRENT_DATE - INTERVAL '{time_period}' GROUP BY symbol"
        cursor.execute(sql)
        results = cursor.fetchall()
    return results

def beta_calculation_query(symbols, time_period='1 year'):
    market_symbol = '^NSEI'  # NSE Index symbol
    symbol_string = ','.join(f"'{sym}'" for sym in symbols)

    stock_returns_subquery = f"""
    SELECT symbol, 
           date, 
           (close - LAG(close, 1) OVER (PARTITION BY symbol ORDER BY date)) / LAG(close, 1) OVER (PARTITION BY symbol ORDER BY date) AS daily_return
    FROM stock_history
    WHERE symbol IN ({symbol_string}) AND date >= CURRENT_DATE - INTERVAL '{time_period}'
    """

    market_returns_subquery = f"""
    SELECT date, 
           (close - LAG(close, 1) OVER (ORDER BY date)) / LAG(close, 1) OVER (ORDER BY date) AS daily_return
    FROM stock_history
    WHERE symbol = '{market_symbol}' AND date >= CURRENT_DATE - INTERVAL '{time_period}'
    """

    # Assuming you want to calculate beta for each stock symbol against the market index
    beta_query = f"""
    SELECT s.symbol, 
           (COVAR_SAMP(s.daily_return, m.daily_return) / VAR_SAMP(m.daily_return)) AS beta
    FROM ({stock_returns_subquery}) s
    INNER JOIN ({market_returns_subquery}) m ON s.date = m.date
    GROUP BY s.symbol
    """
    
    with PostgresDatabaseOperation() as cursor:
        cursor.execute(beta_query)
        results = cursor.fetchall()
    return results

In [306]:
beta_calculation_query(['TCS.NS', 'RELIANCE.NS'],time_period='10 week')

[('RELIANCE.NS', 1.4161375296355334), ('TCS.NS', 0.5823065152971731)]

In [290]:
def get_volatility(symbols, time_period='3 month', sort_order='ASC'):
    with PostgresDatabaseOperation() as cursor:
        symbols = symbols[:5]
        if symbols:
            symbol_string = ''
            for sym in symbols:
                symbol_string = symbol_string + f"'{sym}',"
            symbol_string = symbol_string.strip(',')
            sql = f"""
            SELECT symbol, STDDEV(close) AS volatility
            FROM stock_history
            WHERE date >= CURRENT_DATE - INTERVAL '{time_period}'
                  AND symbol in ({symbol_string})
            GROUP BY symbol
            ORDER BY volatility {sort_order};
            """
        else:
            sql = f"""
            SELECT symbol, STDDEV(close) AS volatility
            FROM stock_history
            WHERE date >= CURRENT_DATE - INTERVAL '{time_period}'
            GROUP BY symbol
            ORDER BY volatility {sort_order};
            """
        cursor.execute(sql)
        results = cursor.fetchall()
    return results

In [285]:
def get_stocks_price_between_dates(symbols, time_period='3 month'):
    symbol_string = ''
    for sym in symbols:
        symbol_string = symbol_string + f"'{sym}',"
    symbol_string = symbol_string.strip(',')
    with PostgresDatabaseOperation() as cursor:
        sql = f"SELECT date, symbol, close FROM stock_history_latest WHERE symbol in ({symbol_string}) AND date >= '{start_date}' AND date <= '{end_date}'"
        cursor.execute(sql)
        results = cursor.fetchall()
    return results

In [277]:
s = time.time()
k = get_stocks_price_between_dates(['TCS.NS'], "2024-01-01", "2024-03-05")
e = time.time()

In [238]:
s = time.time()
k = get_stock_NSE_details_between_dates('TCS.NS', "2024-01-01", "2024-03-05")
e = time.time()

In [291]:
k = get_volatility(['TCS.NS', '^NSEI'])

In [292]:
k

[('TCS.NS', Decimal('157.603957401251119946394018')),
 ('^NSEI', Decimal('331.969166741157182522'))]

In [231]:
k[0][0].strftime('%Y-%m-%d')

'2024-01-01'

In [241]:
kdf = pd.DataFrame(k, columns = ['date', 'symbol', 'price'])

In [261]:
kdf_pivot = pd.pivot_table(kdf, index = 'date', columns = 'symbol', values='price',aggfunc='max').reset_index()

In [262]:
kdf_pivot['TCS.NS'] = kdf_pivot['TCS.NS'].astype('float')
kdf_pivot['^NSEI'] = kdf_pivot['^NSEI'].astype('float')

In [260]:
from datetime import datetime, timedelta

def add_time_to_datetime(dt_input):
    # Add 5 hours and 30 minutes to the input datetime
    new_dt = dt_input + timedelta(hours=5, minutes=30)

    # Convert the resulting datetime back to a string
    new_date_str = new_dt.strftime('%Y-%m-%d')

    return new_date_str

# Example usage
date_str = "2024-01-01 18:30:00+00:00"
dt_input = datetime.fromisoformat(date_str)
new_date_str = add_time_to_datetime(dt_input)
print(new_date_str)

2024-01-02

In [263]:
kdf_pivot['date'] = kdf_pivot['date'].apply(lambda x: add_time_to_datetime(x))

In [264]:
kdf_pivot.to_dict('list')

{'date': ['2024-01-02',
  '2024-01-03',
  '2024-01-04',
  '2024-01-05',
  '2024-01-08',
  '2024-01-09',
  '2024-01-10',
  '2024-01-11',
  '2024-01-12',
  '2024-01-15',
  '2024-01-16',
  '2024-01-17',
  '2024-01-18',
  '2024-01-19',
  '2024-01-23',
  '2024-01-24',
  '2024-01-25',
  '2024-01-29',
  '2024-01-30',
  '2024-01-31',
  '2024-02-01',
  '2024-02-02',
  '2024-02-05',
  '2024-02-06',
  '2024-02-07',
  '2024-02-08',
  '2024-02-09',
  '2024-02-12',
  '2024-02-13',
  '2024-02-14',
  '2024-02-15',
  '2024-02-16',
  '2024-02-19',
  '2024-02-20',
  '2024-02-21',
  '2024-02-22',
  '2024-02-23',
  '2024-02-26',
  '2024-02-27',
  '2024-02-28',
  '2024-02-29',
  '2024-03-01',
  '2024-03-04',
  '2024-03-05'],
 'TCS.NS': [3783.199951171875,
  3691.75,
  3666.800048828125,
  3737.89990234375,
  3678.300048828125,
  3689.89990234375,
  3713.050048828125,
  3735.550048828125,
  3882.800048828125,
  3903.800048828125,
  3861.300048828125,
  3884.60009765625,
  3902.60009765625,
  3943.050048828125,
  3858.25,
  3841.800048828125,
  3810.300048828125,
  3801.0,
  3800.550048828125,
  3815.949951171875,
  3854.14990234375,
  3966.300048828125,
  3973.300048828125,
  4136.0,
  4083.39990234375,
  4134.10009765625,
  4133.7001953125,
  4120.7001953125,
  4149.5,
  4100.10009765625,
  4103.2001953125,
  4128.2998046875,
  4103.7998046875,
  4030.64990234375,
  3991.5,
  4087.10009765625,
  4052.10009765625,
  4001.050048828125,
  4104.39990234375,
  4118.9501953125,
  4095.10009765625,
  4094.35009765625,
  4080.699951171875,
  4012.10009765625],
 '^NSEI': [21665.80078125,
  21517.349609375,
  21658.599609375,
  21710.80078125,
  21513.0,
  21544.849609375,
  21618.69921875,
  21647.19921875,
  21894.55078125,
  22097.44921875,
  22032.30078125,
  21571.94921875,
  21462.25,
  21622.400390625,
  21238.80078125,
  21453.94921875,
  21352.599609375,
  21737.599609375,
  21522.099609375,
  21725.69921875,
  21697.44921875,
  21853.80078125,
  21771.69921875,
  21929.400390625,
  21930.5,
  21717.94921875,
  21782.5,
  21616.05078125,
  21743.25,
  21840.05078125,
  21910.75,
  22040.69921875,
  22122.25,
  22196.94921875,
  22055.05078125,
  22217.44921875,
  22212.69921875,
  22122.05078125,
  22198.349609375,
  21951.150390625,
  21982.80078125,
  22338.75,
  22405.599609375,
  22356.30078125]}

In [268]:
kdf_pivot[['TCS.NS', '^NSEI']].mean().to_dict()

{'TCS.NS': 3946.7500277432528, '^NSEI': 21831.396528764206}

In [251]:
e - s

0.3376281261444092