In [1]:
parent_folder = '/Users/ravi.tej/Desktop/ML/Recommendations/hubble/'
from hydra import compose, initialize
import os

import xml.etree.ElementTree as ET

tree = ET.parse('../../conf/application.run.xml')
root = tree.getroot()

envs_element = root.find('./configuration/envs')
for variable in envs_element.findall('env'):
    name = variable.get('name')
    value = variable.get('value')
    os.environ[name] = value

import sys
sys.path.append('/Users/ravi.tej/Desktop/ML/Recommendations/hubble/')
import os
os.environ['PATH'] = '/Users/ravi.tej/anaconda3/envs/bertopicenv/bin:/Users/ravi.tej/anaconda3/condabin:/usr/bin:/bin:/usr/sbin:/sbin'
import pandas as pd
import numpy as np

In [18]:
import requests

r = requests.post('http://127.0.0.1:8000/search_query_portfolio', json={'query_text': 'how did zomato and reliance perform over last 6 months', 'userId': 1})

In [20]:
r.text

'{"additionalInfo":{"query_understanding":{"completion_tokens":27,"evaluation":{"function":{"arguments":{"companies_mentioned":["zomato","reliance"]},"name":"get_share_price_history_for_companies"}},"model":"gpt-4-0125-preview","prompt_tokens":771,"system_prompt":"You are an expert financial analyst working for a leading indian fintech platform. User queries are either related to their own portfolio (eg. what is the total value of my portfolio or what are my most profitable holdings) or about general financial and business news (eg. how to save taxes or what is the performance of reliance over last 5 years). You extract the following attributes from a given user query. Today is \\u201c2024-03-15\\u201d. The platform has a database with the following data for user\'s own portfolio.\\n    user_portfolio: name, nseticker, holding_quantity, avg_buy_price, current_price\\n    Based on user\'s query we\'ll either run the function search_web_for_query, extract_portfolio_details, calc_growth_rate_for_user_portfolio_companies or get_share_price_history_for_companies\\n    If user asks for performance of specific companies, then use get_share_price_history_for_companies.\\n    respond only with the json with the above keys. don\'t answer the user query directly, but only extract the attributes","user_prompt":{"query":"user_query: how did zomato and reliance perform over last 6 months","tools":[{"function":{"description":"Search web for the user query. To be called when query is not related to analysis of user\'s own portfolio","name":"search_web_for_query","parameters":{"properties":{"financial_or_business_query":{"description":"If the query is relevant for personal finance, markets of business related queries","type":"boolean"},"recency_importance":{"description":"How important is that only most recent articles are fetched. high for very volatile like latest stock prices, medium for slowly changing stuff like regulations or educational and guides","enum":["high","medium"],"type":"string"}},"required":["financial_or_business_query","recency_importance"],"type":"object"}},"type":"function"},{"function":{"description":"Extract details related to user portfolio snapshot - either current or invested","name":"extract_portfolio_snapshot_details","parameters":{"properties":{"aggregation_level":{"description":"If the user is looking for overall stats or breaking down by company","enum":["overall","company"],"type":"string"},"aggregation_metric":{"description":"Metric user is requesting for","enum":["current_value","invested_value","profit","profit_percent"],"type":"string"},"companies_mentioned":{"description":"Array of company names mentioned in the user query","items":{"type":"string"},"maxItems":5,"minItems":0,"type":"array"},"sorting_order":{"description":"sorting order requested based on the aggregation_metric. For example user asks for least profitable or most loss making, then sorting order is ascending","enum":["ascending","descending"],"type":"string"}},"required":["aggregation_metric","aggregation_level","companies_mentioned","sorting_order"],"type":"object"}},"type":"function"},{"function":{"description":"Extract details related to growth rate of user portfolio over a period","name":"extract_portfolio_growth_details","parameters":{"properties":{"aggregation_level":{"description":"If the user is looking for overall stats or breaking down by company","enum":["overall","company"],"type":"string"},"aggregation_metric":{"description":"Metric user is requesting for. If user wants comparison with index, then its growth_over_index else its growth","enum":["growth","growth_over_index"],"type":"string"},"companies_mentioned":{"description":"Array of company names mentioned in the user query","items":{"type":"string"},"maxItems":5,"minItems":0,"type":"array"},"num_days":{"description":"number of days for calculating growth. if nothing is provided, then default is 365 days","type":"number"},"sorting_order":{"description":"sorting order requested based on the aggregation_metric. For example user asks for least profitable or most loss making, then sorting order is ascending","enum":["ascending","descending"],"type":"string"}},"required":["aggregation_metric","aggregation_level","companies_mentioned","sorting_order","num_days"],"type":"object"}},"type":"function"},{"function":{"description":"Get the latest and historic share prices for companies. If user does not mention company or asks for sensex or NSE, index or general market - then use NIFTY 50","name":"get_share_price_history_for_companies","parameters":{"properties":{"companies_mentioned":{"description":"Array of company names mentioned in the user query","items":{"type":"string"},"maxItems":5,"minItems":1,"type":"array"}},"required":["companies_mentioned"],"type":"object"}},"type":"function"}]}}},"portfolio_data":[{"line_chart":{"chart_title":"Share price history of zomato, reliance","data":[{"ZOMATO":{"2023-10-19":0.0,"2023-10-20":0.0152,"2023-10-23":-0.0246,"2023-10-25":-0.0305,"2023-10-26":-0.0466,"2023-10-27":-0.0537,"2023-10-30":-0.0354,"2023-10-31":-0.0587,"2023-11-01":-0.0712,"2023-11-02":-0.0367,"2023-11-03":0.0434,"2023-11-06":0.1043,"2023-11-07":0.0864,"2023-11-08":0.1209,"2023-11-09":0.0914,"2023-11-10":0.0864,"2023-11-12":0.1039,"2023-11-13":0.0945,"2023-11-15":0.077,"2023-11-16":0.0914,"2023-11-17":0.0945,"2023-11-20":0.0582,"2023-11-21":0.0434,"2023-11-22":0.0327,"2023-11-23":0.0116,"2023-11-24":0.0143,"2023-11-28":0.0193,"2023-11-29":0.0443,"2023-11-30":0.0618,"2023-12-01":0.0416,"2023-12-04":0.0515,"2023-12-05":0.0457,"2023-12-06":0.0649,"2023-12-07":0.09,"2023-12-08":0.0743,"2023-12-11":0.0609,"2023-12-12":0.0457,"2023-12-13":0.0748,"2023-12-14":0.112,"2023-12-15":0.107,"2023-12-18":0.1514,"2023-12-19":0.1666,"2023-12-20":0.1173,"2023-12-21":0.1406,"2023-12-22":0.1509,"2023-12-26":0.1196,"2023-12-27":0.1379,"2023-12-28":0.1034,"2023-12-29":0.1079,"2024-01-01":0.1151,"2024-01-02":0.1527,"2024-01-03":0.1424,"2024-01-04":0.1621,"2024-01-05":0.1939,"2024-01-08":0.1899,"2024-01-09":0.2029,"2024-01-10":0.206,"2024-01-11":0.2391,"2024-01-12":0.2499,"2024-01-15":0.1948,"2024-01-16":0.1961,"2024-01-17":0.1411,"2024-01-18":0.1594,"2024-01-19":0.2096,"2024-01-20":0.1921,"2024-01-23":0.1652,"2024-01-24":0.2199,"2024-01-25":0.2194,"2024-01-29":0.2141,"2024-01-30":0.2288,"2024-01-31":0.2499,"2024-02-01":0.2588,"2024-02-02":0.288,"2024-02-05":0.2562,"2024-02-06":0.2535,"2024-02-07":0.2575,"2024-02-08":0.2906,"2024-02-09":0.3386,"2024-02-12":0.3775,"2024-02-13":0.386,"2024-02-14":0.3636,"2024-02-15":0.3869,"2024-02-16":0.4035,"2024-02-19":0.4107,"2024-02-20":0.4425,"2024-02-21":0.421,"2024-02-22":0.4519,"2024-02-23":0.4693,"2024-02-26":0.4707,"2024-02-27":0.4447,"2024-02-28":0.4272,"2024-02-29":0.4819,"2024-03-01":0.4913,"2024-03-02":0.5016,"2024-03-04":0.5208,"2024-03-05":0.4854,"2024-03-06":0.4469,"2024-03-07":0.433,"2024-03-11":0.3869,"2024-03-12":0.4053,"2024-03-13":0.3314,"2024-03-14":0.3681,"2024-03-15":0.4335,"2024-03-18":0.4174,"2024-03-19":0.4147,"2024-03-20":0.4832,"2024-03-21":0.5195,"2024-03-22":0.5602,"2024-03-26":0.6355,"2024-03-27":0.6073,"2024-03-28":0.631,"2024-04-01":0.6525,"2024-04-02":0.6399,"2024-04-03":0.597,"2024-04-04":0.6749,"2024-04-05":0.7062,"2024-04-08":0.7179,"2024-04-09":0.7349,"2024-04-10":0.7537,"2024-04-12":0.7206,"2024-04-15":0.6856}},{"RELIANCE":{"2023-10-19":0.0,"2023-10-20":-0.0031,"2023-10-23":-0.0186,"2023-10-25":-0.0209,"2023-10-26":-0.0345,"2023-10-27":-0.0175,"2023-10-30":0.0028,"2023-10-31":-0.0079,"2023-11-01":-0.0038,"2023-11-02":0.0061,"2023-11-03":0.0059,"2023-11-06":0.0142,"2023-11-07":0.0077,"2023-11-08":0.0129,"2023-11-09":0.0019,"2023-11-10":0.0038,"2023-11-12":0.0106,"2023-11-13":0.0037,"2023-11-15":0.0218,"2023-11-16":0.0237,"2023-11-17":0.0214,"2023-11-20":0.0187,"2023-11-21":0.0315,"2023-11-22":0.0356,"2023-11-23":0.0387,"2023-11-24":0.0381,"2023-11-28":0.0383,"2023-11-29":0.041,"2023-11-30":0.0309,"2023-12-01":0.0382,"2023-12-04":0.0495,"2023-12-05":0.0571,"2023-12-06":0.0672,"2023-12-07":0.0654,"2023-12-08":0.0649,"2023-12-11":0.0664,"2023-12-12":0.0511,"2023-12-13":0.0554,"2023-12-14":0.0685,"2023-12-15":0.0821,"2023-12-18":0.0932,"2023-12-19":0.1093,"2023-12-20":0.0958,"2023-12-21":0.1112,"2023-12-22":0.1123,"2023-12-26":0.1179,"2023-12-27":0.1217,"2023-12-28":0.1298,"2023-12-29":0.1209,"2024-01-01":0.1232,"2024-01-02":0.1325,"2024-01-03":0.1202,"2024-01-04":0.126,"2024-01-05":0.1308,"2024-01-08":0.1219,"2024-01-09":0.119,"2024-01-10":0.1491,"2024-01-11":0.1794,"2024-01-12":0.1888,"2024-01-15":0.209,"2024-01-16":0.1921,"2024-01-17":0.1808,"2024-01-18":0.1863,"2024-01-19":0.1859,"2024-01-20":0.1765,"2024-01-23":0.1522,"2024-01-24":0.1655,"2024-01-25":0.1734,"2024-01-29":0.2558,"2024-01-30":0.2208,"2024-01-31":0.2372,"2024-02-01":0.2373,"2024-02-02":0.2642,"2024-02-05":0.248,"2024-02-06":0.2383,"2024-02-07":0.2507,"2024-02-08":0.2576,"2024-02-09":0.2668,"2024-02-12":0.2595,"2024-02-13":0.2706,"2024-02-14":0.2847,"2024-02-15":0.2754,"2024-02-16":0.2667,"2024-02-19":0.2783,"2024-02-20":0.2757,"2024-02-21":0.2729,"2024-02-22":0.285,"2024-02-23":0.2953,"2024-02-26":0.2899,"2024-02-27":0.2884,"2024-02-28":0.2624,"2024-02-29":0.2669,"2024-03-01":0.294,"2024-03-02":0.2931,"2024-03-04":0.3073,"2024-03-05":0.301,"2024-03-06":0.3035,"2024-03-07":0.2826,"2024-03-11":0.2719,"2024-03-12":0.2796,"2024-03-13":0.242,"2024-03-14":0.2414,"2024-03-15":0.23,"2024-03-18":0.2484,"2024-03-19":0.236,"2024-03-20":0.2521,"2024-03-21":0.2584,"2024-03-22":0.2619,"2024-03-26":0.2502,"2024-03-27":0.2947,"2024-03-28":0.2886,"2024-04-01":0.2877,"2024-04-02":0.2896,"2024-04-03":0.2762,"2024-04-04":0.2687,"2024-04-05":0.2663,"2024-04-08":0.2887,"2024-04-09":0.2693,"2024-04-11":0.2832,"2024-04-15":0.271}}],"value_type":"percent"}}],"searchArticleIds":[],"user_portfolio_data":false}\n'

In [21]:
requests.get?

Signature: requests.get(url, params=None, **kwargs)
Docstring:
Sends a GET request.

:param url: URL for the new :class:`Request` object.
:param params: (optional) Dictionary, list of tuples or bytes to send
    in the query string for the :class:`Request`.
:param \*\*kwargs: Optional arguments that ``request`` takes.
:return: :class:`Response <Response>` object
:rtype: requests.Response
File:      ~/anaconda3/envs/bertopicenv/lib/python3.9/site-packages/requests/api.py
Type:      function

In [29]:
import json
import pandas as pd

In [27]:
port_d = json.dumps(json.loads(r.text)['portfolio_data'])

In [28]:
port_d

'[{"line_chart": {"chart_title": "Share price history of zomato, reliance", "data": [{"ZOMATO": {"2023-10-19": 0.0, "2023-10-20": 0.0152, "2023-10-23": -0.0246, "2023-10-25": -0.0305, "2023-10-26": -0.0466, "2023-10-27": -0.0537, "2023-10-30": -0.0354, "2023-10-31": -0.0587, "2023-11-01": -0.0712, "2023-11-02": -0.0367, "2023-11-03": 0.0434, "2023-11-06": 0.1043, "2023-11-07": 0.0864, "2023-11-08": 0.1209, "2023-11-09": 0.0914, "2023-11-10": 0.0864, "2023-11-12": 0.1039, "2023-11-13": 0.0945, "2023-11-15": 0.077, "2023-11-16": 0.0914, "2023-11-17": 0.0945, "2023-11-20": 0.0582, "2023-11-21": 0.0434, "2023-11-22": 0.0327, "2023-11-23": 0.0116, "2023-11-24": 0.0143, "2023-11-28": 0.0193, "2023-11-29": 0.0443, "2023-11-30": 0.0618, "2023-12-01": 0.0416, "2023-12-04": 0.0515, "2023-12-05": 0.0457, "2023-12-06": 0.0649, "2023-12-07": 0.09, "2023-12-08": 0.0743, "2023-12-11": 0.0609, "2023-12-12": 0.0457, "2023-12-13": 0.0748, "2023-12-14": 0.112, "2023-12-15": 0.107, "2023-12-18": 0.1514, "2023-12-19": 0.1666, "2023-12-20": 0.1173, "2023-12-21": 0.1406, "2023-12-22": 0.1509, "2023-12-26": 0.1196, "2023-12-27": 0.1379, "2023-12-28": 0.1034, "2023-12-29": 0.1079, "2024-01-01": 0.1151, "2024-01-02": 0.1527, "2024-01-03": 0.1424, "2024-01-04": 0.1621, "2024-01-05": 0.1939, "2024-01-08": 0.1899, "2024-01-09": 0.2029, "2024-01-10": 0.206, "2024-01-11": 0.2391, "2024-01-12": 0.2499, "2024-01-15": 0.1948, "2024-01-16": 0.1961, "2024-01-17": 0.1411, "2024-01-18": 0.1594, "2024-01-19": 0.2096, "2024-01-20": 0.1921, "2024-01-23": 0.1652, "2024-01-24": 0.2199, "2024-01-25": 0.2194, "2024-01-29": 0.2141, "2024-01-30": 0.2288, "2024-01-31": 0.2499, "2024-02-01": 0.2588, "2024-02-02": 0.288, "2024-02-05": 0.2562, "2024-02-06": 0.2535, "2024-02-07": 0.2575, "2024-02-08": 0.2906, "2024-02-09": 0.3386, "2024-02-12": 0.3775, "2024-02-13": 0.386, "2024-02-14": 0.3636, "2024-02-15": 0.3869, "2024-02-16": 0.4035, "2024-02-19": 0.4107, "2024-02-20": 0.4425, "2024-02-21": 0.421, "2024-02-22": 0.4519, "2024-02-23": 0.4693, "2024-02-26": 0.4707, "2024-02-27": 0.4447, "2024-02-28": 0.4272, "2024-02-29": 0.4819, "2024-03-01": 0.4913, "2024-03-02": 0.5016, "2024-03-04": 0.5208, "2024-03-05": 0.4854, "2024-03-06": 0.4469, "2024-03-07": 0.433, "2024-03-11": 0.3869, "2024-03-12": 0.4053, "2024-03-13": 0.3314, "2024-03-14": 0.3681, "2024-03-15": 0.4335, "2024-03-18": 0.4174, "2024-03-19": 0.4147, "2024-03-20": 0.4832, "2024-03-21": 0.5195, "2024-03-22": 0.5602, "2024-03-26": 0.6355, "2024-03-27": 0.6073, "2024-03-28": 0.631, "2024-04-01": 0.6525, "2024-04-02": 0.6399, "2024-04-03": 0.597, "2024-04-04": 0.6749, "2024-04-05": 0.7062, "2024-04-08": 0.7179, "2024-04-09": 0.7349, "2024-04-10": 0.7537, "2024-04-12": 0.7206, "2024-04-15": 0.6856}}, {"RELIANCE": {"2023-10-19": 0.0, "2023-10-20": -0.0031, "2023-10-23": -0.0186, "2023-10-25": -0.0209, "2023-10-26": -0.0345, "2023-10-27": -0.0175, "2023-10-30": 0.0028, "2023-10-31": -0.0079, "2023-11-01": -0.0038, "2023-11-02": 0.0061, "2023-11-03": 0.0059, "2023-11-06": 0.0142, "2023-11-07": 0.0077, "2023-11-08": 0.0129, "2023-11-09": 0.0019, "2023-11-10": 0.0038, "2023-11-12": 0.0106, "2023-11-13": 0.0037, "2023-11-15": 0.0218, "2023-11-16": 0.0237, "2023-11-17": 0.0214, "2023-11-20": 0.0187, "2023-11-21": 0.0315, "2023-11-22": 0.0356, "2023-11-23": 0.0387, "2023-11-24": 0.0381, "2023-11-28": 0.0383, "2023-11-29": 0.041, "2023-11-30": 0.0309, "2023-12-01": 0.0382, "2023-12-04": 0.0495, "2023-12-05": 0.0571, "2023-12-06": 0.0672, "2023-12-07": 0.0654, "2023-12-08": 0.0649, "2023-12-11": 0.0664, "2023-12-12": 0.0511, "2023-12-13": 0.0554, "2023-12-14": 0.0685, "2023-12-15": 0.0821, "2023-12-18": 0.0932, "2023-12-19": 0.1093, "2023-12-20": 0.0958, "2023-12-21": 0.1112, "2023-12-22": 0.1123, "2023-12-26": 0.1179, "2023-12-27": 0.1217, "2023-12-28": 0.1298, "2023-12-29": 0.1209, "2024-01-01": 0.1232, "2024-01-02": 0.1325, "2024-01-03": 0.1202, "2024-01-04": 0.126, "2024-01-05": 0.1308, "2024-01-08": 0.1219, "2024-01-09": 0.119, "2024-01-10": 0.1491, "2024-01-11": 0.1794, "2024-01-12": 0.1888, "2024-01-15": 0.209, "2024-01-16": 0.1921, "2024-01-17": 0.1808, "2024-01-18": 0.1863, "2024-01-19": 0.1859, "2024-01-20": 0.1765, "2024-01-23": 0.1522, "2024-01-24": 0.1655, "2024-01-25": 0.1734, "2024-01-29": 0.2558, "2024-01-30": 0.2208, "2024-01-31": 0.2372, "2024-02-01": 0.2373, "2024-02-02": 0.2642, "2024-02-05": 0.248, "2024-02-06": 0.2383, "2024-02-07": 0.2507, "2024-02-08": 0.2576, "2024-02-09": 0.2668, "2024-02-12": 0.2595, "2024-02-13": 0.2706, "2024-02-14": 0.2847, "2024-02-15": 0.2754, "2024-02-16": 0.2667, "2024-02-19": 0.2783, "2024-02-20": 0.2757, "2024-02-21": 0.2729, "2024-02-22": 0.285, "2024-02-23": 0.2953, "2024-02-26": 0.2899, "2024-02-27": 0.2884, "2024-02-28": 0.2624, "2024-02-29": 0.2669, "2024-03-01": 0.294, "2024-03-02": 0.2931, "2024-03-04": 0.3073, "2024-03-05": 0.301, "2024-03-06": 0.3035, "2024-03-07": 0.2826, "2024-03-11": 0.2719, "2024-03-12": 0.2796, "2024-03-13": 0.242, "2024-03-14": 0.2414, "2024-03-15": 0.23, "2024-03-18": 0.2484, "2024-03-19": 0.236, "2024-03-20": 0.2521, "2024-03-21": 0.2584, "2024-03-22": 0.2619, "2024-03-26": 0.2502, "2024-03-27": 0.2947, "2024-03-28": 0.2886, "2024-04-01": 0.2877, "2024-04-02": 0.2896, "2024-04-03": 0.2762, "2024-04-04": 0.2687, "2024-04-05": 0.2663, "2024-04-08": 0.2887, "2024-04-09": 0.2693, "2024-04-11": 0.2832, "2024-04-15": 0.271}}], "value_type": "percent"}}]'

In [30]:
p = requests.get('http://127.0.0.1:8000/summarize_portfolio_search',params={'query_text': 'how did zomato and reliance perform over last 6 months',
                                                                       'user_portfolio_data': 'false', 'portfolio_data': port_d})

In [32]:
p.text

"Over the last 6 months, both Zomato and Reliance have shown positive growth from their starting points.\n\n- **Zomato** increased by approximately **68.6%**, demonstrating significant growth.\n- **Reliance** grew by about **27.1%**, indicating solid performance.\n\n**Insight:** Zomato's performance vastly exceeded that of Reliance in terms of percentage growth over the same period."

In [16]:
a = PortfolioSQL.get_investment_option_price_long_history([2741], num_days=180)

In [17]:
a

Empty DataFrame
Columns: [investment_option_id, dt, price]
Index: []

In [13]:
k = PortfolioSQL.get_instrument_token_for_nse_ticker('NIFTY 50')

In [14]:
k

2741

In [12]:
r.text

'{"additionalInfo":{"query_understanding":{"completion_tokens":39,"evaluation":{"function":{"arguments":{"aggregation_level":"company","aggregation_metric":"growth","companies_mentioned":[],"num_days":365,"sorting_order":"ascending"},"name":"extract_portfolio_growth_details"}},"model":"gpt-4-0125-preview","prompt_tokens":766,"system_prompt":"You are an expert financial analyst working for a leading indian fintech platform. User queries are either related to their own portfolio (eg. what is the total value of my portfolio or what are my most profitable holdings) or about general financial and business news (eg. how to save taxes or what is the performance of reliance over last 5 years). You extract the following attributes from a given user query. Today is \\u201c2024-03-15\\u201d. The platform has a database with the following data for user\'s own portfolio.\\n    user_portfolio: name, nseticker, holding_quantity, avg_buy_price, current_price\\n    Based on user\'s query we\'ll either run the function search_web_for_query, extract_portfolio_details, calc_growth_rate_for_user_portfolio_companies or get_share_price_history_for_companies\\n    If user asks for performance of specific companies, then use get_share_price_history_for_companies.\\n    respond only with the json with the above keys. don\'t answer the user query directly, but only extract the attributes","user_prompt":{"query":"user_query: which of my holdings have grown the least","tools":[{"function":{"description":"Search web for the user query. To be called when query is not related to analysis of user\'s own portfolio","name":"search_web_for_query","parameters":{"properties":{"financial_or_business_query":{"description":"If the query is relevant for personal finance, markets of business related queries","type":"boolean"},"recency_importance":{"description":"How important is that only most recent articles are fetched. high for very volatile like latest stock prices, medium for slowly changing stuff like regulations or educational and guides","enum":["high","medium"],"type":"string"}},"required":["financial_or_business_query","recency_importance"],"type":"object"}},"type":"function"},{"function":{"description":"Extract details related to user portfolio snapshot - either current or invested","name":"extract_portfolio_snapshot_details","parameters":{"properties":{"aggregation_level":{"description":"If the user is looking for overall stats or breaking down by company","enum":["overall","company"],"type":"string"},"aggregation_metric":{"description":"Metric user is requesting for","enum":["current_value","invested_value","profit","profit_percent"],"type":"string"},"companies_mentioned":{"description":"Array of company names mentioned in the user query","items":{"type":"string"},"maxItems":5,"minItems":0,"type":"array"},"sorting_order":{"description":"sorting order requested based on the aggregation_metric. For example user asks for least profitable or most loss making, then sorting order is ascending","enum":["ascending","descending"],"type":"string"}},"required":["aggregation_metric","aggregation_level","companies_mentioned","sorting_order"],"type":"object"}},"type":"function"},{"function":{"description":"Extract details related to growth rate of user portfolio over a period","name":"extract_portfolio_growth_details","parameters":{"properties":{"aggregation_level":{"description":"If the user is looking for overall stats or breaking down by company","enum":["overall","company"],"type":"string"},"aggregation_metric":{"description":"Metric user is requesting for. If user wants comparison with index, then its growth_over_index else its growth","enum":["growth","growth_over_index"],"type":"string"},"companies_mentioned":{"description":"Array of company names mentioned in the user query","items":{"type":"string"},"maxItems":5,"minItems":0,"type":"array"},"num_days":{"description":"number of days for calculating growth. if nothing is provided, then default is 365 days","type":"number"},"sorting_order":{"description":"sorting order requested based on the aggregation_metric. For example user asks for least profitable or most loss making, then sorting order is ascending","enum":["ascending","descending"],"type":"string"}},"required":["aggregation_metric","aggregation_level","companies_mentioned","sorting_order","num_days"],"type":"object"}},"type":"function"},{"function":{"description":"Get the latest and historic share prices for companies. If user does not mention company or asks for sensex or NSE, index or general market - then use NIFTY 50","name":"get_share_price_history_for_companies","parameters":{"properties":{"companies_mentioned":{"description":"Array of company names mentioned in the user query","items":{"type":"string"},"maxItems":5,"minItems":1,"type":"array"}},"required":["companies_mentioned"],"type":"object"}},"type":"function"}]}}},"portfolio_data":null,"searchArticleIds":[],"user_portfolio_data":true}\n'

In [7]:
import json

In [10]:
with open('icici_data.json') as f:
    k = json.load(f)

{'columns': [0], 'index': [0, 1], 'data': [['38%'], ['62%']]}

In [28]:
data_dict = json.loads(k['Quantitative information of Collateral - Credit impaired assets\nThe following table sets forth, for the periods indicated, quantitative information of collaterals of\ncredit impaired assets.\n₹ in million'])

In [29]:
data_dict

{'columns': [0, 1, 2],
 'index': [0, 1, 2, 3, 4, 5, 6, 7],
 'data': [['Loan to value (LTV) range',
   'Gross value of loan',
   'Gross value of loan'],
  ['Loan to value (LTV) range', 'At\nMarch 31, 2023', 'At\nMarch 31, 2022'],
  ['Less than 50%', '1,779.4', '3,472.4'],
  ['51 to 70%', '1,681.1', '2,830.2'],
  ['71 to 90%', '1,951.7', '2,154.8'],
  ['91 to 100%', '197.4', '123.7'],
  ['More than 100%', '2.0', '15.9'],
  ['Total', '5,611.6', '8,597.0']]}

In [24]:
df = pd.DataFrame(data=data_dict['data'], index=data_dict['index'], columns=data_dict['columns'])

In [36]:
df.drop_duplicates(0).set_index(0).to_dict('index')

{'Particulars': {1: 'At\nMarch 31, 2023', 2: 'At\nMarch 31, 2022'},
 'Deferred tax assets:': {1: None, 2: None},
 'Allowance for loan losses': {1: '880.3', 2: '979.3'},
 'Cash flow hedge reserve': {1: '-', 2: '62.1'},
 'Provisions (other than ECL provisions)': {1: '133.4', 2: '107.0'},
 'Deferred loan origination expenses (net) and borrowing cost (EIR\nmethod of accounting) and interest on stage 3 loans': {1: '110.2',
  2: '6.0'},
 'Total deferred tax asset': {1: '1,123.9', 2: '1,154.4'},
 'Deferred tax liabilities:': {1: None, 2: None},
 'Depreciation on property, plant and equipment': {1: '90.3', 2: '96.7'},
 'Fair value changes in investments and derivatives': {1: '14.1', 2: '21.7'},
 'Unrealised gains chargeable to tax on realisation basis': {1: '481.8',
  2: '411.6'},
 'Fair value changes on financial assets (loans)': {1: '1,103.0', 2: '608.6'},
 'Total deferred tax liability': {1: '1,689.2', 2: '1,138.6'},
 'Net deferred tax asset/(liability)': {1: '(565.3)', 2: '15.8'}}

In [2]:
from src.FunctionCallingService import FunctionCallingService
from src.PortfolioService import PortfolioService
from sql.PostgresDatabaseOperation import PostgresDatabaseOperation
from sql.PortfolioSQL import PortfolioSQL

/Users/ravi.tej/anaconda3/envs/bertopicenv/lib/python3.9/site-packages/torch/_utils.py:776: UserWarning: TypedStorage is deprecated. It will be removed in the future and UntypedStorage will be the only storage class. This should only matter to you if you are using storages directly.  To access UntypedStorage directly, use tensor.untyped_storage() instead of tensor.storage()
  return self.fget.__get__(instance, owner)()

In [5]:
k = PortfolioService.get_current_portfolio_value(user_id=1)

In [6]:
k

[{'text_box': {'data': [{'value': 356400.65}],
   'value_type': 'rupees',
   'chart_title': 'Current Value'}},
 {'bar_chart': {'value_type': 'rupees',
   'chart_title': 'Top Holdings by Current Value',
   'data': [{'CUPID': 63875.0},
    {'BSE': 42434.25},
    {'MULTI COMMODITY EXCHANGE': 38182.5},
    {'TATA MOTORS': 20370.0},
    {'CENTRAL DEPO SER (I)': 20081.0},
    {'ITC': 17204.0},
    {'INDIAN RAIL TOUR CORP': 15864.75},
    {'TATA POWER CO': 15730.2},
    {'PIDILITE INDUSTRIES': 14929.25},
    {'others': 107729.7}]}}]

In [5]:
PortfolioService.get_latest_prices_from_sql(['NSE:INFY'])

{'NSE:INFY': 1484.75}

In [3]:
import numpy as np

In [3]:
FunctionCallingService.parse_details_from_gpt(query = 'do fundamental analysis for TCS', user_id=99)

fetched the urls ['https://www.topstockresearch.com/rt/Stock/TCS/FundamentalAnalysis', 'https://www.researchgate.net/publication/344306045_Tata_Consultancy_Services_Ltd_Company_Analysis', 'https://www.moneycontrol.com/financials/tataconsultancyservices/ratiosVI/TCS', 'https://insider.finology.in/business/comparison-infosys-tcs', 'https://simplywall.st/stocks/in/software/nse-tcs/tata-consultancy-services-shares', 'https://www.alphaspread.com/security/nse/tcs/summary', 'https://www.icicidirect.com/research/equity/tata-consultancy-services-ltd/4661', 'https://www.marketscreener.com/quote/stock/TATA-CONSULTANCY-SERVICES-9743454/ratings/', 'https://investyadnya.in/stock-o-meter/tata-consultancy-services', 'https://chartink.com/fundamentals/TCS.html'] for the query do fundamental analysis for TCS
 Skipped Timeout URL https://www.researchgate.net/publication/344306045_Tata_Consultancy_Services_Ltd_Company_Analysis
URL: https://chartink.com/fundamentals/TCS.html
Time taken to parse an Article: 0.70034 seconds
URL: https://www.icicidirect.com/research/equity/tata-consultancy-services-ltd/4661
Time taken to parse an Article: 0.900629 seconds
URL: https://www.topstockresearch.com/rt/Stock/TCS/FundamentalAnalysis
Time taken to parse an Article: 0.934374 seconds
URL: https://insider.finology.in/business/comparison-infosys-tcs
Time taken to parse an Article: 1.098962 seconds
URL: https://simplywall.st/stocks/in/software/nse-tcs/tata-consultancy-services-shares
Time taken to parse an Article: 1.176644 seconds
URL: https://investyadnya.in/stock-o-meter/tata-consultancy-services
Time taken to parse an Article: 1.252572 seconds
URL: https://www.moneycontrol.com/financials/tataconsultancyservices/ratiosVI/TCS
Time taken to parse an Article: 1.280845 seconds
URL: https://www.marketscreener.com/quote/stock/TATA-CONSULTANCY-SERVICES-9743454/ratings/
Time taken to parse an Article: 1.623243 seconds
URL: https://www.alphaspread.com/security/nse/tcs/summary
Time taken to parse an Article: 1.895707 seconds
Time taken to Complete Parsing all Articles Excluding Bing Search: 1.906061 seconds
articles fetched from bing and cleaned for do fundamental analysis for TCS in 2.737135171890259 secs
articles created in the backend for do fundamental analysis for TCS in 0.3568739891052246 secs

{'searchArticleIds': [{'article_id': '661e1b520abc8f1dad39ec1f'},
  {'article_id': '661e1d5c0abc8f1dad39ec26'},
  {'article_id': '661e1d5c0abc8f1dad39ec27'},
  {'article_id': '661e1b520abc8f1dad39ec21'},
  {'article_id': '661e1b520abc8f1dad39ec20'},
  {'article_id': '661e1d5c0abc8f1dad39ec2a'},
  {'article_id': '661e1b520abc8f1dad39ec24'},
  {'article_id': '661e1d5c0abc8f1dad39ec2c'}],
 'additionalInfo': {'query_understanding': {'model': 'gpt-4-0125-preview',
   'prompt_tokens': 809,
   'completion_tokens': 26,
   'system_prompt': "You are an expert financial analyst working for a leading indian fintech platform. User queries are either related to their own portfolio (eg. what is the total value of my portfolio or what are my most profitable holdings) or about general financial and business news (eg. how to save taxes or what is the performance of reliance over last 5 years). You extract the following attributes from a given user query. Today is “2024-03-15”. The platform has a database with the following data for user's own portfolio.\n    user_portfolio: name, nseticker, holding_quantity, avg_buy_price, current_price\n    Based on user's query we'll either run the function search_web_for_query, extract_portfolio_details, calc_growth_rate_for_user_portfolio_companies or get_share_price_history_for_companies\n    If user asks for performance of specific companies, then use get_share_price_history_for_companies. However, if the user asks for anything which is more than share price of the company - like fundamental analysis, strengths, weaknesses, earning call results or any other complex queries which need other inputs then use search_web_for_query   \n    respond only with the json with the above keys. don't answer the user query directly, but only extract the attributes",
   'user_prompt': {'query': 'user_query: do fundamental analysis for TCS',
    'tools': [{'type': 'function',
      'function': {'name': 'search_web_for_query',
       'description': "Search web for the user query. To be called when query is not related to analysis of user's own portfolio",
       'parameters': {'type': 'object',
        'properties': {'financial_or_business_query': {'type': 'boolean',
          'description': 'If the query is relevant for personal finance, markets of business related queries'},
         'recency_importance': {'type': 'string',
          'enum': ['high', 'medium'],
          'description': 'How important is that only most recent articles are fetched. high for very volatile like latest stock prices, medium for slowly changing stuff like regulations or educational and guides'}},
        'required': ['financial_or_business_query', 'recency_importance']}}},
     {'type': 'function',
      'function': {'name': 'extract_portfolio_snapshot_details',
       'description': 'Extract details related to user portfolio snapshot - either current or invested',
       'parameters': {'type': 'object',
        'properties': {'aggregation_metric': {'type': 'string',
          'enum': ['current_value',
           'invested_value',
           'profit',
           'profit_percent'],
          'description': 'Metric user is requesting for'},
         'aggregation_level': {'type': 'string',
          'enum': ['overall', 'company'],
          'description': 'If the user is looking for overall stats or breaking down by company'},
         'companies_mentioned': {'type': 'array',
          'items': {'type': 'string'},
          'minItems': 0,
          'maxItems': 5,
          'description': 'Array of company names mentioned in the user query'},
         'sorting_order': {'type': 'string',
          'enum': ['ascending', 'descending'],
          'description': 'sorting order requested based on the aggregation_metric. For example user asks for least profitable or most loss making, then sorting order is ascending'}},
        'required': ['aggregation_metric',
         'aggregation_level',
         'companies_mentioned',
         'sorting_order']}}},
     {'type': 'function',
      'function': {'name': 'extract_portfolio_growth_details',
       'description': 'Extract details related to growth rate of user portfolio over a period',
       'parameters': {'type': 'object',
        'properties': {'aggregation_metric': {'type': 'string',
          'enum': ['growth', 'growth_over_index'],
          'description': 'Metric user is requesting for. If user wants comparison with index, then its growth_over_index else its growth'},
         'aggregation_level': {'type': 'string',
          'enum': ['overall', 'company'],
          'description': 'If the user is looking for overall stats or breaking down by company'},
         'companies_mentioned': {'type': 'array',
          'items': {'type': 'string'},
          'minItems': 0,
          'maxItems': 5,
          'description': 'Array of company names mentioned in the user query'},
         'sorting_order': {'type': 'string',
          'enum': ['ascending', 'descending'],
          'description': 'sorting order requested based on the aggregation_metric. For example user asks for least profitable or most loss making, then sorting order is ascending'},
         'num_days': {'type': 'number',
          'description': 'number of days for calculating growth. if nothing is provided, then default is 365 days'}},
        'required': ['aggregation_metric',
         'aggregation_level',
         'companies_mentioned',
         'sorting_order',
         'num_days']}}},
     {'type': 'function',
      'function': {'name': 'get_share_price_history_for_companies',
       'description': 'Get the latest and historic share prices for companies. If user does not mention company or asks for sensex or NSE, index or general market - then use NIFTY 50',
       'parameters': {'type': 'object',
        'properties': {'companies_mentioned': {'type': 'array',
          'items': {'type': 'string'},
          'minItems': 1,
          'maxItems': 5,
          'description': 'Array of company names mentioned in the user query'}},
        'required': ['companies_mentioned']}}}]},
   'evaluation': {'function': {'name': 'search_web_for_query',
     'arguments': {'financial_or_business_query': True,
      'recency_importance': 'medium'}}}}}}

In [6]:
index_investment_option = PortfolioSQL.get_instrument_token_for_nse_ticker('NIFTY 50')
index_history = PortfolioSQL.get_investment_option_price_long_history([index_investment_option], num_days=180)

In [7]:
index_history

Empty DataFrame
Columns: [investment_option_id, dt, price]
Index: []

In [3]:
a = PortfolioService.calc_growth_rate_for_user_portfolio_companies(user_id = 1, companies_list=[])

In [4]:
a

[{'bar_chart': {'value_type': 'percent',
   'chart_title': 'Top Holdings by Growth',
   'data': [{'SAMVRDHNA MTHRSN INTL': -0.0124},
    {'MTAR TECHNOLOGIES': 0.0},
    {'NIP IND ETF GOLD BEES': 0.0},
    {'ITC': 0.0},
    {'MULTI COMMODITY EXCHANGE': 0.0},
    {'TITAN COMPANY': 0.0},
    {'PIDILITE INDUSTRIES': 0.0},
    {'MOTHERSON SUMI WRNG IND L': 0.0},
    {'ADANI WILMAR': 0.0},
    {'NIP IND ETF LIQUID BEES': 0.0},
    {'RESTAURANT BRAND ASIA': 0.0},
    {'INDIAN ENERGY EXC': 0.0},
    {'NIP IND ETF NIFTY BEES': 0.003},
    {'CENTRAL DEPO SER (I)': 0.0041},
    {'OIL AND NATURAL GAS CORP.': 0.007},
    {'INDIAN RAIL TOUR CORP': 0.0084},
    {'ZOMATO': 0.0185},
    {'BSE': 0.0246},
    {'VL E GOV AND IT SOL': 0.034},
    {'VL E GOV AND IT SOL': 0.034},
    {'CUPID': 0.0416},
    {'CUPID': 0.0416}]}}]

In [4]:
a['starting_value'] = a['']

,investment_option_id,dt,price,user_id,name,ticker,kite_quotes_symbol,quantity,average_price
0,362,2024-04-10,2869.00,1,BSE,BSE,NSE:BSE,15.0,613.7200
1,362,2024-04-08,2800.00,1,BSE,BSE,NSE:BSE,15.0,613.7200
2,694,2024-04-10,1022.95,1,INDIAN RAIL TOUR CORP,IRCTC,NSE:IRCTC,15.0,696.2700
3,694,2024-04-08,1014.45,1,INDIAN RAIL TOUR CORP,IRCTC,NSE:IRCTC,15.0,696.2700
4,1204,2024-04-10,70.00,1,VL E GOV AND IT SOL,VLEGOV,BSE:VLEGOV,11.0,413.1550
5,1204,2024-04-10,70.00,1,VL E GOV AND IT SOL,VLEGOV-BE,NSE:VLEGOV-BE,11.0,413.1550
6,1204,2024-04-08,67.70,1,VL E GOV AND IT SOL,VLEGOV,BSE:VLEGOV,11.0,413.1550
7,1204,2024-04-08,67.70,1,VL E GOV AND IT SOL,VLEGOV-BE,NSE:VLEGOV-BE,11.0,413.1550
8,1694,2024-04-10,3891.45,1,MULTI COMMODITY EXCHANGE,MCX,NSE:MCX,10.0,1394.4300
9,1853,2024-04-10,251.56,1,NIP IND ETF NIFTY BEES,NIFTYBEES,NSE:NIFTYBEES,24.0,194.6900
10,1853,2024-04-08,250.81,1,NIP IND ETF NIFTY BEES,NIFTYBEES,NSE:NIFTYBEES,24.0,194.6900
11,2151,2024-04-08,3748.00,1,TITAN COMPANY,TITAN,NSE:TITAN,4.0,2532.6200
12,2553,2024-04-08,3040.35,1,PIDILITE INDUSTRIES,PIDILITIND,NSE:PIDILITIND,5.0,2539.4700
13,3056,2024-04-08,69.95,1,MOTHERSON SUMI WRNG IND L,MSUMI,NSE:MSUMI,14.0,16.3008
14,3955,2024-04-10,119.15,1,SAMVRDHNA MTHRSN INTL,MOTHERSON,NSE:MOTHERSON,15.0,129.2690
15,3955,2024-04-08,120.65,1,SAMVRDHNA MTHRSN INTL,MOTHERSON,NSE:MOTHERSON,15.0,129.2690
16,4005,2024-04-10,272.10,1,OIL AND NATURAL GAS CORP.,ONGC,NSE:ONGC,52.0,149.5120
17,4005,2024-04-08,270.20,1,OIL AND NATURAL GAS CORP.,ONGC,NSE:ONGC,52.0,149.5120
18,4051,2024-04-10,999.99,1,NIP IND ETF LIQUID BEES,LIQUIDBEES,NSE:LIQUIDBEES,8.0,1000.0100
19,4051,2024-04-08,999.99,1,NIP IND ETF LIQUID BEES,LIQUIDBEES,NSE:LIQUIDBEES,8.0,1000.0100
20,4537,2024-04-10,195.80,1,ZOMATO,ZOMATO,NSE:ZOMATO,44.0,128.1680
21,4537,2024-04-08,192.25,1,ZOMATO,ZOMATO,NSE:ZOMATO,44.0,128.1680
22,4694,2024-04-10,150.45,1,INDIAN ENERGY EXC,IEX,NSE:IEX,60.0,157.8800
23,4904,2024-04-10,100.00,1,RESTAURANT BRAND ASIA,RBA,NSE:RBA,13.0,145.8000
24,4989,2024-04-08,429.35,1,ITC,ITC,NSE:ITC,40.0,348.5600
25,5019,2024-04-10,60.62,1,NIP IND ETF GOLD BEES,GOLDBEES,NSE:GOLDBEES,204.0,46.1866
26,5365,2024-04-10,1882.70,1,CENTRAL DEPO SER (I),CDSL,NSE:CDSL,10.0,1187.2600
27,5365,2024-04-08,1875.10,1,CENTRAL DEPO SER (I),CDSL,NSE:CDSL,10.0,1187.2600
28,5429,2024-04-10,350.50,1,ADANI WILMAR,AWL,NSE:AWL,12.0,598.3750
29,5552,2024-04-10,1882.00,1,MTAR TECHNOLOGIES,MTARTECH,NSE:MTARTECH,5.0,1626.6000
30,4980,2024-04-10,133.95,1,CUPID,CUPID,BSE:CUPID,500.0,23.9270
31,4980,2024-04-10,133.95,1,CUPID,CUPID-BE,NSE:CUPID-BE,500.0,23.9270
32,4980,2024-04-08,128.60,1,CUPID,CUPID,BSE:CUPID,500.0,23.9270
33,4980,2024-04-08,128.60,1,CUPID,CUPID-BE,NSE:CUPID-BE,500.0,23.9270

In [7]:
b.iloc[0]['growth']

0.1379

In [11]:
a = PortfolioSQL.get_user_current_holdings(1)

In [ ]:
d = portfolio_df[['name', 'ticker']].set_index('name').to_dict('index')

In [3]:
PortfolioService.filter_portfolio_by_names_list(companies_list=['tata'], portfolio_df=a)

NameError: name 'a' is not defined

In [ ]:
PortfolioService.get_u

In [3]:
k = PortfolioService.calc_growth_rate_for_user_portfolio_companies(user_id = 1, companies_list=[])

In [4]:
k

,investment_option_id,min_date_price,max_date_price,growth,annualized_growth,user_id,name,ticker,kite_quotes_symbol,quantity,average_price
0,362,1481.00,2800.00,0.8906,2.638167,1,BSE,BSE,NSE:BSE,15.0,613.7200
1,694,703.35,1014.45,0.4423,1.101500,1,INDIAN RAIL TOUR CORP,IRCTC,NSE:IRCTC,15.0,696.2700
2,880,666.20,1013.35,0.5211,1.340860,1,TATA MOTORS,TATAMOTORS,NSE:TATAMOTORS,20.0,441.8880
3,1032,2074.20,2782.60,0.3415,0.814369,1,COLGATE PALMOLIVE.,COLPAL,NSE:COLPAL,4.0,1576.3000
4,1104,254.80,408.80,0.6044,1.608125,1,TATA POWER CO,TATAPOWER,NSE:TATAPOWER,36.0,224.8250
5,1204,33.20,67.70,1.0392,3.241464,1,VL E GOV AND IT SOL,VLEGOV,BSE:VLEGOV,11.0,413.1550
6,1204,33.20,67.70,1.0392,3.241464,1,VL E GOV AND IT SOL,VLEGOV-BE,NSE:VLEGOV-BE,11.0,413.1550
7,1694,2197.15,3575.90,0.6275,1.684835,1,MULTI COMMODITY EXCHANGE,MCX,NSE:MCX,10.0,1394.4300
8,1853,217.90,250.81,0.1510,0.329986,1,NIP IND ETF NIFTY BEES,NIFTYBEES,NSE:NIFTYBEES,24.0,194.6900
9,2151,3301.40,3755.95,0.1377,0.299008,1,TITAN COMPANY,TITAN,NSE:TITAN,4.0,2532.6200
10,2553,2434.60,2999.75,0.2321,0.526897,1,PIDILITE INDUSTRIES,PIDILITIND,NSE:PIDILITIND,5.0,2539.4700
11,3056,62.75,68.55,0.0924,0.196271,1,MOTHERSON SUMI WRNG IND L,MSUMI,NSE:MSUMI,14.0,16.3008
12,3519,480.92,669.70,0.3925,0.956972,1,NIP IND ETF JUNIOR BEES,JUNIORBEES,NSE:JUNIORBEES,7.0,433.9470
13,4005,180.80,270.20,0.4945,1.258598,1,OIL AND NATURAL GAS CORP.,ONGC,NSE:ONGC,52.0,149.5120
14,4051,1000.00,1000.00,0.0000,0.000000,1,NIP IND ETF LIQUID BEES,LIQUIDBEES,NSE:LIQUIDBEES,8.0,1000.0100
15,4447,374.30,328.05,-0.1236,-0.234733,1,GREENPANEL INDUSTRIES,GREENPANEL,NSE:GREENPANEL,5.0,429.5000
16,4537,111.50,192.25,0.7242,2.018194,1,ZOMATO,ZOMATO,NSE:ZOMATO,44.0,128.1680
17,4694,135.10,142.40,0.0540,0.112540,1,INDIAN ENERGY EXC,IEX,NSE:IEX,60.0,157.8800
18,4904,122.50,103.15,-0.1580,-0.294415,1,RESTAURANT BRAND ASIA,RBA,NSE:RBA,13.0,145.8000
19,4980,23.30,128.60,4.5193,30.943014,1,CUPID,CUPID,BSE:CUPID,500.0,23.9270
20,4980,23.30,128.60,4.5193,30.943014,1,CUPID,CUPID-BE,NSE:CUPID-BE,500.0,23.9270
21,4989,448.95,429.35,-0.0437,-0.086625,1,ITC,ITC,NSE:ITC,40.0,348.5600
22,5019,50.25,58.64,0.1670,0.367744,1,NIP IND ETF GOLD BEES,GOLDBEES,NSE:GOLDBEES,204.0,46.1866
23,5365,1369.80,1875.10,0.3689,0.890304,1,CENTRAL DEPO SER (I),CDSL,NSE:CDSL,10.0,1187.2600
24,5429,341.75,354.50,0.0373,0.077086,1,ADANI WILMAR,AWL,NSE:AWL,12.0,598.3750
25,5552,2588.50,1953.60,-0.2453,-0.434863,1,MTAR TECHNOLOGIES,MTARTECH,NSE:MTARTECH,5.0,1626.6000

In [8]:
(1 + 2.638167)**(180/365)

1.8905999988140194

In [5]:
k

,investment_option_id,min_date_price,max_date_price,growth,annualized_growth,user_id,name,ticker,kite_quotes_symbol,quantity,average_price
0,4537,111.5,183.1,0.6422,1.734237,1,ZOMATO,ZOMATO,NSE:ZOMATO,44.0,128.168

In [3]:
PortfolioService.get_latest_prices_for_tickers(['NSE:INFY'])

{'NSE:INFY': 1506.8}

In [5]:
import time

In [8]:
s = time.time()
a = PortfolioSQL.get_user_current_holdings(1)
e = time.time()

In [9]:
e-s

0.5211870670318604

In [4]:
a = PortfolioService.filter_all_companies_by_name(companies_list=['adani'])

In [5]:
s = a['kite_quotes_symbol']

In [6]:
import requests

In [7]:
symbols = s[:500]
url = "https://api.kite.trade/quote/ohlc"
api_key = os.environ.get('KITE_API_KEY')
access_token = os.environ.get('KITE_ACCESS_TOKEN')
headers = {
    "X-Kite-Version": "3",
    "Authorization": f"token {api_key}:{access_token}"
}
params = {
    "i": symbols
}
response = requests.get(url, headers=headers, params=params)
data = response.json()
last_prices = {}

In [8]:
response.text

'{"status":"success","data":{"NSE:ADANIENSOL":{"instrument_token":2615553,"last_price":1065.1,"ohlc":{"open":1075.8,"high":1076,"low":1056,"close":1071.25}},"NSE:ADANIENT":{"instrument_token":6401,"last_price":3238.05,"ohlc":{"open":3200,"high":3254.6,"low":3192.5,"close":3198.45}},"NSE:ADANIGREEN":{"instrument_token":912129,"last_price":1905.65,"ohlc":{"open":1920.05,"high":1924.15,"low":1895,"close":1916.2}},"NSE:ADANIPORTS":{"instrument_token":3861249,"last_price":1353.35,"ohlc":{"open":1359,"high":1359.9,"low":1348.2,"close":1356.5}},"NSE:ADANIPOWER":{"instrument_token":4451329,"last_price":614,"ohlc":{"open":621.4,"high":621.4,"low":610,"close":616.35}},"NSE:ATGL":{"instrument_token":1552897,"last_price":962.35,"ohlc":{"open":965,"high":967.3,"low":956.5,"close":962.15}},"NSE:AWL":{"instrument_token":2076161,"last_price":351.8,"ohlc":{"open":352.9,"high":354.4,"low":348.65,"close":352.2}}}}'

In [19]:
access_token

'0xQTMQQlxCXDQ8TMRmOL6qwIIXbmK7nY'

In [16]:
data

{'status': 'error',
 'message': 'Incorrect `api_key` or `access_token`.',
 'data': None,
 'error_type': 'TokenException'}

In [15]:
data['data'].items()

AttributeError: 'NoneType' object has no attribute 'items'

In [10]:
PortfolioService.get_latest_prices_for_tickers(kite_quote_symbols=s)

AttributeError: 'NoneType' object has no attribute 'items'

In [9]:
s = list(set(a['kite_quotes_symbol']))

In [3]:
a = PortfolioService.get_latest_share_price_trend_for_companies(['adani'])

['NSE:ADANIPOWER', 'NSE:ADANIENSOL', 'NSE:AWL', 'NSE:ADANIENT', 'NSE:ADANIGREEN', 'NSE:ATGL', 'NSE:ADANIPORTS']

In [5]:
import boto3
import base64

In [8]:
import json

In [9]:
def get_aws_secret():
    secret_name = "ArticleDbMasterCreds"
    region_name = "ap-south-1"

    session = boto3.session.Session()
    client = session.client(
        service_name='secretsmanager',
        region_name=region_name,
    )
    try:
        get_secret_value_response = client.get_secret_value(
            SecretId=secret_name
        )
    except Exception as e:
        raise e
    else:
        # Decrypts secret using the associated KMS CMK.
        # Depending on whether the secret is a string or binary, one of these fields will be populated.
        if 'SecretString' in get_secret_value_response:
            secret = get_secret_value_response['SecretString']
        else:
            secret = base64.b64decode(get_secret_value_response['SecretBinary'])

        return json.loads(secret)

In [11]:
import boto3

# Create a client
ssm = boto3.client('ssm')

# Specify the name of the parameter you want to get
parameter_name = 'kite-tokens'

# Get the parameter
parameter = ssm.get_parameter(Name=parameter_name, WithDecryption=True)

# The parameter value is stored in the 'Parameter' key, then 'Value'
value = parameter['Parameter']['Value']

In [14]:
json.loads(value)['accessToken']

'7VFNVTxmNbjvYz0thI8NDwTNYeLlK6yq'

In [10]:
get_aws_secret()

{'username': 'mongodb',
 'password': 'insightBETA-11_09',
 'engine': 'mongo',
 'host': 'insight-beta-article-db.cluster-chmaiagjipqy.ap-south-1.docdb.amazonaws.com',
 'port': 27017,
 'ssl': False,
 'dbClusterIdentifier': 'insight-beta-article-db'}

In [4]:
a

[{'text_box': {'value_type': 'rupees',
   'chart_title': 'Latest share price of Value',
   'data': [{'value': 3224.55}]}},
 {'line_chart': {'value_type': 'rupees',
   'chart_title': 'Share price history of Value',
   'data': [{'ADANIENT': {'2023-10-12': 2506.35,
      '2023-10-13': 2454.55,
      '2023-10-16': 2429.35,
      '2023-10-17': 2428.4,
      '2023-10-18': 2406.35,
      '2023-10-19': 2402.2,
      '2023-10-20': 2393.75,
      '2023-10-23': 2308.65,
      '2023-10-25': 2257.0,
      '2023-10-26': 2203.2,
      '2023-10-27': 2261.7,
      '2023-10-30': 2299.1,
      '2023-10-31': 2294.65,
      '2023-11-01': 2217.3,
      '2023-11-02': 2215.3,
      '2023-11-03': 2229.85,
      '2023-11-06': 2246.0,
      '2023-11-07': 2233.35,
      '2023-11-08': 2259.95,
      '2023-11-09': 2214.65,
      '2023-11-10': 2205.1,
      '2023-11-12': 2211.35,
      '2023-11-13': 2213.65,
      '2023-11-15': 2225.4,
      '2023-11-16': 2205.9,
      '2023-11-17': 2208.8,
      '2023-11-20': 2149.85,
      '2023-11-21': 2196.65,
      '2023-11-22': 2172.65,
      '2023-11-23': 2175.25,
      '2023-11-24': 2225.45,
      '2023-11-28': 2423.5,
      '2023-11-29': 2396.6,
      '2023-11-30': 2358.55,
      '2023-12-01': 2362.7,
      '2023-12-04': 2531.2,
      '2023-12-05': 2959.35,
      '2023-12-06': 2883.95,
      '2023-12-07': 2887.15,
      '2023-12-08': 2822.15,
      '2023-12-11': 2855.8,
      '2023-12-12': 2857.65,
      '2023-12-13': 2875.05,
      '2023-12-14': 2894.05,
      '2023-12-15': 2991.8,
      '2023-12-18': 2980.6,
      '2023-12-19': 2941.25,
      '2023-12-20': 2783.85,
      '2023-12-21': 2799.75,
      '2023-12-22': 2808.35,
      '2023-12-26': 2865.45,
      '2023-12-27': 2843.35,
      '2023-12-28': 2809.9,
      '2023-12-29': 2848.95,
      '2024-01-01': 2917.2,
      '2024-01-02': 2932.4,
      '2024-01-03': 3003.0,
      '2024-01-04': 2998.3,
      '2024-01-05': 3006.6,
      '2024-01-08': 2963.5,
      '2024-01-09': 3014.6,
      '2024-01-10': 3098.2,
      '2024-01-11': 3080.9,
      '2024-01-12': 3104.1,
      '2024-01-15': 3089.5,
      '2024-01-16': 3056.5,
      '2024-01-17': 2971.05,
      '2024-01-18': 2918.9,
      '2024-01-19': 2915.65,
      '2024-01-20': 2987.9,
      '2024-01-23': 2896.55,
      '2024-01-24': 2903.45,
      '2024-01-25': 2893.6,
      '2024-01-29': 3064.65,
      '2024-01-30': 3091.1,
      '2024-01-31': 3142.0,
      '2024-02-01': 3153.5,
      '2024-02-02': 3157.45,
      '2024-02-05': 3173.45,
      '2024-02-06': 3203.75,
      '2024-02-07': 3229.85,
      '2024-02-08': 3168.6,
      '2024-02-09': 3215.2,
      '2024-02-12': 3169.75,
      '2024-02-13': 3178.45,
      '2024-02-14': 3207.2,
      '2024-02-15': 3193.8,
      '2024-02-16': 3223.6,
      '2024-02-19': 3258.8,
      '2024-02-20': 3228.6,
      '2024-02-21': 3223.2,
      '2024-02-22': 3263.05,
      '2024-02-23': 3273.3,
      '2024-02-26': 3327.75,
      '2024-02-27': 3302.3,
      '2024-02-28': 3219.0,
      '2024-02-29': 3285.4,
      '2024-03-01': 3318.75,
      '2024-03-02': 3333.25,
      '2024-03-04': 3317.15,
      '2024-03-05': 3310.2,
      '2024-03-06': 3233.95,
      '2024-03-07': 3226.55,
      '2024-03-11': 3207.35,
      '2024-03-12': 3122.5,
      '2024-03-13': 2906.2,
      '2024-03-14': 3087.45,
      '2024-03-15': 3132.2,
      '2024-03-18': 3111.75,
      '2024-03-19': 3052.7,
      '2024-03-20': 3051.45,
      '2024-03-21': 3066.5,
      '2024-03-22': 3107.7,
      '2024-03-26': 3109.95,
      '2024-03-27': 3122.1,
      '2024-03-28': 3197.1,
      '2024-04-01': 3252.1,
      '2024-04-02': 3268.75,
      '2024-04-08': 3224.55}}]}}]

In [14]:
a[1]['line_chart']['data'][0]['ADANIENT']['2024-04-08']

3224.55

In [4]:
# a = PortfolioService.get_portfolio_performance_over_period(1)

In [4]:
b = PortfolioService.get_current_portfolio_value(user_id=1)

In [5]:
b

[{'text_box': {'data': [{'value': 288438.02}],
   'value_type': 'rupees',
   'chart_title': 'Current Value'}},
 {'bar_chart': {'value_type': 'rupees',
   'chart_title': 'Top Holdings by Current Value',
   'data': [{'BSE': 43234.5},
    {'MULTI COMMODITY EXCHANGE': 35540.5},
    {'TATA MOTORS': 20142.0},
    {'CENTRAL DEPO SER (I)': 18709.5},
    {'ITC': 17098.0},
    {'PIDILITE INDUSTRIES': 15030.0},
    {'TITAN COMPANY': 15022.8},
    {'INDIAN RAIL TOUR CORP': 14988.0},
    {'TATA POWER CO': 14859.0},
    {'others': 93813.72}]}}]

In [7]:
PortfolioService.get_latest_share_price_trend_for_companies(['infosys', 'adani'])

{'text_box': {'value_type': 'rupees',
  'chart_title': 'Latest share price of Adani enterprises',
  'data': {'ADANI ENTERPRISES': 3218.6, 'INFOSYS': 1479.7}}}

In [5]:
b[b.ticker == 'AWL']

,investment_option_id,dt,price,kite_quotes_symbol,ticker,quantity,average_price,value
2541,5429,2024-04-05,352.1,NSE:AWL,AWL,12.0,598.375,4225.2

In [8]:
a['starting_value'].sum()

211448.30000000002

In [9]:
a['current_value'].sum()

287768.64999999997

In [10]:
a

,ticker,min_date_price,max_date_price,starting_value,current_value,growth
0,AWL,352.00,352.00,4224.00,4224.00,0.0000
1,BSE,1383.95,2880.00,20759.25,43200.00,1.0810
2,CDSL,1872.00,1872.00,18720.00,18720.00,0.0000
3,COLPAL,2000.45,2722.90,8001.80,10891.60,0.3611
4,GOLDBEES,48.88,58.97,9971.52,12029.88,0.2064
5,GREENPANEL,366.85,329.25,1834.25,1646.25,-0.1025
6,IEX,131.50,145.60,7890.00,8736.00,0.1072
7,IRCTC,702.85,999.50,10542.75,14992.50,0.4221
8,ITC,440.45,426.90,17618.00,17076.00,-0.0308
9,JUNIORBEES,470.57,664.89,3293.99,4654.23,0.4129
10,LIQUIDBEES,999.99,1000.01,7999.92,8000.08,0.0000
11,MCX,2078.95,3554.40,20789.50,35544.00,0.7097
12,MOTHERSON,119.30,119.30,1789.50,1789.50,0.0000
13,MSUMI,61.50,71.10,861.00,995.40,0.1561
14,MTARTECH,1953.10,1953.10,9765.50,9765.50,0.0000
15,NIFTYBEES,215.48,249.29,5171.52,5982.96,0.1569
16,ONGC,175.95,268.55,9149.40,13964.60,0.5263
17,PIDILITIND,2425.00,3005.60,12125.00,15028.00,0.2394
18,RBA,122.80,105.20,1596.40,1367.60,-0.1433
19,TATAMOTORS,617.35,1007.80,12347.00,20156.00,0.6325
20,TATAPOWER,250.00,413.30,9000.00,14878.80,0.6532
21,TITAN,3267.50,3760.35,13070.00,15041.40,0.1508
22,VLEGOV-BE,32.40,64.45,356.40,708.95,0.9892
23,ZOMATO,103.90,190.35,4571.60,8375.40,0.8321

In [6]:
pd.concat([a,b])

,ticker,matching_score,user_query,investment_option_id,kite_quotes_symbol,name,price,dt,close
8,ADANIENT,90.0,adani,1403,NSE:ADANIENT,ADANI ENTERPRISES,3218.05,NaN,NaN
0,INFY,100.0,infosys,5018,NSE:INFY,INFOSYS,1479.95,NaN,NaN
0,ADANIENT,NaN,NaN,1403,NaN,ADANI ENTERPRISES,NaN,2023-10-09,2442.6
1,ADANIENT,NaN,NaN,1403,NaN,ADANI ENTERPRISES,NaN,2023-10-10,2498.3
2,ADANIENT,NaN,NaN,1403,NaN,ADANI ENTERPRISES,NaN,2023-10-11,2488.6
...,...,...,...,...,...,...,...,...,...
237,INFY,NaN,NaN,5018,NaN,INFOSYS,NaN,2024-03-26,1492.65
238,INFY,NaN,NaN,5018,NaN,INFOSYS,NaN,2024-03-27,1483.85
239,INFY,NaN,NaN,5018,NaN,INFOSYS,NaN,2024-03-28,1498.05
240,INFY,NaN,NaN,5018,NaN,INFOSYS,NaN,2024-04-01,1495.45
241,INFY,NaN,NaN,5018,NaN,INFOSYS,NaN,2024-04-02,1482.85

In [8]:
b

     investment_option_id          dt    close    ticker               name
0                    1403  2023-10-09   2442.6  ADANIENT  ADANI ENTERPRISES
1                    1403  2023-10-10   2498.3  ADANIENT  ADANI ENTERPRISES
2                    1403  2023-10-11   2488.6  ADANIENT  ADANI ENTERPRISES
3                    1403  2023-10-12  2506.35  ADANIENT  ADANI ENTERPRISES
4                    1403  2023-10-13  2454.55  ADANIENT  ADANI ENTERPRISES
..                    ...         ...      ...       ...                ...
237                  5018  2024-03-26  1492.65      INFY            INFOSYS
238                  5018  2024-03-27  1483.85      INFY            INFOSYS
239                  5018  2024-03-28  1498.05      INFY            INFOSYS
240                  5018  2024-04-01  1495.45      INFY            INFOSYS
241                  5018  2024-04-02  1482.85      INFY            INFOSYS

[242 rows x 5 columns]

In [4]:
PortfolioService.get_latest_prices_for_tickers(['NSE:INFY'])

{'NSE:INFY': 1480.9}

In [5]:
k = PortfolioService.get_price_history_user_holdings(99)

In [6]:
k.groupby('ticker')['ticker'].count()

ticker
ADANIPORTS    122
HDFCBANK      122
IDEA          122
NHPC          122
RELIANCE      122
SBIN          122
TATASTEEL     122
ZOMATO        122
Name: ticker, dtype: int64

In [9]:
k['dt'].nunique()

122

In [12]:
PortfolioService.filter_all_companies_by_name(['infosys'])

       ticker  matching_score kite_quotes_symbol               name
0        INFY             100           NSE:INFY            INFOSYS
1  SOUTHERNIN              90     BSE:SOUTHERNIN  SOUTHERN INFOSYS
2   HCL-INSYS              90      NSE:HCL-INSYS    HCL INFOSYSTEMS

In [13]:
PortfolioService.get_latest_share_price_trend_for_companies(['infosys'])

{'text_box': {'value_type': 'rupees',
  'chart_title': 'Latest share price of Infosys',
  'data': {'INFOSYS': 1486.7}}}

In [11]:
k.dtypes

investment_option_id             int64
dt                      datetime64[ns]
close                          float64
kite_quotes_symbol              object
ticker                          object
quantity                       float64
average_price                  float64
value                          float64
dtype: object

In [10]:
set(k['dt'])

{Timestamp('2023-10-09 00:00:00'),
 Timestamp('2023-10-10 00:00:00'),
 Timestamp('2023-10-11 00:00:00'),
 Timestamp('2023-10-12 00:00:00'),
 Timestamp('2023-10-13 00:00:00'),
 Timestamp('2023-10-16 00:00:00'),
 Timestamp('2023-10-17 00:00:00'),
 Timestamp('2023-10-18 00:00:00'),
 Timestamp('2023-10-19 00:00:00'),
 Timestamp('2023-10-20 00:00:00'),
 Timestamp('2023-10-23 00:00:00'),
 Timestamp('2023-10-25 00:00:00'),
 Timestamp('2023-10-26 00:00:00'),
 Timestamp('2023-10-27 00:00:00'),
 Timestamp('2023-10-30 00:00:00'),
 Timestamp('2023-10-31 00:00:00'),
 Timestamp('2023-11-01 00:00:00'),
 Timestamp('2023-11-02 00:00:00'),
 Timestamp('2023-11-03 00:00:00'),
 Timestamp('2023-11-06 00:00:00'),
 Timestamp('2023-11-07 00:00:00'),
 Timestamp('2023-11-08 00:00:00'),
 Timestamp('2023-11-09 00:00:00'),
 Timestamp('2023-11-10 00:00:00'),
 Timestamp('2023-11-12 00:00:00'),
 Timestamp('2023-11-13 00:00:00'),
 Timestamp('2023-11-15 00:00:00'),
 Timestamp('2023-11-16 00:00:00'),
 Timestamp('2023-11-17 00:00:00'),
 Timestamp('2023-11-20 00:00:00'),
 Timestamp('2023-11-21 00:00:00'),
 Timestamp('2023-11-22 00:00:00'),
 Timestamp('2023-11-23 00:00:00'),
 Timestamp('2023-11-24 00:00:00'),
 Timestamp('2023-11-28 00:00:00'),
 Timestamp('2023-11-29 00:00:00'),
 Timestamp('2023-11-30 00:00:00'),
 Timestamp('2023-12-01 00:00:00'),
 Timestamp('2023-12-04 00:00:00'),
 Timestamp('2023-12-05 00:00:00'),
 Timestamp('2023-12-06 00:00:00'),
 Timestamp('2023-12-07 00:00:00'),
 Timestamp('2023-12-08 00:00:00'),
 Timestamp('2023-12-11 00:00:00'),
 Timestamp('2023-12-12 00:00:00'),
 Timestamp('2023-12-13 00:00:00'),
 Timestamp('2023-12-14 00:00:00'),
 Timestamp('2023-12-15 00:00:00'),
 Timestamp('2023-12-18 00:00:00'),
 Timestamp('2023-12-19 00:00:00'),
 Timestamp('2023-12-20 00:00:00'),
 Timestamp('2023-12-21 00:00:00'),
 Timestamp('2023-12-22 00:00:00'),
 Timestamp('2023-12-26 00:00:00'),
 Timestamp('2023-12-27 00:00:00'),
 Timestamp('2023-12-28 00:00:00'),
 Timestamp('2023-12-29 00:00:00'),
 Timestamp('2024-01-01 00:00:00'),
 Timestamp('2024-01-02 00:00:00'),
 Timestamp('2024-01-03 00:00:00'),
 Timestamp('2024-01-04 00:00:00'),
 Timestamp('2024-01-05 00:00:00'),
 Timestamp('2024-01-08 00:00:00'),
 Timestamp('2024-01-09 00:00:00'),
 Timestamp('2024-01-10 00:00:00'),
 Timestamp('2024-01-11 00:00:00'),
 Timestamp('2024-01-12 00:00:00'),
 Timestamp('2024-01-15 00:00:00'),
 Timestamp('2024-01-16 00:00:00'),
 Timestamp('2024-01-17 00:00:00'),
 Timestamp('2024-01-18 00:00:00'),
 Timestamp('2024-01-19 00:00:00'),
 Timestamp('2024-01-20 00:00:00'),
 Timestamp('2024-01-23 00:00:00'),
 Timestamp('2024-01-24 00:00:00'),
 Timestamp('2024-01-25 00:00:00'),
 Timestamp('2024-01-29 00:00:00'),
 Timestamp('2024-01-30 00:00:00'),
 Timestamp('2024-01-31 00:00:00'),
 Timestamp('2024-02-01 00:00:00'),
 Timestamp('2024-02-02 00:00:00'),
 Timestamp('2024-02-05 00:00:00'),
 Timestamp('2024-02-06 00:00:00'),
 Timestamp('2024-02-07 00:00:00'),
 Timestamp('2024-02-08 00:00:00'),
 Timestamp('2024-02-09 00:00:00'),
 Timestamp('2024-02-12 00:00:00'),
 Timestamp('2024-02-13 00:00:00'),
 Timestamp('2024-02-14 00:00:00'),
 Timestamp('2024-02-15 00:00:00'),
 Timestamp('2024-02-16 00:00:00'),
 Timestamp('2024-02-19 00:00:00'),
 Timestamp('2024-02-20 00:00:00'),
 Timestamp('2024-02-21 00:00:00'),
 Timestamp('2024-02-22 00:00:00'),
 Timestamp('2024-02-23 00:00:00'),
 Timestamp('2024-02-26 00:00:00'),
 Timestamp('2024-02-27 00:00:00'),
 Timestamp('2024-02-28 00:00:00'),
 Timestamp('2024-02-29 00:00:00'),
 Timestamp('2024-03-01 00:00:00'),
 Timestamp('2024-03-02 00:00:00'),
 Timestamp('2024-03-04 00:00:00'),
 Timestamp('2024-03-05 00:00:00'),
 Timestamp('2024-03-06 00:00:00'),
 Timestamp('2024-03-07 00:00:00'),
 Timestamp('2024-03-11 00:00:00'),
 Timestamp('2024-03-12 00:00:00'),
 Timestamp('2024-03-13 00:00:00'),
 Timestamp('2024-03-14 00:00:00'),
 Timestamp('2024-03-15 00:00:00'),
 Timestamp('2024-03-18 00:00:00'),
 Timestamp('2024-03-19 00:00:00'),
 Timestamp('2024-03-20 00:00:00'),
 Timestamp('2024-03-21 00:00:00'),
 Timestamp('2024-03-22 00:00:00'),
 Timestamp('2024-03-26 00:00:00'),
 Timestamp('2024-03-27 00:00:00'),
 Timestamp('2024-03-28 00:00:00'),
 Timestamp('2024-04-01 00:00:00'),
 Timestamp('2024-04-02 00:00:00'),
 Timestamp('2024-04-05 00:00:00')}

In [3]:
k = PortfolioSQL.get_nse_ticker_list_history([1,2,3])

In [9]:
import time

In [10]:
s = time.time()
a = PortfolioSQL.get_all_nse_symbols()
e = time.time()

In [11]:
e-s

7.424973964691162

In [6]:
import time

In [7]:
s = time.time()
PortfolioService.get_latest_share_price_trend_for_companies(['infosys'])
e = time.time()

In [8]:
e-s

2.1446940898895264

In [4]:
PortfolioService.filter_nse_companies_by_name(['infosys'])

       ticker  matching_score kite_quotes_symbol               name
0        INFY             100           NSE:INFY            INFOSYS
1  SOUTHERNIN              90     BSE:SOUTHERNIN  SOUTHERN INFOSYS
2   HCL-INSYS              90      NSE:HCL-INSYS    HCL INFOSYSTEMS

In [8]:
k = '[Insight.PortfolioDatum(textBox: Optional(Insight.TextBox(totalProfit: nil, graphType: nil, valueType: Optional("rupees"), chartTitle: Optional("Current Value"))), barChart: nil), Insight.PortfolioDatum(textBox: nil, barChart: Optional(Insight.BarChart(chartTitle: Optional("Top Holdings by Current Value"), data: Optional([["RELIANCE INDUSTRIES": 2943.2], ["HDFC BANK": 1482.3], ["ADANI PORT & SEZ": 1397.2], ["STATE BANK OF INDIA": 771.05], ["ZOMATO": 178.3], ["TATA STEEL": 163.65], ["NHPC": 93.2], ["VODAFONE IDEA": 13.55]]), valueType: Optional("rupees"))))]'

In [11]:
k = [{'a': 'b'}]

In [13]:
k = []

In [14]:
if k:
    print(1)

In [9]:
import json

In [5]:
PortfolioService.get_current_portfolio_value(1, companies_list=['cupid'])

[{'text_box': {'data': [{'value': 5857.5}],
   'value_type': 'rupees',
   'chart_title': 'Current Value'}},
 {'bar_chart': {'value_type': 'rupees',
   'chart_title': 'Top Holdings by Current Value',
   'data': [{'CUPID': 5857.5}]}}]

In [4]:
s = PortfolioService.get_price_history_user_holdings(user_id=1)

In [5]:
s.dtypes

nse_ticker                     object
dt                     datetime64[ns]
close                         float64
user_id                         int64
name                           object
kite_trading_symbol            object
instrument_token               object
quantity                      float64
average_price                 float64
value                         float64
dtype: object

In [8]:
k = PortfolioService.get_portfolio_performance_over_period(user_id = 1)

In [19]:
s1 = PortfolioSQL.get_nse_ticker_list_history(nse_ticker_list=['HDIL', 'L&TFH'], num_days=180)

In [20]:
s1 = s1.rename(columns = {'dt': 'date', 'close': 'price'})

In [27]:
data = {}

In [25]:
resp = []

In [28]:
for tick in set(s1['nse_ticker']):
    cur_ticker_data = s1[s1.nse_ticker == tick]
    data[f'{tick}'] = [{x['date'].strftime('%Y-%m-%d'): float(x['price'])} for i, x in cur_ticker_data.iterrows()]
    # data.append(cur_data)

In [29]:
resp = [{'line_chart': {'data': data, 'value_type': 'rupees', 'chart_title': f'HIUL share price history'}}]

In [30]:
resp

[{'line_chart': {'data': {'HDIL': [{'2023-10-09': 3.15},
     {'2023-10-10': 3.3},
     {'2023-10-11': 3.45},
     {'2023-10-16': 3.3},
     {'2023-10-23': 3.15},
     {'2023-10-30': 3.0},
     {'2023-11-06': 3.1},
     {'2023-11-13': 3.25},
     {'2023-11-20': 3.4},
     {'2023-11-28': 3.5},
     {'2023-12-01': 3.65},
     {'2023-12-04': 3.8},
     {'2023-12-05': 3.95},
     {'2023-12-06': 4.1},
     {'2023-12-07': 4.3},
     {'2023-12-08': 4.5},
     {'2023-12-11': 4.7},
     {'2023-12-18': 4.5},
     {'2023-12-26': 4.3},
     {'2024-01-01': 4.1},
     {'2024-01-08': 3.9},
     {'2024-01-15': 3.9},
     {'2024-01-23': 4.05},
     {'2024-01-29': 4.25},
     {'2024-02-01': 4.45},
     {'2024-02-02': 4.65},
     {'2024-02-05': 4.85},
     {'2024-02-06': 5.05},
     {'2024-02-07': 5.3},
     {'2024-02-08': 5.55},
     {'2024-02-09': 5.8},
     {'2024-02-19': 5.55},
     {'2024-02-26': 5.3},
     {'2024-03-04': 5.05},
     {'2024-03-11': 4.8},
     {'2024-03-18': 4.6},
     {'2024-03-26': 4.4},
     {'2024-04-01': 4.2},
     {'2024-04-02': 4.4}],
    'L&TFH': [{'2023-10-09': 131.0},
     {'2023-10-10': 133.7},
     {'2023-10-11': 132.85},
     {'2023-10-12': 133.85},
     {'2023-10-13': 133.6},
     {'2023-10-16': 134.9},
     {'2023-10-17': 139.1},
     {'2023-10-18': 137.05},
     {'2023-10-19': 138.15},
     {'2023-10-20': 137.85},
     {'2023-10-23': 132.5},
     {'2023-10-25': 132.4},
     {'2023-10-26': 131.4},
     {'2023-10-27': 137.0},
     {'2023-10-30': 132.45},
     {'2023-10-31': 133.0},
     {'2023-11-01': 131.85},
     {'2023-11-02': 134.3},
     {'2023-11-03': 140.85},
     {'2023-11-06': 142.45},
     {'2023-11-07': 141.85},
     {'2023-11-08': 140.95},
     {'2023-11-09': 140.95},
     {'2023-11-10': 140.8},
     {'2023-11-12': 141.95},
     {'2023-11-13': 144.4},
     {'2023-11-15': 150.45},
     {'2023-11-16': 149.7},
     {'2023-11-17': 141.15},
     {'2023-11-20': 139.45},
     {'2023-11-21': 141.65},
     {'2023-11-22': 141.45},
     {'2023-11-23': 141.85},
     {'2023-11-24': 139.9},
     {'2023-11-28': 144.75},
     {'2023-11-29': 145.15},
     {'2023-11-30': 148.25},
     {'2023-12-01': 151.0},
     {'2023-12-04': 153.85},
     {'2023-12-05': 154.55},
     {'2023-12-06': 155.9},
     {'2023-12-07': 154.8},
     {'2023-12-08': 153.8},
     {'2023-12-11': 153.3},
     {'2023-12-12': 152.45},
     {'2023-12-13': 155.25},
     {'2023-12-14': 159.35},
     {'2023-12-15': 161.25},
     {'2023-12-18': 159.6},
     {'2023-12-19': 159.5},
     {'2023-12-20': 150.1},
     {'2023-12-21': 151.55},
     {'2023-12-22': 152.8},
     {'2023-12-26': 153.0},
     {'2023-12-27': 156.05},
     {'2023-12-28': 162.15},
     {'2023-12-29': 165.05},
     {'2024-01-01': 163.45},
     {'2024-01-02': 162.35},
     {'2024-01-03': 166.15},
     {'2024-01-04': 171.6},
     {'2024-01-05': 170.9},
     {'2024-01-08': 168.35},
     {'2024-01-09': 166.45},
     {'2024-01-10': 165.75},
     {'2024-01-11': 168.5},
     {'2024-01-12': 167.15},
     {'2024-01-15': 169.75},
     {'2024-01-16': 167.5},
     {'2024-01-17': 169.7},
     {'2024-01-18': 166.45},
     {'2024-01-19': 168.3},
     {'2024-01-20': 166.9},
     {'2024-01-23': 159.55},
     {'2024-01-24': 161.25},
     {'2024-01-25': 166.9},
     {'2024-01-29': 167.6},
     {'2024-01-30': 167.8},
     {'2024-01-31': 173.2},
     {'2024-02-01': 172.25},
     {'2024-02-02': 174.7},
     {'2024-02-05': 173.15},
     {'2024-02-06': 170.3},
     {'2024-02-07': 176.25},
     {'2024-02-08': 172.9},
     {'2024-02-09': 171.5},
     {'2024-02-12': 166.75},
     {'2024-02-13': 170.6},
     {'2024-02-14': 172.1},
     {'2024-02-15': 171.6},
     {'2024-02-16': 173.8},
     {'2024-02-19': 175.25},
     {'2024-02-20': 174.45},
     {'2024-02-21': 170.45},
     {'2024-02-22': 171.6},
     {'2024-02-23': 171.6},
     {'2024-02-26': 171.05},
     {'2024-02-27': 169.05},
     {'2024-02-28': 165.1},
     {'2024-02-29': 167.15},
     {'2024-03-01': 170.65},
     {'2024-03-02': 171.4},
     {'2024-03-04': 174.3},
     {'2024-03-05': 171.75},
     {'2024-03-06': 159.2},
     {'2024-03-07': 161.8},
     {'2024-03-11': 157.55},
     {'2024-03-12': 155.55},
     {'2024-03-13': 147.6},
     {'2024-03-14': 149.2},
     {'2024-03-15': 150.9},
     {'2024-03-18': 148.0},
     {'2024-03-19': 147.1},
     {'2024-03-20': 149.0},
     {'2024-03-21': 156.0},
     {'2024-03-22': 155.0},
     {'2024-03-26': 156.5},
     {'2024-03-27': 159.0},
     {'2024-03-28': 158.25},
     {'2024-04-01': 162.75},
     {'2024-04-02': 166.85}]},
   'value_type': 'rupees',
   'chart_title': 'HIUL share price history'}}]

In [21]:
s1

    nse_ticker        date   price
0        L&TFH  2023-10-09     131
1        L&TFH  2023-10-10   133.7
2        L&TFH  2023-10-11  132.85
3        L&TFH  2023-10-12  133.85
4        L&TFH  2023-10-13   133.6
..         ...         ...     ...
155       HDIL  2024-03-11     4.8
156       HDIL  2024-03-18     4.6
157       HDIL  2024-03-26     4.4
158       HDIL  2024-04-01     4.2
159       HDIL  2024-04-02     4.4

[160 rows x 3 columns]

In [18]:
[{'line_chart': {'data': {'HIUL': [{x['date'].strftime('%Y-%m-%d'): float(x['price'])} for i, x in s1.iterrows()]}, 'value_type': 'rupees', 'chart_title': 'HIUL share price history'}}]

[{'line_chart': {'data': {'HIUL': [{'2023-10-09': 3.15},
     {'2023-10-10': 3.3},
     {'2023-10-11': 3.45},
     {'2023-10-16': 3.3},
     {'2023-10-23': 3.15},
     {'2023-10-30': 3.0},
     {'2023-11-06': 3.1},
     {'2023-11-13': 3.25},
     {'2023-11-20': 3.4},
     {'2023-11-28': 3.5},
     {'2023-12-01': 3.65},
     {'2023-12-04': 3.8},
     {'2023-12-05': 3.95},
     {'2023-12-06': 4.1},
     {'2023-12-07': 4.3},
     {'2023-12-08': 4.5},
     {'2023-12-11': 4.7},
     {'2023-12-18': 4.5},
     {'2023-12-26': 4.3},
     {'2024-01-01': 4.1},
     {'2024-01-08': 3.9},
     {'2024-01-15': 3.9},
     {'2024-01-23': 4.05},
     {'2024-01-29': 4.25},
     {'2024-02-01': 4.45},
     {'2024-02-02': 4.65},
     {'2024-02-05': 4.85},
     {'2024-02-06': 5.05},
     {'2024-02-07': 5.3},
     {'2024-02-08': 5.55},
     {'2024-02-09': 5.8},
     {'2024-02-19': 5.55},
     {'2024-02-26': 5.3},
     {'2024-03-04': 5.05},
     {'2024-03-11': 4.8},
     {'2024-03-18': 4.6},
     {'2024-03-26': 4.4},
     {'2024-04-01': 4.2},
     {'2024-04-02': 4.4}]},
   'value_type': 'rupees',
   'chart_title': 'HIUL share price history'}}]

In [13]:
s1[['date', 'price']].to_dict()

   nse_ticker          dt close
0        HDIL  2023-10-09  3.15
1        HDIL  2023-10-10   3.3
2        HDIL  2023-10-11  3.45
3        HDIL  2023-10-16   3.3
4        HDIL  2023-10-23  3.15
5        HDIL  2023-10-30     3
6        HDIL  2023-11-06   3.1
7        HDIL  2023-11-13  3.25
8        HDIL  2023-11-20   3.4
9        HDIL  2023-11-28   3.5
10       HDIL  2023-12-01  3.65
11       HDIL  2023-12-04   3.8
12       HDIL  2023-12-05  3.95
13       HDIL  2023-12-06   4.1
14       HDIL  2023-12-07   4.3
15       HDIL  2023-12-08   4.5
16       HDIL  2023-12-11   4.7
17       HDIL  2023-12-18   4.5
18       HDIL  2023-12-26   4.3
19       HDIL  2024-01-01   4.1
20       HDIL  2024-01-08   3.9
21       HDIL  2024-01-15   3.9
22       HDIL  2024-01-23  4.05
23       HDIL  2024-01-29  4.25
24       HDIL  2024-02-01  4.45
25       HDIL  2024-02-02  4.65
26       HDIL  2024-02-05  4.85
27       HDIL  2024-02-06  5.05
28       HDIL  2024-02-07   5.3
29       HDIL  2024-02-08  5.55
30       HDIL  2024-02-09   5.8
31       HDIL  2024-02-19  5.55
32       HDIL  2024-02-26   5.3
33       HDIL  2024-03-04  5.05
34       HDIL  2024-03-11   4.8
35       HDIL  2024-03-18   4.6
36       HDIL  2024-03-26   4.4
37       HDIL  2024-04-01   4.2
38       HDIL  2024-04-02   4.4

In [9]:
k

dt
2024-03-27    386506.84
2024-03-28    394159.60
2024-04-04    286632.68
Name: value, dtype: float64

In [4]:
k = PortfolioService.get_price_history_user_holdings(99)

In [3]:
s = PortfolioSQL.get_nse_ticker_list_history(['INFY'])

In [6]:
def get_nse_ticker_list_history(nse_ticker_list, num_days=180):
    ticker_string = ", ".join(f"'{item}'" for item in nse_ticker_list)
    with PostgresDatabaseOperation(db='user') as cursor:
        sql = f'''SELECT nse_ticker, price_date, close FROM investment_option_historic_price iohp
        LEFT JOIN user_investment_options uio ON iohp.investment_option_id = uio.investment_option_id
        WHERE nse_ticker IN ({ticker_string}) AND price_date > CURRENT_DATE - INTERVAL '{num_days} DAYS'
        '''
        cursor.execute(sql)
        results = cursor.fetchall()
    df = pd.DataFrame(results, columns=['nse_ticker', 'dt', 'close'])
    return df

In [23]:
get_nse_ticker_list_history(['TATACOMM'], num_days=30)

   nse_ticker          dt    close
0    TATACOMM  2024-03-05  1994.35
1    TATACOMM  2024-03-06   1991.9
2    TATACOMM  2024-03-07   2011.5
3    TATACOMM  2024-03-11  1954.55
4    TATACOMM  2024-03-12  1987.65
5    TATACOMM  2024-03-13   1885.6
6    TATACOMM  2024-03-14  1930.05
7    TATACOMM  2024-03-15  1934.85
8    TATACOMM  2024-03-18  1962.65
9    TATACOMM  2024-03-19  1910.25
10   TATACOMM  2024-03-20   1888.3
11   TATACOMM  2024-03-21   1908.2
12   TATACOMM  2024-03-22  1922.65
13   TATACOMM  2024-03-26   1947.6
14   TATACOMM  2024-03-27  1973.15
15   TATACOMM  2024-03-28   2010.4
16   TATACOMM  2024-04-01  2036.55
17   TATACOMM  2024-04-02  2073.85

In [4]:
s

  nse_ticker          dt    close
0       INFY  2024-03-27  1483.85
1       INFY  2024-03-28  1498.05

In [5]:
k.sort_values()

,nse_ticker,dt,close,user_id,name,kite_trading_symbol,instrument_token,quantity,average_price,value
0,HDFCBANK,2024-03-27,1440.70,99,HDFC BANK,HDFCBANK,341249,1.0,1427.20,1440.70
1,HDFCBANK,2024-03-28,1447.90,99,HDFC BANK,HDFCBANK,341249,1.0,1427.20,1447.90
2,HDFCBANK,2024-04-03,1480.15,99,HDFC BANK,HDFCBANK,341249,1.0,1427.20,1480.15
3,ADANIPORTS,2024-03-27,1322.80,99,ADANI PORT & SEZ,ADANIPORTS,3861249,1.0,1281.60,1322.80
4,ADANIPORTS,2024-03-28,1341.85,99,ADANI PORT & SEZ,ADANIPORTS,3861249,1.0,1281.60,1341.85
5,ADANIPORTS,2024-04-03,1404.15,99,ADANI PORT & SEZ,ADANIPORTS,3861249,1.0,1281.60,1404.15
6,TATASTEEL,2024-03-27,152.70,99,TATA STEEL,TATASTEEL,895745,1.0,151.15,152.70
7,TATASTEEL,2024-03-28,155.85,99,TATA STEEL,TATASTEEL,895745,1.0,151.15,155.85
8,TATASTEEL,2024-04-03,164.65,99,TATA STEEL,TATASTEEL,895745,1.0,151.15,164.65
9,NHPC,2024-03-27,88.85,99,NHPC,NHPC,4454401,1.0,85.50,88.85
10,NHPC,2024-03-28,89.70,99,NHPC,NHPC,4454401,1.0,85.50,89.70
11,NHPC,2024-04-03,92.20,99,NHPC,NHPC,4454401,1.0,85.50,92.20
12,IDEA,2024-03-27,13.30,99,VODAFONE IDEA,IDEA,3677697,1.0,13.40,13.30
13,IDEA,2024-03-28,13.25,99,VODAFONE IDEA,IDEA,3677697,1.0,13.40,13.25
14,IDEA,2024-04-03,13.45,99,VODAFONE IDEA,IDEA,3677697,1.0,13.40,13.45
15,ZOMATO,2024-03-27,179.45,99,ZOMATO,ZOMATO,1304833,1.0,173.40,179.45
16,ZOMATO,2024-03-28,182.10,99,ZOMATO,ZOMATO,1304833,1.0,173.40,182.10
17,ZOMATO,2024-04-03,183.10,99,ZOMATO,ZOMATO,1304833,1.0,173.40,183.10
18,RELIANCE,2024-03-27,2985.70,99,RELIANCE INDUSTRIES,RELIANCE,738561,1.0,2890.00,2985.70
19,RELIANCE,2024-03-28,2971.70,99,RELIANCE INDUSTRIES,RELIANCE,738561,1.0,2890.00,2971.70
20,RELIANCE,2024-04-03,2973.90,99,RELIANCE INDUSTRIES,RELIANCE,738561,1.0,2890.00,2973.90
21,SBIN,2024-03-27,733.30,99,STATE BANK OF INDIA,SBIN,779521,1.0,743.05,733.30
22,SBIN,2024-03-28,752.35,99,STATE BANK OF INDIA,SBIN,779521,1.0,743.05,752.35
23,SBIN,2024-04-03,766.40,99,STATE BANK OF INDIA,SBIN,779521,1.0,743.05,766.40

In [12]:
pd.DataFrame.from_dict?

Signature:
pd.DataFrame.from_dict(
    data: 'dict',
    orient: 'FromDictOrient' = 'columns',
    dtype: 'Dtype | None' = None,
    columns: 'Axes | None' = None,
) -> 'DataFrame'
Docstring:
Construct DataFrame from dict of array-like or dicts.

Creates DataFrame object from dictionary by columns or by index
allowing dtype specification.

Parameters
----------
data : dict
    Of the form {field : array-like} or {field : dict}.
orient : {'columns', 'index', 'tight'}, default 'columns'
    The "orientation" of the data. If the keys of the passed dict
    should be the columns of the resulting DataFrame, pass 'columns'
    (default). Otherwise if the keys should be rows, pass 'index'.
    If 'tight', assume a dict with keys ['index', 'columns', 'data',
    'index_names', 'column_names'].

    .. versionadded:: 1.4.0
       'tight' as an allowed value for the ``orient`` argument

dtype : dtype, default None
    Data type to force after DataFrame construction, otherwise infer.
columns : list, default None
    Column labels to use when ``orient='index'``. Raises a ValueError
    if used with ``orient='columns'`` or ``orient='tight'``.

Returns
-------
DataFrame

See Also
--------
DataFrame.from_records : DataFrame from structured ndarray, sequence
    of tuples or dicts, or DataFrame.
DataFrame : DataFrame object creation using constructor.
DataFrame.to_dict : Convert the DataFrame to a dictionary.

Examples
--------
By default the keys of the dict become the DataFrame columns:

>>> data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
>>> pd.DataFrame.from_dict(data)
   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

Specify ``orient='index'`` to create the DataFrame using dictionary
keys as rows:

>>> data = {'row_1': [3, 2, 1, 0], 'row_2': ['a', 'b', 'c', 'd']}
>>> pd.DataFrame.from_dict(data, orient='index')
       0  1  2  3
row_1  3  2  1  0
row_2  a  b  c  d

When using the 'index' orientation, the column names can be
specified manually:

>>> pd.DataFrame.from_dict(data, orient='index',
...                        columns=['A', 'B', 'C', 'D'])
       A  B  C  D
row_1  3  2  1  0
row_2  a  b  c  d

Specify ``orient='tight'`` to create the DataFrame using a 'tight'
format:

>>> data = {'index': [('a', 'b'), ('a', 'c')],
...         'columns': [('x', 1), ('y', 2)],
...         'data': [[1, 3], [2, 4]],
...         'index_names': ['n1', 'n2'],
...         'column_names': ['z1', 'z2']}
>>> pd.DataFrame.from_dict(data, orient='tight')
z1     x  y
z2     1  2
n1 n2
a  b   1  3
   c   2  4
File:      ~/anaconda3/envs/bertopicenv/lib/python3.9/site-packages/pandas/core/frame.py
Type:      method

In [15]:
pd.DataFrame.from_dict(k, orient = 'index', columns = ['close']).reset_index().rename(columns = {'index': 'nse_ticker'})

      index    close
0      INFY  1482.85
1  RELIANCE  2973.90

In [5]:
k['quantity'] = k['starting_value']/k['min_date_price']

In [7]:
k.nlargest(100, 'growth')

,nse_ticker,min_date_price,max_date_price,starting_value,current_value,quantity,growth
4,CUPID,2323.05,2423.15,116152.50,2423.15,50.0,0.0431
17,ONGC,261.75,268.05,13611.00,268.05,52.0,0.0241
1,BSE,2463.60,2515.90,36954.00,2515.90,15.0,0.0212
3,COLPAL,2658.80,2710.35,10635.20,2710.35,4.0,0.0194
2,CDSL,1686.05,1711.95,16860.50,1711.95,10.0,0.0154
21,TATAPOWER,388.40,394.20,13982.40,394.20,36.0,0.0149
24,ZOMATO,179.45,182.10,7895.80,182.10,44.0,0.0148
20,TATAMOTORS,978.65,992.80,19573.00,992.80,20.0,0.0145
14,MSUMI,65.30,66.10,914.20,66.10,14.0,0.0123
22,TITAN,3759.40,3801.80,15037.60,3801.80,4.0,0.0113
10,JUNIORBEES,637.15,643.81,4460.05,643.81,7.0,0.0105
16,NIFTYBEES,244.96,246.96,5879.04,246.96,24.0,0.0082
18,PIDILITIND,2992.30,3014.70,14961.50,3014.70,5.0,0.0075
5,GOLDBEES,56.22,56.61,11468.88,56.61,204.0,0.0069
15,MTARTECH,1672.80,1683.75,8364.00,1683.75,5.0,0.0065
7,IEX,133.55,134.35,8013.00,134.35,60.0,0.0060
6,GREENPANEL,313.40,314.75,1567.00,314.75,5.0,0.0043
9,ITC,428.00,428.35,17120.00,428.35,40.0,0.0008
11,LIQUIDBEES,999.99,1000.00,7999.92,1000.00,8.0,0.0000
8,IRCTC,929.95,929.70,13949.25,929.70,15.0,-0.0003
13,MOTHERSON,117.30,117.10,1759.50,117.10,15.0,-0.0017
12,MCX,3356.80,3349.60,33568.00,3349.60,10.0,-0.0021
19,RBA,101.70,101.25,1322.10,101.25,13.0,-0.0044
0,AWL,323.50,321.40,3882.00,321.40,12.0,-0.0065
23,VLEGOV,52.40,50.70,576.40,50.70,11.0,-0.0324

In [8]:
holdings_df = PortfolioSQL.get_user_current_holdings(user_id=1)

In [11]:
import pandas as pd

In [13]:
df = pd.merge(k, holdings_df, how = 'inner', on = 'nse_ticker')

In [15]:
df['starting_value'] = df['min_date_price'] * df['quantity']
df['current_value'] = df['max_date_price'] * df['quantity']

In [17]:
df['current_value'].sum() - df['starting_value'].sum()

7652.7600000000675

In [4]:
k

    nse_ticker  min_date_price  max_date_price  growth
0          AWL          323.50          321.40 -0.0065
1          BSE         2463.60         2515.90  0.0212
2         CDSL         1686.05         1711.95  0.0154
3       COLPAL         2658.80         2710.35  0.0194
4        CUPID         2323.05         2423.15  0.0431
5     GOLDBEES           56.22           56.61  0.0069
6   GREENPANEL          313.40          314.75  0.0043
7          IEX          133.55          134.35  0.0060
8        IRCTC          929.95          929.70 -0.0003
9          ITC          428.00          428.35  0.0008
10  JUNIORBEES          637.15          643.81  0.0105
11  LIQUIDBEES          999.99         1000.00  0.0000
12         MCX         3356.80         3349.60 -0.0021
13   MOTHERSON          117.30          117.10 -0.0017
14       MSUMI           65.30           66.10  0.0123
15    MTARTECH         1672.80         1683.75  0.0065
16   NIFTYBEES          244.96          246.96  0.0082
17        ONGC          261.75          268.05  0.0241
18  PIDILITIND         2992.30         3014.70  0.0075
19         RBA          101.70          101.25 -0.0044
20  TATAMOTORS          978.65          992.80  0.0145
21   TATAPOWER          388.40          394.20  0.0149
22       TITAN         3759.40         3801.80  0.0113
23      VLEGOV           52.40           50.70 -0.0324
24      ZOMATO          179.45          182.10  0.0148

In [6]:
k = PortfolioSQL.get_nse_ticker_list_history(['RELIANCE', 'ADANIENT'])

In [8]:
k = PortfolioSQL.get_user_current_holdings(1)

In [9]:
k

,user_id,name,nse_ticker,kite_trading_symbol,instrument_token,quantity,average_price
0,1,ADANI WILMAR,AWL,AWL,2076161,12.0,598.375000
1,1,BSE,BSE,BSE,5013761,15.0,613.720000
2,1,CENTRAL DEPO SER (I),CDSL,CDSL,5420545,10.0,1187.260000
3,1,COLGATE PALMOLIVE.,COLPAL,COLPAL,3876097,4.0,1576.300000
4,1,CUPID,CUPID,CUPID-BE,4742145,50.0,239.270000
5,1,NIP IND ETF GOLD BEES,GOLDBEES,GOLDBEES,3693569,204.0,46.186617
6,1,GREENPANEL INDUSTRIES,GREENPANEL,GREENPANEL,3535361,5.0,429.500000
7,1,INDIAN ENERGY EXC,IEX,IEX,56321,60.0,157.880000
8,1,INDIAN RAIL TOUR CORP,IRCTC,IRCTC,3484417,15.0,696.270000
9,1,ITC,ITC,ITC,424961,40.0,348.560000
10,1,NIP IND ETF JUNIOR BEES,JUNIORBEES,JUNIORBEES,2800385,7.0,433.947142
11,1,NIP IND ETF LIQUID BEES,LIQUIDBEES,LIQUIDBEES,2817537,8.0,1000.010000
12,1,MULTI COMMODITY EXCHANGE,MCX,MCX,7982337,10.0,1394.430000
13,1,SAMVRDHNA MTHRSN INTL,MOTHERSON,MOTHERSON,1076225,15.0,129.269238
14,1,MOTHERSON SUMI WRNG IND L,MSUMI,MSUMI,2200577,14.0,16.300816
15,1,MTAR TECHNOLOGIES,MTARTECH,MTARTECH,693505,5.0,1626.600000
16,1,NIP IND ETF NIFTY BEES,NIFTYBEES,NIFTYBEES,2707457,24.0,194.690000
17,1,OIL AND NATURAL GAS CORP.,ONGC,ONGC,633601,52.0,149.512500
18,1,PIDILITE INDUSTRIES,PIDILITIND,PIDILITIND,681985,5.0,2539.470000
19,1,RESTAURANT BRAND ASIA,RBA,RBA,382465,13.0,145.800000
20,1,TATA MOTORS,TATAMOTORS,TATAMOTORS,884737,20.0,441.887500
21,1,TATA POWER CO,TATAPOWER,TATAPOWER,877057,36.0,224.825000
22,1,TITAN COMPANY,TITAN,TITAN,897537,4.0,2532.625000
23,1,VL E GOV AND IT SOL,VLEGOV,VLEGOV-BE,4613377,11.0,413.154756
24,1,ZOMATO,ZOMATO,ZOMATO,1304833,44.0,128.168182

In [7]:
k

  nse_ticker  price_date   price
0   ADANIENT  2024-03-27  3122.1
1   ADANIENT  2024-03-28  3197.1
2   RELIANCE  2024-03-27  2985.7
3   RELIANCE  2024-03-28  2971.7

In [4]:
companies_df = PortfolioService.filter_nse_companies_by_name(companies_list=['lsdkjf'])

In [6]:
company_kite_symbols = list(set(companies_df['kite_trading_symbol']))

In [8]:
company_kite_symbols

[]

In [7]:
company_kite_symbols = list(set(companies_df['kite_trading_symbol']))

In [5]:
companies_df

Empty DataFrame
Columns: [matching_score, instrument_token, nse_ticker, kite_trading_symbol, name]
Index: []

In [4]:
PortfolioService.get_latest_share_price_trend_for_companies(['infosys'])

{'text_box': {'value_type': 'rupees',
  'chart_title': 'Latest share price of Infosys',
  'data': {'INFOSYS': 1495.45}}}

In [5]:
k = FunctionCallingService.parse_details_from_gpt(query = 'my total holdings in adani', user_id = 1)

In [6]:
k

{'searchArticleIds': [],
 'additionalInfo': {'query_understanding': {'model': 'gpt-3.5-turbo-0125',
   'prompt_tokens': 542,
   'completion_tokens': 36,
   'system_prompt': "You are an expert financial analyst working for a leading indian fintech platform. User queries are either related to their own portfolio (eg. what is the total value of my portfolio or what are my most profitable holdings) or about general financial and business news (eg. how to save taxes or what is the performance of reliance over last 5 years). You extract the following attributes from a given user query. Today is “2024-03-15”. The platform has a database with the following data for user's own portfolio.\n    user_portfolio: name, nseticker, holding_quantity, avg_buy_price, current_price\n    Based on user's query we'll either run the function search_web_for_query, extract_portfolio_details or get_share_price_for_companies\n    respond only with the json with the above keys. don't answer the user query directly, but only extract the attributes",
   'user_prompt': {'query': 'user_query: my total holdings in adani',
    'tools': [{'type': 'function',
      'function': {'name': 'search_web_for_query',
       'description': "Search web for the user query. To be called when query is not related to analysis of user's own portfolio",
       'parameters': {'type': 'object',
        'properties': {'financial_or_business_query': {'type': 'boolean',
          'description': 'If the query is relevant for personal finance, markets of business related queries'},
         'recency_importance': {'type': 'string',
          'enum': ['high', 'medium'],
          'description': 'How important is that only most recent articles are fetched. high for very volatile like latest stock prices, medium for slowly changing stuff like regulations or educational and guides'}},
        'required': ['financial_or_business_query', 'recency_importance']}}},
     {'type': 'function',
      'function': {'name': 'extract_portfolio_details',
       'description': 'Extract details related to user portfolio',
       'parameters': {'type': 'object',
        'properties': {'aggregation_metric': {'type': 'string',
          'enum': ['current_value',
           'invested_value',
           'profit',
           'profit_percent'],
          'description': 'Metric user is requesting for'},
         'aggregation_level': {'type': 'string',
          'enum': ['overall', 'company'],
          'description': 'If the user is looking for overall stats or breaking down by company'},
         'companies_mentioned': {'type': 'array',
          'items': {'type': 'string'},
          'minItems': 0,
          'maxItems': 5,
          'description': 'Array of company names mentioned in the user query'},
         'sorting_order': {'type': 'string',
          'enum': ['ascending', 'descending'],
          'description': 'sorting order requested based on the aggregation_metric. For example user asks for least profitable or most loss making, then sorting order is ascending'}},
        'required': ['aggregation_metric',
         'aggregation_level',
         'companies_mentioned',
         'sorting_order']}}},
     {'type': 'function',
      'function': {'name': 'get_share_price_for_companies',
       'description': 'Get the latest share prices for companies. If user does not mention company or asks for sensex or NSE, index or general market - then use NIFTY 50',
       'parameters': {'type': 'object',
        'properties': {'companies_mentioned': {'type': 'array',
          'items': {'type': 'string'},
          'minItems': 1,
          'maxItems': 5,
          'description': 'Array of company names mentioned in the user query'}},
        'required': ['companies_mentioned']}}}]},
   'evaluation': {'function': {'name': 'extract_portfolio_details',
     'arguments': {'aggregation_metric': 'current_value',
      'aggregation_level': 'company',
      'companies_mentioned': ['adani'],
      'sorting_order': 'descending'}}}}},
 'user_portfolio_data': True,
 'portfolio_data': [{'bar_chart': {'value_type': 'rupees',
    'chart_title': 'Top Holdings by Current Value',
    'data': [{'ADANI WILMAR': 4082.3999999999996}]}}]}

In [11]:
k = '{}'

In [12]:
if not k:
    print('s')

In [13]:
from sql.PortfolioSQL import PortfolioSQL

In [14]:
d = PortfolioSQL.get_all_nse_symbols()

In [12]:
d.groupby('name')['nse_ticker'].count().nlargest()

name
1018GS2026    1
182D010824    1
182D020524    1
182D040424    1
182D040724    1
Name: nse_ticker, dtype: int64

In [11]:
d = d.drop_duplicates('name')

In [9]:
d[d.name == 'GACM TECHNOLOGIES']

     nse_ticker instrument_token               name
968      GATECH          4612609  GACM TECHNOLOGIES
4573  GATECHDVR             6913  GACM TECHNOLOGIES

In [9]:
k = PortfolioService.filter_companies_in_nse(['infosys'])

In [10]:
k

  nse_ticker  matching_score instrument_token
0       INFY             100           408065
1        HCL              90           339713

In [7]:
k = PortfolioService.calculate_companies_growth_rate(['infosys'])

In [8]:
k

  nse_ticker  min_date_price  max_date_price  growth
0        HCL           16.80           17.50    4.17
1       INFY         1435.45         1483.85    3.37

In [4]:
PortfolioService.get_price_history_for_instrument_tokens(['5944833'])

TypeError: 'NoneType' object is not subscriptable

In [25]:
cur_instrument_token = '341249'

In [7]:
from datetime import datetime, timedelta

In [10]:
import requests

In [19]:
import time

In [30]:
import requests

url = "https://api.kite.trade/instruments/historical/5944833/day"
headers = {
    "X-Kite-Version": "3",
    "Authorization": f"token ocmjwtavdeyktu6a:{access_token}"
}
params = {
    "from": '2023-09-01 00:00:00',
    "to": "2024-03-27 00:00:00"
}
s = time.time()
response = requests.get(url, headers=headers, params=params)
e = time.time()
data = response.json()

In [31]:
data

{'status': 'success', 'data': {'candles': []}}

In [35]:
cur_instrument_token = '1304833'

In [27]:
from datetime import datetime, timedelta
import requests

In [36]:
api_key = os.environ.get('KITE_API_KEY')
access_token = os.environ.get('KITE_ACCESS_TOKEN')
url = f"https://api.kite.trade/instruments/historical/{cur_instrument_token}/day"
headers = {
    "X-Kite-Version": "3",
    "Authorization": f"token {api_key}:{access_token}"
}
to_date = (datetime.now()).strftime('%Y-%m-%d %H:%M:00')
from_date = (datetime.now() - timedelta(days=2000)).strftime('%Y-%m-%d 00:00:00')
params = {
    "from": from_date,
    "to": to_date
}
response = requests.get(url, headers=headers, params=params)
# cur_df = pd.DataFrame(json.loads(response.text)['data']['candles'], columns=['dt', 'open', 'high', 'low', 'close', 'volume'])

In [32]:
2000/365

5.47945205479452

In [28]:
params

{'from': '2024-03-17 00:00:00', 'to': '2024-03-27 14:21:00'}

In [14]:
from_date

'2023-09-29 00:00:00'

In [15]:
to_date

'2024-03-27 14:15'

In [17]:
response.text

'{"status":"error","message":"invalid from date","data":null,"error_type":"InputException"}'

In [49]:
s = PortfolioService.get_companies_history(['adani'])

In [50]:
s.nse_ticker.nunique()

6

In [9]:
import numpy as np

In [39]:
s.groupby('nse_ticker')['dt'].agg({'min', 'max'})

                                 max                       min
nse_ticker
ADANIENSOL  2024-03-27T00:00:00+0530  2023-09-29T00:00:00+0530
ADANIENT    2024-03-27T00:00:00+0530  2023-09-29T00:00:00+0530
ADANIGREEN  2024-03-27T00:00:00+0530  2023-09-29T00:00:00+0530
ADANIPORTS  2024-03-27T00:00:00+0530  2023-09-29T00:00:00+0530
ADANIPOWER  2024-03-27T00:00:00+0530  2023-09-29T00:00:00+0530
ATGL        2024-03-27T00:00:00+0530  2023-09-29T00:00:00+0530

In [48]:
s

1711531046.9324212

In [41]:
import pandas as pd

In [45]:
import time

In [54]:
df = s

In [55]:
import pandas as pd

# Assuming df is your original DataFrame with 'symbol', 'date', and 'share_price' columns

# Convert 'date' column to datetime if it's not already
df['dt'] = pd.to_datetime(df['dt'])

# Step 1: Group by 'symbol' and calculate the min and max dates per symbol
grouped = df.groupby('nse_ticker')['dt']
min_dates = grouped.min()
max_dates = grouped.max()

# Step 2: Find the overall max of min dates and min of max dates
max_min_date = min_dates.max()
min_max_date = max_dates.min()

# Step 3: Filter the original DataFrame for these dates
filtered = df[(df['dt'] == max_min_date) | (df['dt'] == min_max_date)]

# Step 4: Pivot the table to get the desired format
# Assuming you want 'symbol' as index and prices for the two dates as separate columns
result = filtered.pivot(index='nse_ticker', columns='dt', values='close')

print(result)

dt          2023-09-29 00:00:00+05:30  2024-03-27 00:00:00+05:30
nse_ticker
ADANIENSOL                     810.25                    1044.45
ADANIENT                      2413.90                    3134.05
ADANIGREEN                     987.15                    1866.50
ADANIPORTS                     825.15                    1337.25
ADANIPOWER                     377.45                     540.05
ATGL                           613.25                     951.20

In [51]:
start = time.time()
result = s.groupby('nse_ticker').apply(lambda x: pd.Series({
    'min_date_price': x.loc[x['dt'].idxmin(), 'close'],
    'max_date_price': x.loc[x['dt'].idxmax(), 'close']
})).reset_index()
end = time.time()

In [53]:
result

   nse_ticker  min_date_price  max_date_price
0  ADANIENSOL          810.25         1044.45
1    ADANIENT         2413.90         3134.05
2  ADANIGREEN          987.15         1866.50
3  ADANIPORTS          825.15         1337.25
4  ADANIPOWER          377.45          540.05
5        ATGL          613.25          951.20

In [52]:
end-start

0.008831024169921875

In [43]:
result

   nse_ticker  min_date_price  max_date_price
0  ADANIENSOL          810.25         1044.70
1    ADANIENT         2413.90         3128.30
2  ADANIGREEN          987.15         1873.60
3  ADANIPORTS          825.15         1335.00
4  ADANIPOWER          377.45          547.80
5        ATGL          613.25          949.95

In [22]:
s['ruppee_volume'] = s['close'] * s['volume']

In [23]:
np.log2(s.groupby('nse_ticker')['ruppee_volume'].mean())/np.log2(1.25)

nse_ticker
ADANIENSOL     97.551829
ADANIENT      101.805055
ADANIGREEN     97.570642
ADANIPORTS    100.726839
ADANIPOWER     98.012216
ATGL           97.990062
Name: ruppee_volume, dtype: float64

In [8]:
k

   nse_ticker  matching_score instrument_token
0  HDFCLOWVOL              90          2956033
1  HDFCNIFBAN              90          5742849
2    HDFCBANK              90          5944833
3  HDFCSML250              90          3643649
4  HDFCNIF100              90          2722049

In [7]:
list(k['instrument_token'])

['2956033', '5742849', '5944833', '3643649', '2722049']

In [2]:
from src.PortfolioService import PortfolioService

In [3]:
k = PortfolioService.get_current_portfolio_value(1, 'profit',aggregation_level='overall', sorting_order = 'descending')

In [ ]:
{'searchArticleIds': [],
 'additionalInfo': {'query_understanding': {'model': 'gpt-3.5-turbo-0125',
   'prompt_tokens': 450,
   'completion_tokens': 73,
   'system_prompt': "You are an expert financial analyst working for a leading indian fintech platform. User queries are either related to their own portfolio (eg. what is the total value of my portfolio or what are my most profitable holdings) or about general financial and business news (eg. how to save taxes or what is the performance of reliance over last 5 years). You extract the following attributes from a given user query. Today is "2024-03-15". The platform has a database with the following data for user's own portfolio.\n    user_portfolio: name, nseticker, holding_quantity, avg_buy_price, current_price\n    Based on user's query we'll either run the function search_web_for_query or extract_portfolio_details\n    respond only with the json with the above keys. don't answer the user query directly, but only extract the attributes",
   'user_prompt': {'query': 'user_query: total invested amount',
    'tools': [{'type': 'function',
      'function': {'name': 'search_web_for_query',
       'description': "Search web for the user query. To be called when query is not related to analysis of user's own portfolio",
       'parameters': {'type': 'object',
        'properties': {'financial_or_business_query': {'type': 'boolean',
          'description': 'If the query is relevant for personal finance, markets of business related queries'},
         'recency_importance': {'type': 'string',
          'enum': ['high', 'medium'],
          'description': 'How important is that only most recent articles are fetched. high for very volatile like latest stock prices, medium for slowly changing stuff like regulations or educational and guides'}},
        'required': ['financial_or_business_query', 'recency_importance']}}},
     {'type': 'function',
      'function': {'name': 'extract_portfolio_details',
       'description': 'Extract details related to user portfolio',
       'parameters': {'type': 'object',
        'properties': {'aggregation_metric': {'type': 'string',
          'enum': ['current_value',
           'invested_value',
           'profit',
           'profit_percent'],
          'description': 'Metric user is requesting for'},
         'aggregation_level': {'type': 'string',
          'enum': ['overall', 'company'],
          'description': 'If the user is looking for overall stats or breaking down by company'},
         'companies_mentioned': {'type': 'array',
          'items': {'type': 'string'},
          'minItems': 0,
          'maxItems': 5,
          'description': 'Array of company names mentioned in the user query'},
         'sorting_order': {'type': 'string',
          'enum': ['ascending', 'descending'],
          'description': 'sorting order requested based on the aggregation_metric. For example user asks for least profitable or most loss making, then sorting order is ascending'}},
        'required': ['aggregation_metric',
         'aggregation_level',
         'companies_mentioned',
         'sorting_order']}}}]},
   'evaluation': {'function': {'name': 'extract_portfolio_details',
     'arguments': {'aggregation_metric': 'invested_value',
      'aggregation_level': 'overall',
      'companies_mentioned': [],
      'sorting_order': 'descending'}}}}},
 'user_portfolio_data': True,
 'portfolio_data': [{'text_box': {'Total Profit': 90228.63013599999,
   'graph_type': 'text_box',
   'value_type': 'rupees',
   'chart_title': 'Total Profit'}},
 {'bar_chart': {'BSE Ltd': {'Total Profit': 24440.699999999997},
   'Multi Commodity Exchange of India Ltd': {'Total Profit': 18851.199999999997},
   'Tata Motors Ltd': {'Total Profit': 10460.25},
   'Tata Power Company Ltd': {'Total Profit': 6023.7},
   'Oil and Natural Gas Corporation Ltd': {'Total Profit': 5898.75},
   'Central Depository Services (India) Ltd': {'Total Profit': 5788.4},
   'Colgate-Palmolive (India) Ltd': {'Total Profit': 4411.400000000001},
   'Titan Company Ltd': {'Total Profit': 4379.700000000001},
   'Indian Railway Catering and Tourism Corporation Ltd': {'Total Profit': 3577.2000000000007},
   'others': {'Total Profit': 6397.330136000002},
   'graph_type': 'bar_chart',
   'value_type': 'rupees',
   'chart_title': 'Top Holdings by Total Profit'}}]}

In [28]:
k

[{'text_box': {'data': [{'Total Profit': 90228.63013599999}],
   'value_type': 'rupees',
   'chart_title': 'Total Profit'}},
 {'bar_chart': {'value_type': 'rupees',
   'chart_title': 'Top Holdings by Total Profit',
   'data': [{'BSE Ltd': 24440.699999999997},
    {'Multi Commodity Exchange of India Ltd': 18851.199999999997},
    {'Tata Motors Ltd': 10460.25},
    {'Tata Power Company Ltd': 6023.7},
    {'Oil and Natural Gas Corporation Ltd': 5898.75},
    {'Central Depository Services (India) Ltd': 5788.4},
    {'Colgate-Palmolive (India) Ltd': 4411.400000000001},
    {'Titan Company Ltd': 4379.700000000001},
    {'Indian Railway Catering and Tourism Corporation Ltd': 3577.2000000000007},
    {'others': 6397.330136000002}]}}]

In [4]:
for i in k.iterrows():
    print(i.index())

AttributeError: 'list' object has no attribute 'iterrows'

In [6]:
y = []

In [7]:
y.append({'text_box': k[0]})
y.append({'bar_chart': k[1]})

In [8]:
y

[{'text_box': {'Total Profit': 90228.63013599999,
   'graph_type': 'text_box',
   'value_type': 'rupees',
   'chart_title': 'Total Profit'}},
 {'bar_chart': {'BSE Ltd': {'Total Profit': 24440.699999999997},
   'Multi Commodity Exchange of India Ltd': {'Total Profit': 18851.199999999997},
   'Tata Motors Ltd': {'Total Profit': 10460.25},
   'Tata Power Company Ltd': {'Total Profit': 6023.7},
   'Oil and Natural Gas Corporation Ltd': {'Total Profit': 5898.75},
   'Central Depository Services (India) Ltd': {'Total Profit': 5788.4},
   'Colgate-Palmolive (India) Ltd': {'Total Profit': 4411.400000000001},
   'Titan Company Ltd': {'Total Profit': 4379.700000000001},
   'Indian Railway Catering and Tourism Corporation Ltd': {'Total Profit': 3577.2000000000007},
   'others': {'Total Profit': 6397.330136000002},
   'graph_type': 'bar_chart',
   'value_type': 'rupees',
   'chart_title': 'Top Holdings by Total Profit'}}]

In [5]:
k[0]['text_b']

{'Total Profit': 90228.63013599999,
 'graph_type': 'text_box',
 'value_type': 'rupees',
 'chart_title': 'Total Profit'}

In [2]:
from sql.PortfolioSQL import PortfolioSQL

In [4]:
# k = PortfolioSQL.get_user_current_holdings(1)

In [5]:
import pandas as pd

In [43]:
k = PortfolioService.get_current_portfolio_value(1, 'profit',requested_agg_level='company', companies_list=['sbi'], requested_sorting_order = 'descending')

In [44]:
k

{}

In [7]:
user_portfolio_df = PortfolioSQL.get_user_current_holdings(user_id=1)

In [8]:
user_nse_tickers = list(user_portfolio_df['nseticker'])

In [20]:
user_nse_tickers

['AWL',
 'BSE',
 'CDSL',
 'COLPAL',
 'CUPID',
 'GOLDBEES',
 'GREENPANEL',
 'IEX',
 'IRCTC',
 'ITC',
 'JUNIORBEES',
 'LIQUIDBEES',
 'MCX',
 'MOTHERSON',
 'MSUMI',
 'MTARTECH',
 'NIFTYBEES',
 'ONGC',
 'PIDILITIND',
 'RBA',
 'TATAMOTORS',
 'TATAPOWER',
 'TITAN',
 'VLEGOV',
 'ZOMATO']

In [21]:
close_prices = PortfolioService.get_close_price_for_tickers(ticker_list=user_nse_tickers)

In [23]:
[x for x in user_nse_tickers if x not in close_prices]

['CUPID', 'VLEGOV']

In [22]:
close_prices

{'AWL': 330.95,
 'BSE': 2033.15,
 'CDSL': 1657.6,
 'COLPAL': 2664.6,
 'GOLDBEES': 55.72,
 'GREENPANEL': 307.3,
 'IEX': 133.75,
 'IRCTC': 901.9,
 'ITC': 415.7,
 'JUNIORBEES': 612.8,
 'LIQUIDBEES': 999.99,
 'MCX': 3205.15,
 'MOTHERSON': 112.1,
 'MSUMI': 61.5,
 'MTARTECH': 1687.7,
 'NIFTYBEES': 241.58,
 'ONGC': 263.85,
 'PIDILITIND': 2871.8,
 'RBA': 105.5,
 'TATAMOTORS': 940.45,
 'TATAPOWER': 379.9,
 'TITAN': 3590.5,
 'ZOMATO': 165.6}

In [22]:
unique_ticker_list = list(set([x.split('-')[0] for x in ticker_list]))

In [5]:
ticker_list = ['AAFS-N0', 'AAFS-N1', 'AAFS-N2', 'ABFL-N0', 'ABFL-N1', 'ABFL-N2',
       'ABFL-N3', 'ABFL-N4', 'ABFL-N5', 'ABFL-N6', 'ABFL-N7', 'ABFL-N8',
       'ABFL-N9', 'ABFL-NA', 'ABFL-NB', 'ABFL-NC', 'ABFL-ND', 'ABFL-NE',
       'ABHFL-N0', 'ABHFL-N1', 'ABHFL-N2', 'ABHFL-N3', 'ABHFL-N4',
       'ABHFL-N5', 'BCIPL-N0', 'BCIPL-N1', 'BCIPL-N2', 'CCSP-N0',
       'CCSP-N1', 'DHANILOANS-NF', 'DHANILOANS-NG', 'DHANILOANS-NH',
       'DHANILOANS-NO', 'DHANILOANS-NP', 'DHANILOANS-NQ', 'DHANILOANS-NV',
       'DHANILOANS-NW', 'DHANILOANS-NX', 'DHANILOANS-NZ', 'DHANILOANS-Y1',
       'DHANILOANS-Y2', 'DHANILOANS-Y3', 'DHANILOANS-Y4', 'DHANILOANS-Y5',
       'ECLFINANCE-NJ', 'ECLFINANCE-NK', 'ECLFINANCE-NR', 'ECLFINANCE-NS',
       'ERFLNCDI-N5', 'ERFLNCDI-N6', 'EXIM-N0', 'EXIM-N1', 'GODREJFIN-N0',
       'GODREJFIN-N1', 'HEFC-N0', 'HEFC-N1', 'IBUCCREDIT-NA',
       'IBUCCREDIT-NB', 'IBUCCREDIT-NC', 'IBUCCREDIT-ND', 'IBUCCREDIT-NE',
       'IBUCCREDIT-NF', 'IBUCCREDIT-NG', 'IBUCCREDIT-NH', 'IBUCCREDIT-NI',
       'IBUCCREDIT-NJ', 'IBUCCREDIT-NK', 'IBUCCREDIT-NL', 'IBUCCREDIT-NM',
       'IBUCCREDIT-NN', 'IBUCCREDIT-NO', 'IBUCCREDIT-NP', 'IBUCCREDIT-NQ',
       'IBUCCREDIT-NR', 'IBUCCREDIT-NS', 'IBUCCREDIT-NT', 'IBUCCREDIT-NU',
       'IBUCCREDIT-NV', 'IBUCCREDIT-NW', 'IBUCCREDIT-NX', 'IBUCCREDIT-NY',
       'IBUCCREDIT-NZ', 'IBULHSG-N1', 'IBULHSG-N2', 'IBULHSG-N3',
       'IBULHSG-N4', 'IBULHSG-N5', 'IBULHSG-N6', 'IBULHSG-N7',
       'IBULHSG-N8', 'IBULHSG-N9', 'IBULHSG-NA', 'IBULHSG-NB',
       'IBULHSG-NC', 'IBULHSG-ND', 'IBULHSG-NE', 'IBULHSG-NF',
       'IBULHSG-NG', 'IBULHSG-NH', 'IBULHSG-NI', 'IBULHSG-NJ',
       'IBULHSG-NK', 'IBULHSG-NL', 'IBULHSG-NM', 'IBULHSG-NN',
       'IBULHSG-NO', 'IBULHSG-NP', 'IBULHSG-NQ', 'IBULHSG-NR',
       'IBULHSG-NS', 'IBULHSG-NT', 'IBULHSG-NU', 'IBULHSG-NV',
       'IBULHSG-NW', 'IBULHSG-NX', 'IBULHSG-NY', 'IBULHSG-NZ',
       'IBULHSG-Y0', 'IBULHSG-Y1', 'IBULHSG-Y2', 'IBULHSG-Y3',
       'IBULHSG-Y4', 'IBULHSG-Y5', 'IBULHSG-Y6', 'IBULHSG-Y7',
       'IBULHSG-Y8', 'IBULHSG-Y9', 'IBULHSG-YA', 'IBULHSG-YB',
       'IBULHSG-YC', 'IBULHSG-YD', 'IBULHSG-YG', 'IBULHSG-YH',
       'IBULHSG-YI', 'IBULHSG-YJ', 'IBULHSG-YK', 'IBULHSG-YL',
       'IBULHSG-YM', 'IIFCL-N1', 'IIFCL-N3', 'IIFCL-N4', 'IIFLSAMFIN-N0',
       'IIFLSAMFIN-N1', 'IIFLSAMFIN-N2', 'IIFLSAMFIN-N3', 'IIFLSAMFIN-N4',
       'IIFLSAMFIN-N5', 'IIFLSAMFIN-N6', 'IIFLSAMFIN-N7', 'IIHFL-N4',
       'IIHFL-N5', 'IIHFL-N6', 'IIHFL-N7', 'IIHFL-N8', 'IIHFL-N9',
       'IIHFL-NA', 'IIHFL-NB', 'IIHFL-NC', 'IIHFL-ND', 'IIHFL-NE',
       'IMC1-N0', 'IMC1-N1', 'IMC1-N2', 'IMC1-N3', 'INCREDFIN-N4',
       'INCREDFIN-N5', 'INCREDFIN-N6', 'INCREDFIN-N7', 'INDIGRID-IV',
       'INDIGRID-NA', 'INDIGRID-NB', 'INDIGRID-NC', 'INDIGRID-ND',
       'INDIGRID-NE', 'INDIGRID-NF', 'INDIGRID-NG', 'INDIGRID-NH',
       'INDIGRID-NI', 'INDIGRID-NJ', 'INDIGRID-NK', 'INDIGRID-NL',
       'KISETSU-N0', 'KISETSU-N1', 'L&TFIN-N4', 'L&TFIN-N5', 'L&TFIN-N6',
       'L&TFIN-N7', 'L&TFIN-N8', 'L&TFIN-N9', 'L&TFIN-NA', 'L&TFIN-NB',
       'L&TFIN-NC', 'L&TFIN-ND', 'L&TFIN-NE', 'L&TFIN-NF', 'L&TFIN-NG',
       'L&TFIN-NH', 'L&TFIN-NI', 'L&TFIN-NJ', 'L&TFIN-NK', 'L&TFIN-NL',
       'L&TFIN-NM', 'L&TFIN-NN', 'L&TFIN-NO', 'L&TFIN-NP', 'L&TFIN-NQ',
       'NABARD-N0', 'NABARD-N1', 'NABARD-N2', 'NAVIFIN-N0', 'NAVIFIN-N3',
       'NAVIFIN-N4', 'NAVIFIN-N5', 'NAVIFIN-N6', 'NAVIFIN-N7',
       'NAVIFIN-N8', 'NAVIFIN-N9', 'NAVIFIN-NA', 'NAVIFIN-NB',
       'NAVIFIN-NC', 'NAVIFIN-ND', 'NHAI-N2', 'NHAI-N5', 'NHAI-N6',
       'NHAI-N7', 'NHAI-N8', 'NHAI-N9', 'NHAI-NA', 'NHAI-NB', 'NHAI-NC',
       'NHAI-ND', 'NHAI-NE', 'NHB-N8', 'NHB-N9', 'NHB-NA', 'NHBTF2014-N2',
       'NHBTF2014-N3', 'NHBTF2014-N5', 'NHBTF2014-N6', 'NHBTF2023-N3',
       'NHBTF2023-N4', 'NHBTF2023-N6', 'NHBTF2023-N7', 'NHIT-IV',
       'NHIT-N1', 'NHIT-N2', 'NHIT-N3', 'NIDO-N5', 'NIDO-N6', 'NIDO-N7',
       'NIIF-N0', 'NIIF-N1', 'NIIF-N2', 'NIRMA-N0', 'NIRMA-N6',
       'NIRMA-N7', 'NOMURA-N0', 'NOMURA-N1', 'PCHFL-N5', 'PCHFL-N6',
       'PCHFL-N7', 'PCHFL-N8', 'PCHFL-N9', 'PCHFL-NA', 'PCHFL-NB',
       'PCHFL-NC', 'SIDBI-N0', 'SIDBI-N1', 'SIDBI-N2', 'SMFG-N0',
       'SMFG-N1', 'SMFG-N2', 'SMFG-N3', 'TATACAP-N5', 'TATACAP-N6',
       'TATACAP-N7', 'TATACAP-N8', 'TATACAP-N9', 'TATACAP-NA',
       'TATACAP-NB', 'TATACAP-NC', 'TATACAP-ND', 'TATACAP-NE',
       'TATACAP-NF', 'TATACAPHSG-N3', 'TATACAPHSG-N4', 'TATACAPHSG-N5',
       'TATACAPHSG-N6', 'TATACAPHSG-N7', 'TATACAPHSG-N8', 'TATACAPHSG-N9',
       'TATACAPHSG-NA', 'TATACAPHSG-NB', 'TATACAPHSG-NC', 'TATACAPHSG-ND',
       'TFSI-N0', 'TFSI-N1', 'TFSI-N2', 'TPL-N0', 'TPL-N1', 'TPL-N2',
       'TPL-N3', 'TPL-N4', 'TPL-N5']

In [6]:
import requests

In [24]:
nse_tickers = [f'NSE:{x}' for x in unique_ticker_list][:500]
url = "https://api.kite.trade/quote/ohlc"
api_key = os.environ.get('KITE_API_KEY')
access_token = os.environ.get('KITE_ACCESS_TOKEN')
headers = {
    "X-Kite-Version": "3",
    "Authorization": f"token {api_key}:{access_token}"
}
params = {
    "i": nse_tickers
}
response_unique = requests.get(url, headers=headers, params=params)

In [26]:
response_unique.text

'{"status":"success","data":{}}'

In [10]:
import json

In [14]:
import pandas as pd

In [17]:
pd.options.display.max_rows = 500

In [27]:
pd.DataFrame.from_dict(json.loads(response.text)['data']).T.reset_index().rename(columns = {'index': 'tradingsymbol'}).to_csv('symbols_without_prefix_only_multiple_suffixes.csv',index = False)

In [8]:
from openai import OpenAI
import json

client = OpenAI(api_key=os.environ.get('OPENAI_KEY'))

In [9]:
sys = '''
You are an expert financial analyst working for a leading indian fintech platform. User queries are either related to their own portfolio (eg. what is the total value of my portfolio or what are my most profitable holdings) or about general financial and business news (eg. how to save taxes or what is the performance of reliance over last 5 years). You extract the following attributes from a given user query. Today is “2024-03-15”. The platform has a database with the following data for user's own portfolio.
user_portfolio: name, nseticker, holding_quantity, avg_buy_price, current_price
Based on user's query we'll either run the function search_web_for_query or extract_portfolio_details
respond only with the json with the above keys. don't answer the user query directly, but only extract the attributes
'''

In [10]:
def parse_details_from_gpt(query):
    messages = [{"role": "system", "content": sys}, 
            {"role": "user", "content": f"user_query: {query}"}]
    tools = [
        {
            "type": "function",
            "function": {
                "name": "search_web_for_query",
                "description": "Search web for the user query. To be called when query is not related to analysis of user's own portfolio",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "financial_or_business_query": {"type": "boolean","description": "If the query is relevant for personal finance, markets of business related queries"},
                    },
                    "required": ["financial_or_business_query"],
                },
            },
        },
        {
            "type": "function",
            "function": {
                "name": "extract_portfolio_details",
                "description": "Extract details related to user portfolio",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "aggregation_metric": {"type": "string","enum": ["current_value", "invested_value", "profit", "profit_percent"], "description": "Metric user is requesting for"},
                        "aggreation_level": {"type": "string", "enum": ["overall", "company"],"description": "If the user is looking for overall stats or breaking down by company"},
                        "companies_mentioned": {"type": "array", "items": {"type": "string"}, "minItems": 0, "maxItems": 5, "description": "Array of company names mentioned in the user query"},
                        "sorted_order": {"type": "string", "enum": ["ascending", "descending"], "description": "sorting order requested based on the aggregation_metric. For example user asks for least profitable or most loss making, then sorting order is ascending"}
                    },
                    "required": ["aggregation_metric", "aggreation_level", "companies_mentioned", "sorted_order"],
                },
            },
        }
    ]
    # 
    # gpt-4-0125-preview
    response = client.chat.completions.create(
        model="gpt-3.5-turbo-0125",
        messages=messages,
        tools=tools,
        tool_choice="auto",  # auto is default, but we'll be explicit
        temperature=0.05
    )
    # return json.loads(response.choices[0].message.tool_calls[0].function.arguments)
    return response

In [11]:
import time

In [33]:
s = time.time()
r = parse_details_from_gpt('what is my total profit from BSE')
e = time.time()

In [34]:
r

ChatCompletion(id='chatcmpl-95BWHhH8UQaZEmS4p1b7igrGqK60I', choices=[Choice(finish_reason='tool_calls', index=0, logprobs=None, message=ChatCompletionMessage(content=None, role='assistant', function_call=None, tool_calls=[ChatCompletionMessageToolCall(id='call_TxmcSmAWgf3kEVAcXIZAdPyL', function=Function(arguments='{"aggregation_metric":"profit","aggreation_level":"overall","companies_mentioned":["BSE"],"sorted_order":"descending"}', name='extract_portfolio_details'), type='function')]))], created=1711022949, model='gpt-3.5-turbo-0125', object='chat.completion', system_fingerprint='fp_4f0b692a78', usage=CompletionUsage(completion_tokens=36, prompt_tokens=409, total_tokens=445))

In [40]:
e - s

1.3980531692504883

In [26]:
import json

In [24]:
r.choices[0].message

ChatCompletionMessage(content=None, role='assistant', function_call=None, tool_calls=[ChatCompletionMessageToolCall(id='call_QPvHriHc0GC8sfPTJfN9rXP5', function=Function(arguments='{"aggregation_metric":"profit","aggreation_level":"company","companies_mentioned":[],"sorted_order":"descending"}', name='extract_portfolio_details'), type='function')])

In [35]:
r.choices[0].message.tool_calls[0].function.name

'extract_portfolio_details'

In [36]:
json.loads(r.choices[0].message.tool_calls[0].function.arguments)

{'aggregation_metric': 'profit',
 'aggreation_level': 'overall',
 'companies_mentioned': ['BSE'],
 'sorted_order': 'descending'}

In [ ]:
def orchestrate(query):
    query_details = parse_details_from_gpt(query)
    # print(query_details)
    if not query_details['financial_or_business_query']:
        print('not a financial query')
        return
    if not query_details['sql_db_has_data']:
        r = requests.post('http://127.0.0.1:8000/search_query_web', json={'query_text': query})
        return r
    for mandatory_key in ['companies_mentioned', 'time_period_type', 'time_period_duration', 'query_type']:
        if mandatory_key not in query_details:
            print('ill formed arguments. calling web instead')
            r = requests.post('http://127.0.0.1:8000/search_query_web', json={'query_text': query})
            return r
    symbols = []
    for name in query_details['companies_mentioned']:
        symbols.append(get_symbol_for_name(name))
    time_period = f"{query_details['time_period_duration']} {query_details['time_period_type']}"
    function_mapping = {'get_stocks_price_between_dates': get_stocks_price_between_dates, 'get_avg_stock_prices_between_dates': get_avg_stock_prices_between_dates, 'beta_calculation_query': beta_calculation_query}
    function_to_call = function_mapping[query_details['query_type']]
    results = function_to_call(symbols, time_period)
    return results

In [ ]:
a ={'company': ['A', 'B'], 'profit': [100, -100]}
b ={'A': 100, 'B': -100}

In [10]:
PortfolioService.filter_portfolio_by_name('CUPID', k)

  symbol  matching_score
0  CUPID             100

In [7]:
from src.BingWebSearch import BingWebSearch

In [9]:
BingWebSearch.perform_bing_web_search('what is the gift taxation policy in india', recency_importance='low')

fetched the urls [] for the query what is the gift taxation policy in india
No URLs found in the search results.
articles fetched from bing and cleaned for what is the gift taxation policy in india in 0.3926539421081543 secs
articles created in the backend for what is the gift taxation policy in india in 0.18715810775756836 secs

{'searchArticleIds': [], 'additionalInfo': {}}

In [19]:
k = os.environ.get('BING_API_KEY')

In [20]:
k

'9a35838986e248a0be2a80f582dfcf61'

In [31]:
k = '2499214119f8465ea9ead7331a161029'

In [32]:
def _get_urls(user_query, recency_importance='medium'):
    headers = {
        'Ocp-Apim-Subscription-Key': k,
        'Location': 'India'
    }

    response_filter = ["Webpages", "News"]
    params = {
        "mkt": "en-IN",
        "responseFilter": response_filter,
        "count": BingWebSearch.COUNT
    }
    if recency_importance == 'high':
        params["freshness"] = BingWebSearch.FRESHNESS
    url = "https://api.bing.microsoft.com/v7.0/search"
    params["q"] = user_query + " " + " ".join(BingWebSearch.LINKS_TO_EXCLUDE)
    response = requests.get(url, params=params, headers=headers)
    return response

In [33]:
import requests

In [34]:
s = _get_urls('finance news')

In [35]:
s.text

'{"_type": "SearchResponse", "queryContext": {"originalQuery": "finance news -site:youtube.com -site:amazon.com -site:hotstar.com -site:netflix.com -site:primevideo.com -site:sonyliv.com -site:zee5.com -site:voot.com -site:spotify.com -site:bing.com\\/videos"}, "webPages": {"webSearchUrl": "https:\\/\\/www.bing.com\\/search?q=finance+news+-site%3ayoutube.com+-site%3aamazon.com+-site%3ahotstar.com+-site%3anetflix.com+-site%3aprimevideo.com+-site%3asonyliv.com+-site%3azee5.com+-site%3avoot.com+-site%3aspotify.com+-site%3abing.com%2fvideos", "totalEstimatedMatches": 162000000, "value": [{"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.0", "name": "Finance News: latest Financial News, Finance News today in India", "url": "https:\\/\\/economictimes.indiatimes.com\\/news\\/economy\\/articlelist\\/1286551815.cms", "isFamilyFriendly": true, "displayUrl": "https:\\/\\/economictimes.indiatimes.com\\/news\\/economy\\/articlelist\\/1286551815.cms", "snippet": "Mar 5, 2024. Punjab Budget 2024 Highlights: Punjab Finance Minister Harpal Cheema unveiled a state budget exceeding Rs 2 lakh crore for FY25 in the Assembly. Notably, Rs 13,784 crore is allocated for agriculture, with a focus on health and education. Under AAP leadership, over 40,000 jobs were created.", "dateLastCrawled": "2024-03-20T04:08:00.0000000Z", "cachedPageUrl": "http:\\/\\/cc.bingj.com\\/cache.aspx?q=finance+news+-site%3ayoutube.com+-site%3aamazon.com+-site%3ahotstar.com+-site%3anetflix.com+-site%3aprimevideo.com+-site%3asonyliv.com+-site%3azee5.com+-site%3avoot.com+-site%3aspotify.com+-site%3abing.com%2fvideos&d=4575987388409768&mkt=en-IN&setlang=en-US&w=1p-gUOcHMzkg63i3bPX-3gdsxpX6xKh_", "language": "en", "isNavigational": false, "noCache": false}, {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.1", "name": "Business News Today: Stock and Share Market News, Economy and Finance ...", "url": "https:\\/\\/www.moneycontrol.com\\/", "isFamilyFriendly": true, "displayUrl": "https:\\/\\/www.moneycontrol.com", "snippet": "Business News Today: Read the latest business news on the Indian economy, global market, upcoming IPOs and more. Get Live Stock Price, Stock and Share market news, Finance News, Sensex, Nifty Live ...", "deepLinks": [{"name": "Markets", "url": "https:\\/\\/www.moneycontrol.com\\/stocksmarketsindia\\/"}, {"name": "Portfolio", "url": "https:\\/\\/www.moneycontrol.com\\/india\\/bestportfoliomanager\\/investment-tool"}, {"name": "Mutual Funds", "url": "https:\\/\\/www.moneycontrol.com\\/mutualfundindia\\/"}, {"name": "Yes Bank", "url": "https:\\/\\/www.moneycontrol.com\\/india\\/stockpricequote\\/banks-private-sector\\/yesbank\\/YB"}, {"name": "Latest News", "url": "https:\\/\\/www.moneycontrol.com\\/news\\/"}, {"name": "Tata Steel Share Price, Tata Steel Stock Price, Tata Steel Ltd. Stock Price, Share Price, Live Bse\\/Nse, Tata Steel Ltd. Bids Offers. Buy\\/Sell Tata Steel Ltd. News & Tips, & F&O Quotes, Nse\\/Bse Forecast News and Live Quotes", "url": "https:\\/\\/www.moneycontrol.com\\/india\\/stockpricequote\\/ironsteel\\/tatasteel\\/TIS"}], "dateLastCrawled": "2024-03-20T01:55:00.0000000Z", "cachedPageUrl": "http:\\/\\/cc.bingj.com\\/cache.aspx?q=finance+news+-site%3ayoutube.com+-site%3aamazon.com+-site%3ahotstar.com+-site%3anetflix.com+-site%3aprimevideo.com+-site%3asonyliv.com+-site%3azee5.com+-site%3avoot.com+-site%3aspotify.com+-site%3abing.com%2fvideos&d=4555676485382789&mkt=en-IN&setlang=en-US&w=1Si6BooW3R4Xrs3OW1bLcMOoL7hzI5Ye", "language": "en", "isNavigational": false, "noCache": false}, {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.2", "name": "Business News: Business News India, Business News Today, Latest Finance ...", "url": "https:\\/\\/www.financialexpress.com\\/", "isFamilyFriendly": true, "displayUrl": "https:\\/\\/www.financialexpress.com", "snippet": "Business News Live: Find here latest business news and finance news, share market updates, live stock market news, IPO update, banking and insurance sector updates. Check out for business news ...", "dateLastCrawled": "2024-03-20T02:29:00.0000000Z", "cachedPageUrl": "http:\\/\\/cc.bingj.com\\/cache.aspx?q=finance+news+-site%3ayoutube.com+-site%3aamazon.com+-site%3ahotstar.com+-site%3anetflix.com+-site%3aprimevideo.com+-site%3asonyliv.com+-site%3azee5.com+-site%3avoot.com+-site%3aspotify.com+-site%3abing.com%2fvideos&d=4647395509732516&mkt=en-IN&setlang=en-US&w=jvTS5Orq6GpBZC1am1brCEKzJo36tjLK", "language": "en", "isNavigational": false, "noCache": false}, {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.3", "name": "Finance News: Banking News, Insurance News, RBI News, Money Market News ...", "url": "https:\\/\\/www.business-standard.com\\/finance", "isFamilyFriendly": true, "displayUrl": "https:\\/\\/www.business-standard.com\\/finance", "snippet": "Finance News: Get latest Banking news, Reserve Bank of India news, FIIs, NBFC, Insurance news, SEBI news, Public and Private sector bank news, NBFCs and gold lending news at Business Standard.", "dateLastCrawled": "2024-03-18T17:37:00.0000000Z", "cachedPageUrl": "http:\\/\\/cc.bingj.com\\/cache.aspx?q=finance+news+-site%3ayoutube.com+-site%3aamazon.com+-site%3ahotstar.com+-site%3anetflix.com+-site%3aprimevideo.com+-site%3asonyliv.com+-site%3azee5.com+-site%3avoot.com+-site%3aspotify.com+-site%3abing.com%2fvideos&d=4708534367437706&mkt=en-IN&setlang=en-US&w=TziXvWikkutdMcjn76CXptnAHCSfH2rr", "language": "en", "isNavigational": false, "noCache": false}, {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.4", "name": "Latest Finance News | Today\'s Top Headlines | Reuters", "url": "https:\\/\\/www.reuters.com\\/business\\/finance\\/", "datePublished": "2024-03-18T00:00:00.0000000", "datePublishedFreshnessText": "2 days ago", "isFamilyFriendly": true, "displayUrl": "https:\\/\\/www.reuters.com\\/business\\/finance", "snippet": "Find latest finance news from every corner of the globe at Reuters.com, your online source for breaking international news coverage.", "dateLastCrawled": "2024-03-19T13:25:00.0000000Z", "language": "en", "isNavigational": false, "noCache": true}, {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.5", "name": "Business News Today: Read Latest Business news, India Business News ...", "url": "https:\\/\\/economictimes.indiatimes.com\\/", "isFamilyFriendly": true, "displayUrl": "https:\\/\\/economictimes.indiatimes.com", "snippet": "Business news today: Read India Business news Live. Latest Business news and updates on Finance, share market, IPO, economy. Discover Business News Headlines, Top Financial News and more on The Economic Times. Benchmarks . Nifty 21,817.45-238.25.", "dateLastCrawled": "2024-03-20T01:32:00.0000000Z", "cachedPageUrl": "http:\\/\\/cc.bingj.com\\/cache.aspx?q=finance+news+-site%3ayoutube.com+-site%3aamazon.com+-site%3ahotstar.com+-site%3anetflix.com+-site%3aprimevideo.com+-site%3asonyliv.com+-site%3azee5.com+-site%3avoot.com+-site%3aspotify.com+-site%3abing.com%2fvideos&d=4829184302074910&mkt=en-IN&setlang=en-US&w=KuFqKFeNu_iUD0YBKpko5WnFy8kqpaAi", "language": "en", "isNavigational": false, "noCache": false}, {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.6", "name": "Bloomberg - Business News, Stock Markets, Finance, Breaking & World News", "url": "https:\\/\\/www.bloomberg.com\\/", "isFamilyFriendly": true, "displayUrl": "https:\\/\\/www.bloomberg.com", "snippet": "Bloomberg delivers business and markets news, data, analysis, and video to the world, featuring stories from Businessweek and Bloomberg News", "dateLastCrawled": "2024-03-20T01:28:00.0000000Z", "cachedPageUrl": "http:\\/\\/cc.bingj.com\\/cache.aspx?q=finance+news+-site%3ayoutube.com+-site%3aamazon.com+-site%3ahotstar.com+-site%3anetflix.com+-site%3aprimevideo.com+-site%3asonyliv.com+-site%3azee5.com+-site%3avoot.com+-site%3aspotify.com+-site%3abing.com%2fvideos&d=4619650020108267&mkt=en-IN&setlang=en-US&w=BY3foM0fA040xlchen2Iynabkxlb2BW8", "language": "en", "isNavigational": false, "noCache": false}, {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.7", "name": "Google Finance - Stock Market Prices, Real-time Quotes & Business News", "url": "https:\\/\\/www.google.com\\/finance\\/", "isFamilyFriendly": true, "displayUrl": "https:\\/\\/www.google.com\\/finance", "snippet": "Google Finance provides real-time market quotes, international exchanges, up-to-date financial news, and analytics to help you make more informed trading and investment decisions.", "dateLastCrawled": "2024-03-17T23:20:00.0000000Z", "cachedPageUrl": "http:\\/\\/cc.bingj.com\\/cache.aspx?q=finance+news+-site%3ayoutube.com+-site%3aamazon.com+-site%3ahotstar.com+-site%3anetflix.com+-site%3aprimevideo.com+-site%3asonyliv.com+-site%3azee5.com+-site%3avoot.com+-site%3aspotify.com+-site%3abing.com%2fvideos&d=4797422678573530&mkt=en-IN&setlang=en-US&w=lXL8z_42xFCFncjPIkyYy85m75GQd-gp", "language": "en", "isNavigational": false, "noCache": false}, {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.8", "name": "Finance News - CNBC", "url": "https:\\/\\/www.cnbc.com\\/finance\\/", "isFamilyFriendly": true, "displayUrl": "https:\\/\\/www.cnbc.com\\/finance", "snippet": "Alex Harring Tue, Mar 12th 2024. Xiaomi is set to launch its electric car on March 28. Evelyn Cheng Tue, Mar 12th 2024. Jefferies analyst disputes Trump’s claim that Facebook is ‘enemy of the ...", "dateLastCrawled": "2024-03-19T22:06:00.0000000Z", "cachedPageUrl": "http:\\/\\/cc.bingj.com\\/cache.aspx?q=finance+news+-site%3ayoutube.com+-site%3aamazon.com+-site%3ahotstar.com+-site%3anetflix.com+-site%3aprimevideo.com+-site%3asonyliv.com+-site%3azee5.com+-site%3avoot.com+-site%3aspotify.com+-site%3abing.com%2fvideos&d=4796735824674622&mkt=en-IN&setlang=en-US&w=kHuTa-KzxFKFTZeSW0C5scqwFyCHcsxU", "language": "en", "isNavigational": false, "noCache": false}, {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.9", "name": "Latest Financial and Business News - Yahoo Finance", "url": "https:\\/\\/finance.yahoo.com\\/news", "isFamilyFriendly": true, "displayUrl": "https:\\/\\/finance.yahoo.com\\/news", "snippet": "Today’s business and financial news, plus the latest updates that may affect your money, investments, savings, and financial health", "dateLastCrawled": "2024-03-19T07:37:00.0000000Z", "cachedPageUrl": "http:\\/\\/cc.bingj.com\\/cache.aspx?q=finance+news+-site%3ayoutube.com+-site%3aamazon.com+-site%3ahotstar.com+-site%3anetflix.com+-site%3aprimevideo.com+-site%3asonyliv.com+-site%3azee5.com+-site%3avoot.com+-site%3aspotify.com+-site%3abing.com%2fvideos&d=4849469428731335&mkt=en-IN&setlang=en-US&w=bFp-bz-2oSadSJ4-RGGSqXBlXoV4BvHP", "language": "en", "isNavigational": false, "noCache": false}]}, "rankingResponse": {"mainline": {"items": [{"answerType": "WebPages", "resultIndex": 0, "value": {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.0"}}, {"answerType": "WebPages", "resultIndex": 1, "value": {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.1"}}, {"answerType": "WebPages", "resultIndex": 2, "value": {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.2"}}, {"answerType": "WebPages", "resultIndex": 3, "value": {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.3"}}, {"answerType": "WebPages", "resultIndex": 4, "value": {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.4"}}, {"answerType": "WebPages", "resultIndex": 5, "value": {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.5"}}, {"answerType": "WebPages", "resultIndex": 6, "value": {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.6"}}, {"answerType": "WebPages", "resultIndex": 7, "value": {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.7"}}, {"answerType": "WebPages", "resultIndex": 8, "value": {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.8"}}, {"answerType": "WebPages", "resultIndex": 9, "value": {"id": "https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.9"}}]}}}'