In [1]:
parent_folder = '/Users/username/Desktop/ML/Recommendations/cambrian_reco/'
from hydra import compose, initialize
import os
import sys
sys.path.append('/Users/username/Desktop/ML/Recommendations/cambrian_reco/')

import xml.etree.ElementTree as ET

tree = ET.parse('../conf/application.run.xml')
root = tree.getroot()
envs_element = root.find('./configuration/envs')
for variable in envs_element.findall('env'):
    name = variable.get('name')
    value = variable.get('value')
    os.environ[name] = value

import pandas as pd
import numpy as np

from sql.PostgresDatabaseOperation import PostgresDatabaseOperation
from sql.ArticleSelectionSQL import ArticleSelectionSQL
from src.ArticleSelectionService import ArticleSelectionService
from src.ClusterSelectionService import ClusterSelectionService
from src._utils import get_popularity_priors_for_candidate_articles

In [2]:
# df1 = get_popularity_priors_for_candidate_articles()

In [ ]:
valid_articles = {}

for k in insight_articles:
    if 'is_premium_article' in k and k['is_premium_article'] == False:
        article_id = k['_id']['$oid']
        valid_articles[article_id] = k
        valid_articles[article_id]['source_id'] = k['source_id']['$oid']

valid_article_ids = list(valid_articles.keys())

In [6]:
df, res = ArticleSelectionService.get_feed(user_id=35,cur_feed_article_ids=[],feed_article_count=20,session_page=10,topic_ids=[12, 45, 6, 15], seconds_since_last_api_call=34)

In [7]:
res

{'feedArticles': [{'article_id': '656db1429994965ac4b43483'},
  {'article_id': '656db14d9994965ac4b434a2'},
  {'article_id': '656476eb96c80a0efa90fa26'},
  {'article_id': '6555cad94b13023f9349760f'},
  {'article_id': '656e92599994965ac4b4d679'},
  {'article_id': '656dd55c9994965ac4b43e46'},
  {'article_id': '6555cc4b4b13023f934a74b2'},
  {'article_id': '651dca5ca662d76276b7c16e'},
  {'article_id': '651dc855a662d76276b7bbeb'},
  {'article_id': '6555ccc24b13023f934acbd0'},
  {'article_id': '6555ca894b13023f934943cb'},
  {'article_id': '6555c7ae4b13023f9348ddb2'},
  {'article_id': '6555cc154b13023f934a4cc9'},
  {'article_id': '6555c38a4b13023f9348d4bb'},
  {'article_id': '65546c924b13023f9348b563'},
  {'article_id': '6553534c4b13023f9348b489'},
  {'article_id': '656dd5609994965ac4b43e5f'},
  {'article_id': '6555cc844b13023f934a9cc9'},
  {'article_id': '6555b5914b13023f9348bd36'},
  {'article_id': '6555caf14b13023f934986b8'}],
 'model': 'thompson_sampling_llm_v2',
 'additionalInfo': {'656db1429994965ac4b43483': {'hours_since_publication': 90.75638165944444,
   'cluster_id': 322,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 12.477022985074449,
   'explicit_b': 3.0,
   'implicit_a': 1.0493933463796479,
   'implicit_b': 0.5506432251714722,
   'cluster_a': 13.526416331454097,
   'cluster_b': 3.550643225171472,
   'timeliness_score': 0.6342994582559257,
   'relevance_score': 0.9099193425528328,
   'popularity_score': 0.7307213523206734,
   'total_score': 2.2749401531294318},
  '656db14d9994965ac4b434a2': {'hours_since_publication': 90.75638165944444,
   'cluster_id': 322,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 12.477022985074449,
   'explicit_b': 3.0,
   'implicit_a': 1.0493933463796479,
   'implicit_b': 0.5506432251714722,
   'cluster_a': 13.526416331454097,
   'cluster_b': 3.550643225171472,
   'timeliness_score': 0.6342994582559257,
   'relevance_score': 0.9071009832743531,
   'popularity_score': 0.725261966664583,
   'total_score': 2.266662408194862},
  '656476eb96c80a0efa90fa26': {'hours_since_publication': 258.75638165944446,
   'cluster_id': 312,
   'article_a': 5.0,
   'article_b': 10.0,
   'prior_a': 5.0,
   'prior_b': 10.0,
   'explicit_a': 5.378032776835302,
   'explicit_b': 3.0,
   'implicit_a': 1.051904761904762,
   'implicit_b': 0.5532655328798187,
   'cluster_a': 6.429937538740064,
   'cluster_b': 3.5532655328798186,
   'timeliness_score': 0.6059766442612022,
   'relevance_score': 0.9480996250499338,
   'popularity_score': 0.6610718334903515,
   'total_score': 2.2151481028014874},
  '6555cad94b13023f9349760f': {'hours_since_publication': 858.7563816594444,
   'cluster_id': 322,
   'article_a': 5.0,
   'article_b': 10.0,
   'prior_a': 5.0,
   'prior_b': 10.0,
   'explicit_a': 12.477022985074449,
   'explicit_b': 3.0,
   'implicit_a': 1.0493933463796479,
   'implicit_b': 0.5506432251714722,
   'cluster_a': 13.526416331454097,
   'cluster_b': 3.550643225171472,
   'timeliness_score': 0.5738316800903267,
   'relevance_score': 0.906652013257553,
   'popularity_score': 0.7120166090510617,
   'total_score': 2.1925003023989413},
  '656e92599994965ac4b4d679': {'hours_since_publication': 90.75638165944444,
   'cluster_id': 312,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 5.378032776835302,
   'explicit_b': 3.0,
   'implicit_a': 1.051904761904762,
   'implicit_b': 0.5532655328798187,
   'cluster_a': 6.429937538740064,
   'cluster_b': 3.5532655328798186,
   'timeliness_score': 0.6342994582559257,
   'relevance_score': 0.7090460017944217,
   'popularity_score': 0.8065238191797734,
   'total_score': 2.1498692792301206},
  '656dd55c9994965ac4b43e46': {'hours_since_publication': 186.75638165944446,
   'cluster_id': 230,
   'article_a': 5.0,
   'article_b': 10.0,
   'prior_a': 5.0,
   'prior_b': 10.0,
   'explicit_a': 2.6106279045976826,
   'explicit_b': 3.0,
   'implicit_a': 1.1327210884353742,
   'implicit_b': 0.6452312138460827,
   'cluster_a': 3.743348993033057,
   'cluster_b': 3.645231213846083,
   'timeliness_score': 0.6147835213182087,
   'relevance_score': 0.8987341258949048,
   'popularity_score': 0.6254284165357397,
   'total_score': 2.138946063748853},
  '6555cc4b4b13023f934a74b2': {'hours_since_publication': 3522.7563816594443,
   'cluster_id': 312,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 5.378032776835302,
   'explicit_b': 3.0,
   'implicit_a': 1.051904761904762,
   'implicit_b': 0.5532655328798187,
   'cluster_a': 6.429937538740064,
   'cluster_b': 3.5532655328798186,
   'timeliness_score': 0.5369992805076014,
   'relevance_score': 0.8431422684302757,
   'popularity_score': 0.7586485351553519,
   'total_score': 2.138790084093229},
  '651dca5ca662d76276b7c16e': {'hours_since_publication': 1986.7563816594445,
   'cluster_id': 322,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 12.477022985074449,
   'explicit_b': 3.0,
   'implicit_a': 1.0493933463796479,
   'implicit_b': 0.5506432251714722,
   'cluster_a': 13.526416331454097,
   'cluster_b': 3.550643225171472,
   'timeliness_score': 0.5517738647963814,
   'relevance_score': 0.8542930865390839,
   'popularity_score': 0.7238567926682994,
   'total_score': 2.1299237440037646},
  '651dc855a662d76276b7bbeb': {'hours_since_publication': 2082.7563816594443,
   'cluster_id': 312,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 5.378032776835302,
   'explicit_b': 3.0,
   'implicit_a': 1.051904761904762,
   'implicit_b': 0.5532655328798187,
   'cluster_a': 6.429937538740064,
   'cluster_b': 3.5532655328798186,
   'timeliness_score': 0.5505468742449933,
   'relevance_score': 0.8355228236817047,
   'popularity_score': 0.7338514989060232,
   'total_score': 2.1199211968327214},
  '6555ccc24b13023f934acbd0': {'hours_since_publication': 4458.756381659445,
   'cluster_id': 322,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 12.477022985074449,
   'explicit_b': 3.0,
   'implicit_a': 1.0493933463796479,
   'implicit_b': 0.5506432251714722,
   'cluster_a': 13.526416331454097,
   'cluster_b': 3.550643225171472,
   'timeliness_score': 0.5310009722677236,
   'relevance_score': 0.8856802109542579,
   'popularity_score': 0.7004600457184704,
   'total_score': 2.1171412289404516},
  '6555ca894b13023f934943cb': {'hours_since_publication': 4842.756381659445,
   'cluster_id': 312,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 5.378032776835302,
   'explicit_b': 3.0,
   'implicit_a': 1.051904761904762,
   'implicit_b': 0.5532655328798187,
   'cluster_a': 6.429937538740064,
   'cluster_b': 3.5532655328798186,
   'timeliness_score': 0.5289097789234052,
   'relevance_score': 0.9473845820797566,
   'popularity_score': 0.6342711934241281,
   'total_score': 2.11056555442729},
  '6555c7ae4b13023f9348ddb2': {'hours_since_publication': 714.7563816594444,
   'cluster_id': 322,
   'article_a': 5.0,
   'article_b': 10.0,
   'prior_a': 5.0,
   'prior_b': 10.0,
   'explicit_a': 12.477022985074449,
   'explicit_b': 3.0,
   'implicit_a': 1.0493933463796479,
   'implicit_b': 0.5506432251714722,
   'cluster_a': 13.526416331454097,
   'cluster_b': 3.550643225171472,
   'timeliness_score': 0.5787127236696774,
   'relevance_score': 0.8828539528726008,
   'popularity_score': 0.6451223522432865,
   'total_score': 2.1066890287855644},
  '6555cc154b13023f934a4cc9': {'hours_since_publication': 4962.756381659445,
   'cluster_id': 322,
   'article_a': 5.0,
   'article_b': 10.0,
   'prior_a': 5.0,
   'prior_b': 10.0,
   'explicit_a': 12.477022985074449,
   'explicit_b': 3.0,
   'implicit_a': 1.0493933463796479,
   'implicit_b': 0.5506432251714722,
   'cluster_a': 13.526416331454097,
   'cluster_b': 3.550643225171472,
   'timeliness_score': 0.5282914111825896,
   'relevance_score': 0.9102818749592338,
   'popularity_score': 0.6674759275073994,
   'total_score': 2.106049213649223},
  '6555c38a4b13023f9348d4bb': {'hours_since_publication': 738.7563816594444,
   'cluster_id': 322,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 12.477022985074449,
   'explicit_b': 3.0,
   'implicit_a': 1.0493933463796479,
   'implicit_b': 0.5506432251714722,
   'cluster_a': 13.526416331454097,
   'cluster_b': 3.550643225171472,
   'timeliness_score': 0.5778332122507368,
   'relevance_score': 0.827120613427323,
   'popularity_score': 0.6857423948392524,
   'total_score': 2.0906962205173123},
  '65546c924b13023f9348b563': {'hours_since_publication': 546.7563816594444,
   'cluster_id': 322,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 12.477022985074449,
   'explicit_b': 3.0,
   'implicit_a': 1.0493933463796479,
   'implicit_b': 0.5506432251714722,
   'cluster_a': 13.526416331454097,
   'cluster_b': 3.550643225171472,
   'timeliness_score': 0.5858663500802653,
   'relevance_score': 0.9045442984710153,
   'popularity_score': 0.5933354645416469,
   'total_score': 2.0837461130929276},
  '6553534c4b13023f9348b489': {'hours_since_publication': 570.7563816594444,
   'cluster_id': 322,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 12.477022985074449,
   'explicit_b': 3.0,
   'implicit_a': 1.0493933463796479,
   'implicit_b': 0.5506432251714722,
   'cluster_a': 13.526416331454097,
   'cluster_b': 3.550643225171472,
   'timeliness_score': 0.5847173130954858,
   'relevance_score': 0.8419561381526203,
   'popularity_score': 0.6537777913340457,
   'total_score': 2.0804512425821517},
  '656dd5609994965ac4b43e5f': {'hours_since_publication': 186.75638165944446,
   'cluster_id': 312,
   'article_a': 5.0,
   'article_b': 10.0,
   'prior_a': 5.0,
   'prior_b': 10.0,
   'explicit_a': 5.378032776835302,
   'explicit_b': 3.0,
   'implicit_a': 1.051904761904762,
   'implicit_b': 0.5532655328798187,
   'cluster_a': 6.429937538740064,
   'cluster_b': 3.5532655328798186,
   'timeliness_score': 0.6147835213182087,
   'relevance_score': 0.918633097656126,
   'popularity_score': 0.5463574411970641,
   'total_score': 2.079774060171399},
  '6555cc844b13023f934a9cc9': {'hours_since_publication': 2250.7563816594443,
   'cluster_id': 322,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 12.477022985074449,
   'explicit_b': 3.0,
   'implicit_a': 1.0493933463796479,
   'implicit_b': 0.5506432251714722,
   'cluster_a': 13.526416331454097,
   'cluster_b': 3.550643225171472,
   'timeliness_score': 0.548533427966925,
   'relevance_score': 0.8823116937865964,
   'popularity_score': 0.6484845731421073,
   'total_score': 2.0793296948956286},
  '6555b5914b13023f9348bd36': {'hours_since_publication': 858.7563816594444,
   'cluster_id': 312,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 5.378032776835302,
   'explicit_b': 3.0,
   'implicit_a': 1.051904761904762,
   'implicit_b': 0.5532655328798187,
   'cluster_a': 6.429937538740064,
   'cluster_b': 3.5532655328798186,
   'timeliness_score': 0.5738316800903267,
   'relevance_score': 0.8515994250502664,
   'popularity_score': 0.6526516659881889,
   'total_score': 2.0780827711287824},
  '6555caf14b13023f934986b8': {'hours_since_publication': 4122.756381659445,
   'cluster_id': 322,
   'article_a': 15.0,
   'article_b': 10.0,
   'prior_a': 15.0,
   'prior_b': 10.0,
   'explicit_a': 12.477022985074449,
   'explicit_b': 3.0,
   'implicit_a': 1.0493933463796479,
   'implicit_b': 0.5506432251714722,
   'cluster_a': 13.526416331454097,
   'cluster_b': 3.550643225171472,
   'timeliness_score': 0.5329899576374569,
   'relevance_score': 0.8770674302635773,
   'popularity_score': 0.6668211139374783,
   'total_score': 2.0768785018385123}}}

In [8]:
df.nlargest(10, 'total_score')

,article_id,hours_since_publication,cluster_id,article_a,article_b,prior_a,prior_b,explicit_a,explicit_b,implicit_a,implicit_b,cluster_a,cluster_b,timeliness_score,relevance_score,popularity_score,total_score
5833,656db1429994965ac4b43483,90.756382,322,15.0,10.0,15.0,10.0,12.477023,3.0,1.049393,0.550643,13.526416,3.550643,0.634299,0.909919,0.730721,2.274940
5856,656db14d9994965ac4b434a2,90.756382,322,15.0,10.0,15.0,10.0,12.477023,3.0,1.049393,0.550643,13.526416,3.550643,0.634299,0.907101,0.725262,2.266662
5172,656476eb96c80a0efa90fa26,258.756382,312,5.0,10.0,5.0,10.0,5.378033,3.0,1.051905,0.553266,6.429938,3.553266,0.605977,0.948100,0.661072,2.215148
3416,6555cad94b13023f9349760f,858.756382,322,5.0,10.0,5.0,10.0,12.477023,3.0,1.049393,0.550643,13.526416,3.550643,0.573832,0.906652,0.712017,2.192500
6914,656e92599994965ac4b4d679,90.756382,312,15.0,10.0,15.0,10.0,5.378033,3.0,1.051905,0.553266,6.429938,3.553266,0.634299,0.709046,0.806524,2.149869
6104,656dd55c9994965ac4b43e46,186.756382,230,5.0,10.0,5.0,10.0,2.610628,3.0,1.132721,0.645231,3.743349,3.645231,0.614784,0.898734,0.625428,2.138946
4472,6555cc4b4b13023f934a74b2,3522.756382,312,15.0,10.0,15.0,10.0,5.378033,3.0,1.051905,0.553266,6.429938,3.553266,0.536999,0.843142,0.758649,2.138790
27,651dca5ca662d76276b7c16e,1986.756382,322,15.0,10.0,15.0,10.0,12.477023,3.0,1.049393,0.550643,13.526416,3.550643,0.551774,0.854293,0.723857,2.129924
18,651dc855a662d76276b7bbeb,2082.756382,312,15.0,10.0,15.0,10.0,5.378033,3.0,1.051905,0.553266,6.429938,3.553266,0.550547,0.835523,0.733851,2.119921
4692,6555ccc24b13023f934acbd0,4458.756382,322,15.0,10.0,15.0,10.0,12.477023,3.0,1.049393,0.550643,13.526416,3.550643,0.531001,0.885680,0.700460,2.117141

In [10]:
df.prior_a.unique()

array([ 5., 15.,  1.])

In [6]:
df.sort_values('hours_since_publication')

,article_id,hours_since_publication,cluster_id,article_a,article_b,explicit_a,explicit_b,implicit_a,implicit_b,cluster_a,cluster_b,timeliness_score,relevance_score,popularity_score,total_score
7990,65716e0c441fea11ec37f761,17.574258,325.0,1.0,10.0,1.000000,3.0,0.000000,0.000000,1.000000,3.000000,0.959552,0.004076,0.017955,0.981583
7929,65716d8f441fea11ec37f6ff,17.574258,293.0,1.0,10.0,1.000000,3.0,0.000000,0.000000,1.000000,3.000000,0.959552,0.012571,0.056254,1.028377
7928,65716d8f441fea11ec37f6fe,17.574258,306.0,1.0,10.0,1.000000,3.0,0.000000,0.000000,1.000000,3.000000,0.959552,0.269259,0.035671,1.264481
7927,65716d8e441fea11ec37f6fc,17.574258,280.0,1.0,10.0,1.000000,3.0,0.000000,0.000000,1.000000,3.000000,0.959552,0.572793,0.113889,1.646233
7926,65716d8e441fea11ec37f6fb,17.574258,312.0,1.0,10.0,5.378033,3.0,1.051905,0.553266,6.429938,3.553266,0.959552,0.733407,0.089398,1.782357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1405,6555b5b54b13023f9348beb5,8753.574258,312.0,1.0,10.0,5.378033,3.0,1.051905,0.553266,6.429938,3.553266,0.251686,0.752062,0.023984,1.027732
3691,6555cb244b13023f9349a7bf,8753.574258,323.0,5.0,10.0,1.000000,3.0,0.000000,0.000000,1.000000,3.000000,0.251686,0.255295,0.298515,0.805496
397,652fcaf61e5cc42b1b13a134,8753.574258,312.0,1.0,10.0,5.378033,3.0,1.051905,0.553266,6.429938,3.553266,0.251686,0.611298,0.018241,0.881225
1399,6555b5af4b13023f9348be70,8777.574258,312.0,5.0,10.0,5.378033,3.0,1.051905,0.553266,6.429938,3.553266,0.251679,0.587995,0.423027,1.262701
384,652ebbda1e5cc42b1b139b5c,8777.574258,312.0,1.0,10.0,5.378033,3.0,1.051905,0.553266,6.429938,3.553266,0.251679,0.503263,0.099190,0.854132

In [20]:
from sql.PostgresDatabaseOperation import PostgresDatabaseOperation

In [70]:
with PostgresDatabaseOperation() as cursor:
    sql = '''
     SELECT DISTINCT article_id, financial_news, relevant_for_india, validity_duration, expected_popularity
                        FROM llm_article_attributes
    '''
    cursor.execute(sql)
    result = cursor.fetchall()
df = pd.DataFrame(result, columns=['article_id', 'financial_news', 'relevant_for_india', 'validity_duration', 'expected_popularity'])

In [71]:
def calc_hours_since_publication(df):
    df['published_at'] = pd.to_datetime(df['published_at'])
    df['published_at'] = df['published_at'].apply(lambda x: x.replace(tzinfo=None))
    df['hours_since_publication'] = (datetime.today() - df['published_time'])/np.timedelta64(1, 'h')
    return df

In [72]:
df['hours_since_publication'] = [np.random.randint(1, 300) for x in range(len(df))]

In [73]:
df['validity_duration'] = df['validity_duration'].replace(-1, 365)

In [74]:
df['validity_in_hours'] = df['validity_duration'] * 24

In [62]:

def vectorized_keep_article(df):
    ONE_WEEK_IN_HOURS = 168  # Assuming this is your constant for one week in hours

    # Default condition for all articles (when financial_news is None)
    keep = df['hours_since_publication'] <= ONE_WEEK_IN_HOURS

    # Update condition for articles where financial_news is not None
    financial_news_condition = df['financial_news'] & df['relevant_news'] & (df['hours_since_publication'] < df['validity_in_hours'])
    keep[df['financial_news'].notna()] = financial_news_condition[df['financial_news'].notna()]

    return keep

# Example usage
# df['keep_article'] = vectorized_keep_article(df)

# Example usage
# df['keep_article'] = vectorized_keep_article(df)

In [75]:
df['financial_news'] = df.apply(lambda x: None if 134 < x['hours_since_publication'] < 200 else x['financial_news'], axis = 1)

In [77]:
df['relevant_for_india'] = df.apply(lambda x: None if 134 < x['hours_since_publication'] < 200 else x['relevant_for_india'], axis = 1)
df['validity_in_hours'] = df.apply(lambda x: None if 134 < x['hours_since_publication'] < 200 else x['validity_in_hours'], axis = 1)

In [65]:
ONE_WEEK_IN_HOURS = 168

In [79]:
def keep_article(article_row):
    if pd.isna(article_row['financial_news']):
        return article_row['hours_since_publication'] <= ONE_WEEK_IN_HOURS
    else:
        return article_row['financial_news'] and article_row['relevant_for_india'] and article_row['hours_since_publication'] < article_row['validity_in_hours']

# Applying the function row-wise
df['keep_article'] = df.apply(keep_article, axis=1)

In [81]:
df.sample(20)

,article_id,financial_news,relevant_for_india,validity_duration,expected_popularity,hours_since_publication,validity_in_hours,keep_article
65940,653169141e5cc42b1b13ce3c,True,True,30,moderately_popular,216,720.0,True
1508,6555c0e34b13023f9348cd31,True,False,30,niche,230,720.0,False
10019,65316f5b1e5cc42b1b13fb31,True,True,1,moderately_popular,207,24.0,False
65174,6555cbfd4b13023f934a3c0d,True,True,1,breaking_news,246,24.0,False
5966,6564771796c80a0efa90fdd2,None,None,365,moderately_popular,152,NaN,True
30319,6555bf694b13023f9348c72d,None,None,7,moderately_popular,141,NaN,True
26872,653169161e5cc42b1b13ceeb,True,True,7,moderately_popular,212,168.0,False
6288,651e2268a662d76276b89d9d,False,True,7,moderately_popular,275,168.0,False
60429,6560cfb0e1d8342798a46216,True,True,3,niche,284,72.0,False
58296,6531690f1e5cc42b1b13ccc7,None,None,30,moderately_popular,182,NaN,False
30455,651ddf15a662d76276b7f892,True,True,7,moderately_popular,283,168.0,False
37563,65316ff61e5cc42b1b142cb0,True,True,14,moderately_popular,10,336.0,True
43247,651dcbd3a662d76276b7c56d,True,True,3,moderately_popular,12,72.0,True
31589,6555cb6d4b13023f9349d846,True,True,365,niche,213,8760.0,True
33945,6555cc7e4b13023f934a9911,None,None,30,moderately_popular,197,NaN,False
60129,6545ec0adc4fa72a6c4039db,None,None,30,moderately_popular,188,NaN,False
16754,651dc77ca662d76276b7b980,None,None,7,breaking_news,178,NaN,False
59717,65316ebc1e5cc42b1b13e688,None,None,30,moderately_popular,171,NaN,False
49026,6555cc444b13023f934a6fed,True,True,3,moderately_popular,132,72.0,False
52256,653168c71e5cc42b1b13b987,True,True,3,moderately_popular,273,72.0,False

In [63]:
vectorized_keep_article(df)

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [60]:
df

,article_id,financial_news,relevant_for_india,validity_duration,expected_popularity,hours_since_publication,validity_in_hours,relevant_news
0,6560c34de1d8342798a44e63,NaN,True,14,niche,168,NaN,NaN
1,6555c3e04b13023f9348d600,43.0,False,30,moderately_popular,43,43.0,43.0
2,652fd14e1e5cc42b1b13a424,220.0,True,365,niche,220,220.0,220.0
3,6555c4114b13023f9348d6e7,233.0,False,7,moderately_popular,233,233.0,233.0
4,651dcb99a662d76276b7c4c8,131.0,True,30,moderately_popular,131,131.0,131.0
...,...,...,...,...,...,...,...,...
67234,6555cba64b13023f9349fef8,274.0,True,30,moderately_popular,274,274.0,274.0
67235,6555c8014b13023f9348f963,293.0,False,365,moderately_popular,293,293.0,293.0
67236,656476ef96c80a0efa90faa8,261.0,True,30,moderately_popular,261,261.0,261.0
67237,6555cbc94b13023f934a16f7,49.0,True,365,niche,49,49.0,49.0
67238,65316f431e5cc42b1b13f66c,212.0,True,1,moderately_popular,212,212.0,212.0

In [47]:
vectorized_keep_article(df)

0         True
1        False
2         True
3        False
4        False
         ...
67158     True
67159    False
67160     True
67161     True
67162     True
Length: 67163, dtype: bool

In [40]:
def keep_article(article_row):
    if article_row['financial_news'] is None:
        return article_row['hours_since_publication'] <= ONE_WEEK_IN_HOURS
    else:
        return article_row['financial_news'] and article_row['relevant_for_india'] and article_row['hours_since_publication'] < article_row['validity_in_hours']

In [44]:
df

,article_id,financial_news,relevant_for_india,validity_duration,expected_popularity,hours_since_publication,validity_in_hours
0,6560c34de1d8342798a44e63,True,True,14,niche,174,336
1,6555c3e04b13023f9348d600,True,False,30,moderately_popular,59,720
2,652fd14e1e5cc42b1b13a424,True,True,365,niche,267,8760
3,6555c4114b13023f9348d6e7,True,False,7,moderately_popular,228,168
4,651dcb99a662d76276b7c4c8,False,True,30,moderately_popular,220,720
...,...,...,...,...,...,...,...
67158,6555cba64b13023f9349fef8,True,True,30,moderately_popular,187,720
67159,6555c8014b13023f9348f963,False,False,365,moderately_popular,130,8760
67160,656476ef96c80a0efa90faa8,True,True,30,moderately_popular,215,720
67161,6555cbc94b13023f934a16f7,True,True,365,niche,203,8760
67162,65316f431e5cc42b1b13f66c,True,True,1,moderately_popular,20,24

In [35]:
keep_article(df.iloc[0])

False

In [23]:
df

,article_id,financial_news,relevant_for_india,validity_duration,expected_popularity
0,6560c34de1d8342798a44e63,True,True,14,niche
1,6555c3e04b13023f9348d600,True,False,30,moderately_popular
2,652fd14e1e5cc42b1b13a424,True,True,-1,niche
3,6555c4114b13023f9348d6e7,True,False,7,moderately_popular
4,651dcb99a662d76276b7c4c8,False,True,30,moderately_popular
...,...,...,...,...,...
67158,6555cba64b13023f9349fef8,True,True,30,moderately_popular
67159,6555c8014b13023f9348f963,False,False,-1,moderately_popular
67160,656476ef96c80a0efa90faa8,True,True,30,moderately_popular
67161,6555cbc94b13023f934a16f7,True,True,-1,niche
67162,65316f431e5cc42b1b13f66c,True,True,1,moderately_popular

In [19]:
df['cluster_id'].astype('double')

38139    191.0
36928    280.0
38892    306.0
37121    291.0
38885    197.0
38491    313.0
37859    193.0
37213    291.0
38865    280.0
4326     291.0
Name: cluster_id, dtype: float64

In [4]:
css = ClusterSelectionService()

In [5]:
from src._utils import get_popularity_priors_for_candidate_articles

In [6]:
df1 = get_popularity_priors_for_candidate_articles()

In [24]:
from datetime import datetime

In [26]:
datetime.now()

datetime.datetime(2023, 12, 6, 22, 1, 11, 352442)

In [28]:
df1['published_date'] = pd.to_datetime(df1['published_date'])

In [59]:
def timeliness_score(hours_since_publication, page_number=1):
    # The function decays a lot in the first few hours and days and then decays slowly. at 6 hours its approximately 1, at 24 hours - 0.93, 3 days at 0.77 and a week at 0.55
    # page number reduces the impact of timeliness weight and also reduces the difference between newer and older articles and page number increases
    # TODO: - find a linear approximation to this
    page_number = np.max(1, page_number)
    hours_since_publication = np.max(1, hours_since_publication)
    log_hours = np.log2(hours_since_publication)
    exponent = (log_hours - 7) / page_number
    return 0.25 + (0.75 / (1 + np.exp(exponent)))

In [53]:
import numpy as np

def vectorized_timeliness_score(hours_since_publication, page_number=1):
    # Ensure inputs are NumPy arrays for vectorized operations
    hours_since_publication = np.maximum(1, np.array(hours_since_publication))
    page_number = np.maximum(1, np.array(page_number))

    # Vectorized computation
    log_hours = np.log2(hours_since_publication)
    exponent = (log_hours - 7) / page_number
    return 0.25 + (0.75 / (1 + np.exp(exponent)))

# Example usage with DataFrame columns
# df['timeliness_score'] = vectorized_timeliness_score(df['hours_since_publication'], df['page_number'])

In [58]:
np.allclose(vectorized_timeliness_score(35), timeliness_score(35))

True

In [56]:
%timeit vectorized_timeliness_score(df1['hours_since_publication'])

270 Âµs Â± 11.9 Âµs per loop (mean Â± std. dev. of 7 runs, 1,000 loops each)

In [57]:
%timeit [timeliness_score(x) for x in df1['hours_since_publication']]

36.5 ms Â± 338 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [40]:
df1['hours_since_publication'] = (datetime.now() - df1['published_date'])/np.timedelta64(1, 'h')

In [50]:
%timeit df1['pop1'] = np.random.beta(df1['a_all'], df1['b_all'])

1.6 ms Â± 14.8 Âµs per loop (mean Â± std. dev. of 7 runs, 1,000 loops each)

In [60]:
timeliness_score(df1['hours_since_publication'])

AxisError: axis 1 is out of bounds for array of dimension 0

In [49]:
df1

,article_id,published_date,cluster_id,a_all,b_all,hours_since_publication,timeliness_score,pop1
0,651dacc4701055199ecf995e,2023-10-03,291,1.0,10.0,1558.129421,0.269839,0.140397
1,651dacca701055199ecf9961,2023-10-03,291,1.0,10.0,1558.129421,0.269839,0.096500
2,651daccf701055199ecf9964,2023-10-03,291,1.0,10.0,1558.129421,0.269839,0.002938
3,651dacd0701055199ecf9966,2023-10-03,291,1.0,10.0,1558.129421,0.269839,0.041786
4,651dacd2701055199ecf9969,2023-10-03,291,1.0,10.0,1558.129421,0.269839,0.011859
...,...,...,...,...,...,...,...,...
39077,656d40db207bb033b910f0bd,2023-12-04,197,1.0,10.0,70.129421,0.778255,0.191409
39078,656d40db207bb033b910f0c3,2023-12-04,197,1.0,10.0,70.129421,0.778255,0.219910
39079,656d40db207bb033b910f0c4,2023-12-03,247,1.0,10.0,94.129421,0.706806,0.044880
39080,656d40db207bb033b910f0c9,2023-12-04,306,1.0,10.0,70.129421,0.778255,0.062278
39081,656d40dc207bb033b910f0ce,2023-12-04,306,1.0,10.0,70.129421,0.778255,0.237456

0        1558.084753
1        1558.084753
2        1558.084753
3        1558.084753
4        1558.084753
            ...
39077      70.084753
39078      70.084753
39079      94.084753
39080      70.084753
39081      70.084753
Name: published_date, Length: 39082, dtype: float64

In [23]:
df1

                     article_id published_date  cluster_id  a_all  b_all
0      651dacc4701055199ecf995e     2023-10-03         291    1.0   10.0
1      651dacca701055199ecf9961     2023-10-03         291    1.0   10.0
2      651daccf701055199ecf9964     2023-10-03         291    1.0   10.0
3      651dacd0701055199ecf9966     2023-10-03         291    1.0   10.0
4      651dacd2701055199ecf9969     2023-10-03         291    1.0   10.0
...                         ...            ...         ...    ...    ...
39077  656d40db207bb033b910f0bd     2023-12-04         197    1.0   10.0
39078  656d40db207bb033b910f0c3     2023-12-04         197    1.0   10.0
39079  656d40db207bb033b910f0c4     2023-12-03         247    1.0   10.0
39080  656d40db207bb033b910f0c9     2023-12-04         306    1.0   10.0
39081  656d40dc207bb033b910f0ce     2023-12-04         306    1.0   10.0

[39082 rows x 5 columns]

In [19]:
cluster_preferences = css.get_overall_user_preferences(user_id=35, topic_id_list=[35, 12, 1])

cluster_allotment = css.allot_articles_per_cluster(cluster_preferences=cluster_preferences,
                                                                         feed_article_count=20,
                                                                         seconds_since_last_api=360)

In [13]:
ass = ArticleSelectionService()

In [20]:
feed = ass.get_ordered_feed(user_id=35,articles_per_cluster=cluster_allotment,cur_feed_article_ids=[],cluster_preferences=cluster_preferences)

/Users/username/Desktop/ML/Recommendations/cambrian_reco/src/ArticleSelectionService.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Group the DataFrame by cluster_id and then apply the selection function for each group

In [22]:
%timeit ass.get_ordered_feed(user_id=35,articles_per_cluster=cluster_allotment,cur_feed_article_ids=[],cluster_preferences=cluster_preferences)

/Users/username/Desktop/ML/Recommendations/cambrian_reco/src/ArticleSelectionService.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Group the DataFrame by cluster_id and then apply the selection function for each group
/Users/username/Desktop/ML/Recommendations/cambrian_reco/src/ArticleSelectionService.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Group the DataFrame by cluster_id and then apply the selection function for each group
/Users/username/Desktop/ML/Recommendations/cambrian_reco/src/ArticleSelectionService.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Group the DataFrame by cluster_id and then apply the selection function for each group
/Users/username/Desktop/ML/Recommendations/cambrian_reco/src/ArticleSelectionService.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Group the DataFrame by cluster_id and then apply the selection function for each group
/Users/username/Desktop/ML/Recommendations/cambrian_reco/src/ArticleSelectionService.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Group the DataFrame by cluster_id and then apply the selection function for each group
/Users/username/Desktop/ML/Recommendations/cambrian_reco/src/ArticleSelectionService.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Group the DataFrame by cluster_id and then apply the selection function for each group
/Users/username/Desktop/ML/Recommendations/cambrian_reco/src/ArticleSelectionService.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Group the DataFrame by cluster_id and then apply the selection function for each group

1.64 s Â± 256 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

/Users/username/Desktop/ML/Recommendations/cambrian_reco/src/ArticleSelectionService.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Group the DataFrame by cluster_id and then apply the selection function for each group

In [21]:
feed

{'feedArticles': [{'article_id': '651dd117a662d76276b7d3fd'},
  {'article_id': '651e027ba662d76276b85258'},
  {'article_id': '651de084a662d76276b7fc8c'},
  {'article_id': '6566a95339bfc8784efe5b93'},
  {'article_id': '651dfb99a662d76276b840ee'},
  {'article_id': '65686b4a207bb033b910ee4d'},
  {'article_id': '654eee564b13023f9348b2f6'},
  {'article_id': '6560d4fce1d8342798a468ca'},
  {'article_id': '6567fae5207bb033b910ec75'},
  {'article_id': '656719cf207bb033b910ea2f'},
  {'article_id': '656557db1fc4586a032ad640'},
  {'article_id': '651de8b9a662d76276b8123c'},
  {'article_id': '651e0002a662d76276b84bf2'},
  {'article_id': '656557d61fc4586a032ad5fd'},
  {'article_id': '651e0517a662d76276b858f7'},
  {'article_id': '6560cf82e1d8342798a4585b'}],
 'model': 'thompson_sampling_v1',
 'additionalInfo': {'651dd117a662d76276b7d3fd': {'cluster_id': 306,
   'sample_probability': 0.653,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '-1_mutual_bonds_yoy_fixed',
   'cluster': 'vedanta_gst_minister_semiconductor_apple',
   'implicit_a': 0.0,
   'explicit_a': 1.415,
   'implicit_b': 1.354,
   'explicit_b': 3.0},
  '651e027ba662d76276b85258': {'cluster_id': 230,
   'sample_probability': 0.61,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '18_inflation_food_rice_agriculture',
   'cluster': 'inflation_policy_rbi_economy_food',
   'implicit_a': 0.784,
   'explicit_a': 2.041,
   'implicit_b': 0.784,
   'explicit_b': 3.0},
  '651de084a662d76276b7fc8c': {'cluster_id': 291,
   'sample_probability': 0.541,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '1_film_films_movie_content',
   'cluster': 'film_films_content_movie_box office',
   'implicit_a': 0.0,
   'explicit_a': 3.41,
   'implicit_b': 2.132,
   'explicit_b': 3.0},
  '6566a95339bfc8784efe5b93': {'cluster_id': 193,
   'sample_probability': 0.504,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '62_jsw_jsw steel_steel_steel stock',
   'cluster': 'steel_jsw_steel stock_tata steel_jsw steel',
   'implicit_a': 0.0,
   'explicit_a': 1.0,
   'implicit_b': 0.711,
   'explicit_b': 3.0},
  '651dfb99a662d76276b840ee': {'cluster_id': 306,
   'sample_probability': 0.499,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '31_bjp_congress_party_people',
   'cluster': 'vedanta_gst_minister_semiconductor_apple',
   'implicit_a': 0.0,
   'explicit_a': 1.415,
   'implicit_b': 1.354,
   'explicit_b': 3.0},
  '65686b4a207bb033b910ee4d': {'cluster_id': 184,
   'sample_probability': 0.493,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '0_ipo_gmp_allotment_subscription',
   'cluster': 'ipo_gmp_allotment_subscription_subscribed',
   'implicit_a': 0.0,
   'explicit_a': 1.0,
   'implicit_b': 0.784,
   'explicit_b': 3.0},
  '654eee564b13023f9348b2f6': {'cluster_id': 291,
   'sample_probability': 0.485,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '-1_mutual_bonds_yoy_fixed',
   'cluster': 'film_films_content_movie_box office',
   'implicit_a': 0.0,
   'explicit_a': 3.41,
   'implicit_b': 2.132,
   'explicit_b': 3.0},
  '6560d4fce1d8342798a468ca': {'cluster_id': 284,
   'sample_probability': 0.481,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '-1_mutual_bonds_yoy_fixed',
   'cluster': 'yes_yes bank_yoy_npa_net profit',
   'implicit_a': 0.784,
   'explicit_a': 1.0,
   'implicit_b': 0.784,
   'explicit_b': 3.0},
  '6567fae5207bb033b910ec75': {'cluster_id': 191,
   'sample_probability': 0.47,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '10_oil_crude_opec_oil prices',
   'cluster': 'oil_crude_gas_opec_oil prices',
   'implicit_a': 0.0,
   'explicit_a': 1.0,
   'implicit_b': 0.677,
   'explicit_b': 3.0},
  '656719cf207bb033b910ea2f': {'cluster_id': 284,
   'sample_probability': 0.466,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '16_yoy_npa_nii_net profit',
   'cluster': 'yes_yes bank_yoy_npa_net profit',
   'implicit_a': 0.784,
   'explicit_a': 1.0,
   'implicit_b': 0.784,
   'explicit_b': 3.0},
  '656557db1fc4586a032ad640': {'cluster_id': 191,
   'sample_probability': 0.462,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '10_oil_crude_opec_oil prices',
   'cluster': 'oil_crude_gas_opec_oil prices',
   'implicit_a': 0.0,
   'explicit_a': 1.0,
   'implicit_b': 0.677,
   'explicit_b': 3.0},
  '651de8b9a662d76276b8123c': {'cluster_id': 230,
   'sample_probability': 0.431,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '-1_mutual_bonds_yoy_fixed',
   'cluster': 'inflation_policy_rbi_economy_food',
   'implicit_a': 0.784,
   'explicit_a': 2.041,
   'implicit_b': 0.784,
   'explicit_b': 3.0},
  '651e0002a662d76276b84bf2': {'cluster_id': 193,
   'sample_probability': 0.416,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '-1_mutual_bonds_yoy_fixed',
   'cluster': 'steel_jsw_steel stock_tata steel_jsw steel',
   'implicit_a': 0.0,
   'explicit_a': 1.0,
   'implicit_b': 0.711,
   'explicit_b': 3.0},
  '656557d61fc4586a032ad5fd': {'cluster_id': 184,
   'sample_probability': 0.404,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '0_ipo_gmp_allotment_subscription',
   'cluster': 'ipo_gmp_allotment_subscription_subscribed',
   'implicit_a': 0.0,
   'explicit_a': 1.0,
   'implicit_b': 0.784,
   'explicit_b': 3.0},
  '651e0517a662d76276b858f7': {'cluster_id': 177,
   'sample_probability': 0.269,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '-1_mutual_bonds_yoy_fixed',
   'cluster': 'sbi_price sbi_sbi life_sbi stock_life stock',
   'implicit_a': 0,
   'explicit_a': 1.0,
   'implicit_b': 0,
   'explicit_b': 3.0},
  '6560cf82e1d8342798a4585b': {'cluster_id': 177,
   'sample_probability': 0.199,
   'article_a': 1.0,
   'article_b': 11.0,
   'storyline': '115_sbi_price sbi_sbi stock_net change',
   'cluster': 'sbi_price sbi_sbi life_sbi stock_life stock',
   'implicit_a': 0,
   'explicit_a': 1.0,
   'implicit_b': 0,
   'explicit_b': 3.0}}}

In [12]:
df1

                     article_id published_date  cluster_id  a_all  b_all
0      651dacc4701055199ecf995e     2023-10-03         291    1.0   10.0
1      651dacca701055199ecf9961     2023-10-03         291    1.0   10.0
2      651daccf701055199ecf9964     2023-10-03         291    1.0   10.0
3      651dacd0701055199ecf9966     2023-10-03         291    1.0   10.0
4      651dacd2701055199ecf9969     2023-10-03         291    1.0   10.0
...                         ...            ...         ...    ...    ...
39077  656d40db207bb033b910f0bd     2023-12-04         197    1.0   10.0
39078  656d40db207bb033b910f0c3     2023-12-04         197    1.0   10.0
39079  656d40db207bb033b910f0c4     2023-12-03         247    1.0   10.0
39080  656d40db207bb033b910f0c9     2023-12-04         306    1.0   10.0
39081  656d40dc207bb033b910f0ce     2023-12-04         306    1.0   10.0

[39082 rows x 5 columns]

In [11]:
df1

                     article_id published_date  cluster_id  a_all  b_all
0      651dacc4701055199ecf995e     2023-10-03         291    1.0   10.0
1      651dacca701055199ecf9961     2023-10-03         291    1.0   10.0
2      651daccf701055199ecf9964     2023-10-03         291    1.0   10.0
3      651dacd0701055199ecf9966     2023-10-03         291    1.0   10.0
4      651dacd2701055199ecf9969     2023-10-03         291    1.0   10.0
...                         ...            ...         ...    ...    ...
39077  656d40db207bb033b910f0bd     2023-12-04         197    1.0   10.0
39078  656d40db207bb033b910f0c3     2023-12-04         197    1.0   10.0
39079  656d40db207bb033b910f0c4     2023-12-03         247    1.0   10.0
39080  656d40db207bb033b910f0c9     2023-12-04         306    1.0   10.0
39081  656d40dc207bb033b910f0ce     2023-12-04         306    1.0   10.0

[39082 rows x 5 columns]

In [10]:
df1.a_all.max()

2.6269565217391304

In [ ]:
def clu_pref(user_id, topic_ids):
    cluster_preferences = css.get_overall_user_preferences(user_id=35, topic_id_list=[35, 12, 1])

    cluster_allotment = css.allot_articles_per_cluster(cluster_preferences=cluster_preferences,
                                                                             feed_article_count=20,
                                                                             seconds_since_last_api=360)
    return cluster_allotment

In [15]:
from sql.ArticleSelectionSQL import ArticleSelectionSQL

In [17]:
%timeit ArticleSelectionSQL.get_user_day_wise_cluster_activity_a_b(35)

146 ms Â± 9.08 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [14]:
%timeit clu_pref(35,[])

254 ms Â± 10.4 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

{323: 3,
 230: 3,
 nan: 2,
 270: 2,
 291: 2,
 184: 2,
 280: 2,
 193: 2,
 284: 1,
 191: 1}

In [4]:
df

,cluster_id,explicit_a,explicit_b,implicit_a,implicit_b,a,b
0,280,1.0,3,0.000000,0.000000,1.000000,3.000000
1,209,1.0,3,0.000000,0.000000,1.000000,3.000000
2,184,1.0,3,0.000000,0.000000,1.000000,3.000000
3,257,1.0,3,0.531304,0.282284,1.531304,3.282284
4,306,1.0,3,0.000000,0.000000,1.000000,3.000000
5,224,1.0,3,0.000000,0.000000,1.000000,3.000000
6,190,1.0,3,0.000000,0.000000,1.000000,3.000000
7,230,1.0,3,1.140915,0.654812,2.140915,3.654812
8,325,1.0,3,0.000000,0.000000,1.000000,3.000000
9,247,1.0,3,0.000000,0.000000,1.000000,3.000000
10,322,1.0,3,1.054638,0.556162,2.054638,3.556162
11,313,1.0,3,0.525915,0.276587,1.525915,3.276587
12,291,1.0,3,2.281831,1.309624,3.281831,4.309624
13,295,1.0,3,0.000000,0.000000,1.000000,3.000000
14,193,1.0,3,0.000000,0.000000,1.000000,3.000000
15,293,1.0,3,0.000000,0.000000,1.000000,3.000000
16,191,1.0,3,0.000000,0.000000,1.000000,3.000000
17,232,1.0,3,0.000000,0.000000,1.000000,3.000000
18,302,1.0,3,0.000000,0.000000,1.000000,3.000000
19,323,1.0,3,0.000000,0.000000,1.000000,3.000000
20,312,1.0,3,1.057220,0.558871,2.057220,3.558871
21,177,1.0,3,0.000000,0.000000,1.000000,3.000000
22,197,1.0,3,0.000000,0.000000,1.000000,3.000000
23,284,1.0,3,0.615000,0.378225,1.615000,3.378225
24,207,1.0,3,0.000000,0.000000,1.000000,3.000000
25,270,1.0,3,0.000000,0.000000,1.000000,3.000000
26,311,1.0,3,0.000000,0.000000,1.000000,3.000000
27,166,1.0,3,0.000000,0.000000,1.000000,3.000000

In [7]:
topic_ids = [1,313,133]

In [8]:
with PostgresDatabaseOperation() as cursor:
    merged_preferences = f"""
    SELECT cluster_id, 1 + sum(a-1) merged_a, avg(b) merged_b 
    FROM topic_cluster_preference_mapping 
    WHERE topic_id in %s
    GROUP BY cluster_id
    """
    cursor.execute(merged_preferences, (tuple(topic_ids),))
    results = cursor.fetchall()
df = pd.DataFrame(results, columns=['cluster_id', 'merged_a', 'merged_b'])

In [12]:
%timeit round(np.log2(24))

920 ns Â± 109 ns per loop (mean Â± std. dev. of 7 runs, 1,000,000 loops each)

In [15]:
df['merged_a'] = df['merged_a'].clip(upper=3)

In [19]:
if not df.empty:
    print('a')