In [1]:
import boto3
import pandas as pd
from bertopic import BERTopic

parent_folder = '/Users/username/Desktop/ML/Recommendations/arcane/'
from hydra import compose, initialize
import os

import xml.etree.ElementTree as ET

tree = ET.parse('../../conf/application.run.xml')
root = tree.getroot()

envs_element = root.find('./configuration/envs')
for variable in envs_element.findall('env'):
    name = variable.get('name')
    value = variable.get('value')
    os.environ[name] = value

import sys
sys.path.append('/Users/username/Desktop/ML/Recommendations/arcane/')

from src._utils import load_bertopic_model_from_hf

import json
from io import StringIO
import pickle
from smart_open import open
from bertopic.backend._sentencetransformers import SentenceTransformerBackend

In [356]:
import requests

In [362]:
r = requests.post('http://Arcane-env.eba-mrsaixmg.ap-south-1.elasticbeanstalk.com/generate_new_clusters_to_s3')

In [360]:
r.text

'<html>\r\n<head><title>504 Gateway Time-out</title></head>\r\n<body>\r\n<center><h1>504 Gateway Time-out</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n'

In [2]:
from src.articles.ArticleService import ArticleService

In [3]:
s3_bucket = 'insight-ml-models'
s3_bertopic_folder = 'bertopic'

In [451]:
run_id = 'YellowLicoriceXray'

In [5]:
def load_bertopic_model_from_s3(run_id: str, hf_embedding_model_name: str) -> BERTopic:
    filename = 'BERTopic_' + run_id
    foldername = run_id
    s3_path = f's3://{s3_bucket}/{s3_bertopic_folder}/{foldername}/{filename}'

    # Stream the model directly from S3
    with open(s3_path, 'rb',
              transport_params={'client': boto3.client('s3',
                                                       aws_access_key_id=os.environ['AWS_ACCESS_KEY'],
                                                       aws_secret_access_key=os.environ['AWS_SECRET_KEY'])}) as f:
        model = pickle.load(f)
    print('bertopic streamed successfully')

    assert isinstance(model, BERTopic), f"Failed to load model from S3. Model {filename} is not of type BERTopic."
    model.embedding_model = SentenceTransformerBackend(embedding_model=hf_embedding_model_name)
    return model

In [6]:
def load_json_from_s3(run_id: str, json_file_name: str) -> BERTopic:
    foldername = run_id
    s3_resource = boto3.resource('s3', aws_access_key_id=os.environ['AWS_ACCESS_KEY'], aws_secret_access_key=os.environ['AWS_SECRET_KEY'])
    response = s3_resource.Object(s3_bucket, f'{s3_bertopic_folder}/{foldername}/{json_file_name}.json').get()
    return json.loads(response['Body'].read().decode('utf-8'))
    # return json.dumps(response)

In [7]:
def load_csv_from_s3(run_id: str, csv_file_name: str) -> BERTopic:
    foldername = run_id
    s3_resource = boto3.resource('s3', aws_access_key_id=os.environ['AWS_ACCESS_KEY'], aws_secret_access_key=os.environ['AWS_SECRET_KEY'])
    response = s3_resource.Object(s3_bucket, f'{s3_bertopic_folder}/{foldername}/{csv_file_name}.csv').get()
    csv_string = response['Body'].read().decode('utf-8')
    return pd.read_csv(StringIO(csv_string))
    # return json.dumps(response)

In [452]:
article_story_cluster_mapping = load_json_from_s3(run_id = run_id, json_file_name='article_story_cluster_mapping')
story_cluster_mapping = load_json_from_s3(run_id = run_id, json_file_name='story_cluster_mapping')
story_embeddings = load_json_from_s3(run_id = run_id, json_file_name='story_embeddings')
df = load_csv_from_s3(run_id=run_id, csv_file_name='cluster_hierarchy')

In [453]:
clusters = list(set(story_cluster_mapping.values()))

In [454]:
outliers = {}
for article_id in article_story_cluster_mapping:
    if article_story_cluster_mapping[article_id]['storyline_id'] == -1:
        outliers.setdefault(article_story_cluster_mapping[article_id]['cluster_id'], []).append(article_id)

In [455]:
cluster_count = {}
for cluster in outliers:
    cluster_count[cluster] = len(outliers[cluster])

In [456]:
outliers_count_df = pd.DataFrame([(key, value) for key, value in cluster_count.items()], columns = ['cluster_id', 'outlier_count'])

In [457]:
df['parent_id'] = df['parent_id'].astype('int')

In [458]:
df = pd.merge(df, outliers_count_df, how = 'left', left_on = 'parent_id', right_on = 'cluster_id')

In [459]:
df['total_count'] = df['num_docs'] + df['outlier_count']
df['outlier_percent'] = df['outlier_count']/df['total_count']

In [460]:
df[df.cluster_id.notnull()].sort_values('total_count', ascending = False)

,Unnamed: 0,parent_id,parent_name,child_storyline_list,child_left_id,child_left_name,child_right_id,child_right_name,distance,level,num_docs,doc_list,cluster_id,outlier_count,total_count,outlier_percent
28,28,254,target rs_target_pharma_results_profit,"[8, 9, 12, 26, 29, 38, 48, 55, 57, 63, 65, 86,...",160.0,finance_bajaj finance_bajaj_finance share_hous...,251.0,target rs_target_pharma_results_dividend,1.089306,6.0,9259.0,"[308, 1108, 2227, 2881, 3390, 3692, 5023, 5492...",254.0,15199.0,24458.0,0.621433
26,26,256,mind_mind markets_innerworth mind_innerworth_c...,"[5, 24, 31, 39, 49, 52, 56, 61, 72, 76, 78, 89...",249.0,innerworth_innerworth mind_mind markets_mind_c...,214.0,job_retirement_money_work_people,1.100493,10.0,7517.0,"[83, 444, 546, 609, 3018, 3499, 3709, 3884, 41...",256.0,7897.0,15414.0,0.512326
9,9,273,insurance_rbi_tax_rates_credit,"[6, 18, 19, 25, 34, 37, 41, 47, 59, 62, 66, 82...",260.0,rbi_rates_credit_loan_mortgage,268.0,insurance_tax_gst_income tax_income,1.282598,5.0,8049.0,"[67, 127, 521, 1179, 1568, 1870, 2438, 4065, 4...",273.0,3921.0,11970.0,0.327569
142,142,0,0_2023 net_net sales_sales rs_sales,[],NaN,NaN,NaN,NaN,NaN,4.0,11562.0,"[12, 25, 41, 42, 48, 101, 103, 123, 136, 146, ...",0.0,2.0,11564.0,0.000173
29,29,253,ipo_sebi_gmp_status_allotment,"[1, 11, 15, 22, 44, 51, 69, 74, 77, 79, 110, 1...",252.0,ipo_gmp_status_allotment_coal,182.0,sebi_zee_mint sebi_entertainment_zee entertain...,1.081899,12.0,8766.0,"[445, 856, 973, 1350, 1474, 1976, 2079, 2148, ...",253.0,1825.0,10591.0,0.172316
15,15,267,oil_china_oil prices_pm_prices,"[7, 16, 33, 35, 36, 87, 109, 117]",262.0,oil_china_oil prices_prices_opec,191.0,pm_modi_g20_pm modi_summit,1.214840,8.0,4670.0,"[56, 238, 286, 294, 364, 794, 841, 1260, 1444,...",267.0,2496.0,7166.0,0.348311
4,4,278,mutual_funds_fund_definition_mutual funds,"[13, 30, 43, 50, 53, 98, 129, 132, 137]",195.0,mutual_funds_fund_mutual funds_mutual fund,184.0,definition_example_examples_formula_trading,1.414653,3.0,3716.0,"[68, 326, 1128, 1212, 3348, 3726, 4136, 4412, ...",278.0,3403.0,7119.0,0.478017
39,39,243,air_air india_musk_tesla_byju,"[3, 14, 32, 45, 68, 70, 71, 103, 114]",238.0,air_air india_byju_indigo_flight,172.0,tesla_ev_electric_ford_ola,1.031884,12.0,5420.0,"[30, 248, 537, 2221, 3618, 3840, 3886, 5057, 5...",243.0,673.0,6093.0,0.110455
11,11,271,dollar_gold_fed_rupee_rate,"[10, 27, 58, 64, 81, 88, 95, 120, 121, 128, 139]",250.0,dollar_rupee_fed_inflation_paise,171.0,gold_silver_mint gold_gold silver_prices,1.267402,2.0,4044.0,"[20, 398, 612, 669, 840, 872, 1002, 1187, 1299...",271.0,451.0,4495.0,0.100334
24,24,258,adani_bank_hdfc_stocks watch_mint adani,"[17, 21, 42, 73, 75, 80, 101, 135, 141]",247.0,adani_stocks watch_jio_mint adani_adani ports,187.0,bank_hdfc_hdfc bank_bank target_kotak,1.112572,6.0,3694.0,"[164, 440, 482, 616, 721, 747, 1132, 1468, 150...",258.0,287.0,3981.0,0.072092
18,18,264,nifty_sensex_stock market_things_things know,"[20, 23, 85, 130, 133, 136]",227.0,nifty_sensex_nifty 50_sensex nifty_trade setup,146.0,things know_market opens_things_know_opens,1.191756,4.0,2382.0,"[469, 1223, 1288, 1372, 2265, 2435, 3156, 3475...",264.0,788.0,3170.0,0.248580
61,61,221,ai_openai_amazon_google_chatgpt,"[28, 83, 102, 116, 124]",193.0,ai_openai_chatgpt_nvidia_microsoft,175.0,amazon_meta_facebook_google_tiktok,0.963939,7.0,1560.0,"[698, 1141, 1596, 2220, 2846, 3125, 4778, 4820...",221.0,864.0,2424.0,0.356436
62,62,220,suzuki_maruti_maruti suzuki_hero_suv,"[40, 54, 90]",54.0,hero_motocorp_hero motocorp_bajaj auto_bajaj,153.0,suzuki_maruti_maruti suzuki_suv_hyundai,0.962759,9.0,1191.0,"[125, 250, 1856, 2266, 2307, 2563, 2793, 3291,...",220.0,415.0,1606.0,0.258406
45,45,237,buy sell_stocks buy_sell_recommends_recommends...,"[67, 99, 115, 127]",170.0,buy sell_stocks buy_sell_vaishali parekh_vaishali,190.0,trade spotlight_spotlight_hot stocks_hot_stock...,1.010684,4.0,908.0,"[381, 1705, 1724, 1891, 2024, 2216, 2251, 2384...",237.0,55.0,963.0,0.057113
131,131,151,steel_tata steel_jsw steel_jsw_tata,"[60, 96]",96.0,jsw steel_jsw_steel_jindal_mint jsw,60.0,steel_tata steel_tata_nmdc_steel closed,0.644728,5.0,603.0,"[227, 503, 732, 762, 2050, 2084, 2366, 2929, 3...",151.0,7.0,610.0,0.011475
138,138,144,agri picks_picks report_agri_geojit_2023 geojit,"[94, 123]",94.0,wheat_2023 geojit_picks report_agri picks_agri,123.0,picks report_agri picks_agri_geojit_2023 geojit,0.552096,6.0,407.0,"[1129, 1522, 2906, 3071, 3205, 3358, 3486, 409...",144.0,92.0,499.0,0.184369

### Identifying stories which should not be part of the clusters

In [222]:
df[df.parent_id.isin([17, 41, 51, 179, 310, 345, 361])]

,Unnamed: 0,parent_id,parent_name,child_storyline_list,child_left_id,child_left_name,child_right_id,child_right_name,distance,level,num_docs,doc_list,cluster_id,outlier_count,total_count,outlier_percent
405,405,17,17_daily voice_voice_daily_manager,[],NaN,NaN,NaN,NaN,NaN,18.0,539.0,"[756, 1121, 1350, 1365, 1407, 1502, 1858, 1948...",NaN,NaN,NaN,NaN
429,429,41,41_jpmorgan_republic_goldman_svb,[],NaN,NaN,NaN,NaN,NaN,18.0,317.0,"[113, 306, 1865, 2060, 2445, 2498, 2760, 2910,...",NaN,NaN,NaN,NaN
439,439,51,51_cnbc daily_daily open_daily_cnbc,[],NaN,NaN,NaN,NaN,NaN,18.0,289.0,"[106, 183, 298, 366, 2249, 2943, 3769, 4538, 4...",NaN,NaN,NaN,NaN
567,567,179,179_technical view_view_view nifty_technical,[],NaN,NaN,NaN,NaN,NaN,18.0,128.0,"[938, 1027, 2134, 2320, 2483, 3238, 4333, 7776...",NaN,NaN,NaN,NaN
698,698,310,310_manual_manual nifty_nifty_strike manual,[],NaN,NaN,NaN,NaN,NaN,18.0,69.0,"[2014, 2759, 3055, 13200, 15411, 22807, 22848,...",NaN,NaN,NaN,NaN
733,733,345,345_inclusion_jpmorgan_indian bonds_index,[],NaN,NaN,NaN,NaN,NaN,18.0,59.0,"[12695, 13305, 21444, 21625, 22275, 28823, 293...",NaN,NaN,NaN,NaN
749,749,361,361_day mood_mid day_mood_mid,[],NaN,NaN,NaN,NaN,NaN,17.0,54.0,"[1006, 2530, 6459, 8335, 30295, 30873, 32484, ...",NaN,NaN,NaN,NaN

In [191]:
import numpy as np

In [195]:
random_businessworld_articles = np.random.choice([x for x in article_story_cluster_mapping if article_story_cluster_mapping[x]['storyline_id'] in [77, 102, 129, 193, 209, 215, 286, 302]], 100)

In [196]:
bw_articles = {}

In [197]:
from tqdm.notebook import tqdm

In [202]:
for art in tqdm(random_businessworld_articles):
    article = ArticleService.get_article_json_from_s3_and_api(art)
    bw_articles[art] = {}
    bw_articles[art]['article'] = article
    bw_articles[art]['title'] = article['title']

  0%|          | 0/100 [00:00<?, ?it/s]

In [207]:
bw_articles['6555c0bf4b13023f9348cc9c']

{'article': {'meta_data': {'is_premium_article': False,
   'title': 'Filinvest Land expects higher earnings this year - BusinessWorld Online',
   'short_description': 'LISTED property developer Filinvest Land, Inc. (FLI) is bullish about its prospects for the rest of the year and expects profit growth for 2023 as the economy improves. “The Philippines is growing, and we are optimistic that we will grow more unless there is anything happening outside of the Philippines. Here within the country, our […]',
   'published_time': '2023-08-28T16:05:39+00:00',
   'last_updated_time': '2023-08-28T11:18:48+00:00',
   'image_url': 'https://www.bworldonline.com/wp-content/uploads/2021/11/Filinvest-Land-logo.jpg',
   'authors': ['CEDadiantiTyClea'],
   'tags': [],
   'read_time': '2 minutes',
   'is_document': True},
  'cleaned_text': 'LISTED property developer Filinvest Land, Inc. (FLI) is bullish about its prospects for the rest of the year and expects profit growth for 2023 as the economy improves. “The Philippines is growing, and we are optimistic that we will grow more unless there is anything happening outside of the Philippines. Here within the country, our fundamentals seem to be good,” said FLI Director Michael Edward T. Gotianun on the sidelines of the company’s launch event last week. Asked about the prospects for the rest of the year, he said net income is expected to be better this year compared with a year ago despite economic headwinds. FLI is the property development company of the Gotianun’s Filinvest group of companies. In 2022, FLI recorded a 24% decline in net income to P2.8 billion from P3.8 billion the prior year. Mr. Gotianun said this year’s growth drivers for FLI include the improving economic situation and surging investor interest. “The economy is improving, and there seems to be a lot of interest,” he said. “Everybody is positive about the economy. However, our concern will be the outside, like China, with all their problems going on now. You don’t know if there might be a spillover. We cannot control that. So, we just hope it does not spill over to us.” In the first half, FLI booked a 15% surge in its attributable net income to P1.39 billion. Its total consolidated revenues and other income also rose by 8% to P9.92 billion on the back of growth from its residential and rental business segments. “Business is good. So let’s hope that it stays good,” he added. FLI President and Chief Executive Officer Tristaneil D. Las Marias previously said that the developer continued to achieve growth in its residential and rental business segments during the first six months of the year. “We are pleased that our efforts led to satisfactory results as we continued to sustain our sales and marketing activities,” he said. “We remain focused on meeting our customers’ needs as we target to further grow our business this year, with further residential launches planned in the second half,” he added. As of Aug. 25, FLI shares were at 66 centavos apiece, down one centavo or 1.49% from its previous close of 67 centavos the day prior. — Revin Mikhael D. Ochave',
  'article_images': ['https://www.bworldonline.com/wp-content/uploads/2021/11/Filinvest-Land-logo.jpg'],
  'articleId': '6555c0bf4b13023f9348cc9c',
  'url': 'https://www.bworldonline.com/corporate/2023/08/29/541998/filinvest-land-expects-higher-earnings-this-year/',
  'title': 'Filinvest Land expects higher earnings this year - BusinessWorld Online',
  'shortDescription': 'LISTED property developer Filinvest Land, Inc. (FLI) is bullish about its prospects for the rest of the year and expects profit growth for 2023 as the economy improves. “The Philippines is growing, and we are optimistic that we will grow more unless there is anything happening outside of the Philippines. Here within the country, our […]',
  'publishedTime': '2023-08-28T16:05:39+00:00',
  'lastUpdatedTime': '2023-08-28T11:18:48+00:00',
  'tags': None,
  'articleImageUrl': 'https://www.bworldonline.com/wp-content/uploads/2021/11/Filinvest-Land-logo.jpg',
  'category': None,
  'authors': ['CEDadiantiTyClea'],
  'isPremiumArticle': False,
  'source': {'sourceId': '65559d0c96fb32eef21a562f',
   'sourceName': 'business-world',
   'sourceLogo': 'https://pbs.twimg.com/profile_images/731046562848071680/1bYZ7dkg_400x400.jpg'},
  'sourceId': '65559d0c96fb32eef21a562f',
  'sourceName': 'business-world',
  'sourceLogo': 'https://pbs.twimg.com/profile_images/731046562848071680/1bYZ7dkg_400x400.jpg'},
 'title': 'Filinvest Land expects higher earnings this year - BusinessWorld Online'}

In [205]:
[(i, x['title']) for i, x in bw_articles.items()]

[('657135c953e8a6117bd31f06',
  'DoE calls for accelerated retirement, repurposing of coal-fired power plants - BusinessWorld Online'),
 ('6555bea84b13023f9348c4ba',
  'T-bill, bond yields likely to inch higher - BusinessWorld Online'),
 ('6555c1f24b13023f9348d0f0',
  'Peso may move sideways vs dollar ahead of inflation data - BusinessWorld Online'),
 ('6555c12d4b13023f9348ce74',
  'Yields on gov’t debt rise - BusinessWorld Online'),
 ('6555cc344b13023f934a63d5',
  'Rice prices soar, fanning fears of food inflation spike in Asia'),
 ('6555c0b84b13023f9348cc82',
  'Peso strengthens on dovish Fed minutes - BusinessWorld Online'),
 ('6555bec24b13023f9348c530',
  'DoE says still on track to hit renewables goal - BusinessWorld Online'),
 ('6555c8584b13023f93492638',
  'Maynilad’s modular plant starts treating water - BusinessWorld Online'),
 ('6555c47d4b13023f9348d8ba',
  'Maynilad sets aside P1.14B to upgrade water treatment plants - BusinessWorld Online'),
 ('6555c4e94b13023f9348da91',
  'Tripping incidents declined in 3 main grids, says NGCP - BusinessWorld Online'),
 ('6555c2844b13023f9348d25d',
  'PSA to start farmer, fisherfolk census in Sept. - BusinessWorld Online'),
 ('651de104a662d76276b7fddc',
  'India decides to allow export of rice to Singapore in view of special relationship'),
 ('656558721fc4586a032ad7fe',
  'Shares may go down on profit taking, rate bets - BusinessWorld Online'),
 ('6555c3c34b13023f9348d588',
  'Prime Energy to supply condensate to Abu Dhabi firm - BusinessWorld Online'),
 ('6555becd4b13023f9348c55b',
  'Philippines ranks 68th in remote work locations list - BusinessWorld Online'),
 ('6555c48b4b13023f9348d8eb',
  'Rediscount facility left untouched in August - BusinessWorld Online'),
 ('6555c4fc4b13023f9348dae4',
  'On the road to recovery (Part 1): Prices, rents recover as M.Manila condominium market rebounds - BusinessWorld Online'),
 ('6564085d31adde713f95b97f',
  'MPT South allocates nearly P12B to fund projects’ construction - BusinessWorld Online'),
 ('6555c3654b13023f9348d43d',
  'Raslag in talks with Hong Kong firm for potential energy tie-up - BusinessWorld Online'),
 ('6570411f53e8a6117bd30c03',
  'Meralco expects lower power generation charge for December - BusinessWorld Online'),
 ('6555c4fc4b13023f9348dae2',
  'BSP extends ‘hawkish’ rate pause - BusinessWorld Online'),
 ('6555c8d44b13023f9349279b',
  'El Niño also expected to affect PHL rice suppliers Vietnam, Thailand - BusinessWorld Online'),
 ('6555c15f4b13023f9348cf3f',
  'Retail dollar bond offer to start on Wednesday - BusinessWorld Online'),
 ('6555c1a64b13023f9348d03b',
  'Farm equipment maker bats for RCEF extension, says goals unmet - BusinessWorld Online'),
 ('6571c35925cc9a343f03fcf7',
  'Rice stocks on the boil amid fears of worst shortfall in yield in two decades'),
 ('6555c51d4b13023f9348db7a',
  'Japanese investors pressing for more ecozone proclamations - BusinessWorld Online'),
 ('6555c1234b13023f9348ce43',
  'RE transition to require power grids to make major adjustments — report - BusinessWorld Online'),
 ('6555c4214b13023f9348d732',
  'Stocks decline on profit taking, weak China data - BusinessWorld Online'),
 ('6555c0bf4b13023f9348cc9c',
  'Filinvest Land expects higher earnings this year - BusinessWorld Online'),
 ('6555bee74b13023f9348c5be',
  'Bargain hunting, rate concerns to drive trading - BusinessWorld Online'),
 ('6555c08c4b13023f9348cbcb',
  'Dairy regulator issues funding plea for expansion plans - BusinessWorld Online'),
 ('6555c4c64b13023f9348d9f2',
  'Rate cuts eyed if inflation falls below 4% - BusinessWorld Online'),
 ('6555c0254b13023f9348ca09',
  'Agriculture damage from ‘Goring’ hits P898.4 million - BusinessWorld Online'),
 ('656e06149994965ac4b4c051',
  'Megaworld partners with Suntrust to develop new township project in Palawan - BusinessWorld Online'),
 ('6555c42a4b13023f9348d765',
  'New SM mall opens in Bataan - BusinessWorld Online'),
 ('6555c4f34b13023f9348daba',
  'Marcos calls rice supply adequate in warning to hoarders, smugglers - BusinessWorld Online'),
 ('656e07a49994965ac4b4c543',
  'T-bill, bond rates to track secondary mart levels - BusinessWorld Online'),
 ('6555c1734b13023f9348cf9d',
  'Yields on gov’t securities decline after inflation data - BusinessWorld Online'),
 ('6555bfe14b13023f9348c8d2',
  'Government fully awards Treasury bills - BusinessWorld Online'),
 ('6555ccd24b13023f934ad9c2',
  'India rice ban: Some US shops impose buying limit amid price hike and panic buying'),
 ('6555c23d4b13023f9348d1b4',
  'How does Philippine sectoral debt as share of GDP stand along with other emerging markets in Asia in Q2? - BusinessWorld Online'),
 ('6555bf854b13023f9348c76e',
  'Fitch expects continued pressure on regional currencies until Fed wraps up tightening cycle - BusinessWorld Online'),
 ('6555bfc44b13023f9348c850',
  'SEC\xa0readies listing framework for energy firms - BusinessWorld Online'),
 ('6555c1a54b13023f9348d038',
  'Electricity rates down in April, Meralco says - BusinessWorld Online'),
 ('6555c4014b13023f9348d692',
  'Philippine shares decline on weak US, China data - BusinessWorld Online'),
 ('6555bf274b13023f9348c668',
  'DoTr’s proposed 15-year NAIA concession won’t do much, says consortium - BusinessWorld Online'),
 ('6555cb624b13023f9349d0b2',
  'Chilean Peso (CLP): Overview, History, Exchange Rate'),
 ('6555c8494b13023f9349249e',
  'Australia’s Digital Classifieds Group acquires Lamudi Philippines and Indonesia - BusinessWorld Online'),
 ('6555c5744b13023f9348dcea',
  'Further tightening seen with inflation unlikely to ease - BusinessWorld Online'),
 ('6555c2184b13023f9348d149',
  'Manila climbs in financial centers list - BusinessWorld Online'),
 ('6555c0174b13023f9348c9cc',
  'National Government outstanding debt - BusinessWorld Online'),
 ('6555c1404b13023f9348cec6',
  'Megaworld to build 374-room Savoy Hotel in Pampanga township - BusinessWorld Online'),
 ('6555c4034b13023f9348d6a8',
  'IMF raises Philippine growth forecast\xa0 - BusinessWorld Online'),
 ('6555c1a14b13023f9348d02a',
  '8990 Holdings optimistic of hitting P24-B revenues - BusinessWorld Online'),
 ('6555c32e4b13023f9348d3b2',
  'Megawide’s NAIA move hinged on partner, control - BusinessWorld Online'),
 ('6555c05f4b13023f9348cb10',
  'Seaweed touted as low-cost animal feed - BusinessWorld Online'),
 ('6555c1354b13023f9348ce93',
  'Sia’s listed businesses post robust profit growth - BusinessWorld Online'),
 ('6555c3a54b13023f9348d51a',
  'Danish company sees opportunities in solar solutions for PHL agri sector - BusinessWorld Online'),
 ('6555c14a4b13023f9348cef2',
  'Term deposit yields mixed on slower inflation - BusinessWorld Online'),
 ('6555c0584b13023f9348caf4',
  'NG gross borrowings slump in Sept. - BusinessWorld Online'),
 ('6555bed24b13023f9348c573',
  'PHL economy seen to grow by 5.8% this year - BusinessWorld Online'),
 ('6555c0814b13023f9348cb96',
  'Growth on track to hit 6-7% — BSP - BusinessWorld Online'),
 ('651dd6e8a662d76276b7e340',
  'Rice prices soar to highest levels in almost 15 years in Asia'),
 ('6555bfdc4b13023f9348c8bb',
  'Peso likely to strengthen further ahead of June inflation data - BusinessWorld Online'),
 ('6555c4284b13023f9348d74f',
  'ADB financial assistance to PHL hits $3B in 2022 - BusinessWorld Online'),
 ('6555cc194b13023f934a4ff0',
  'India allows export of over 10 lakh tonnes of non-basmati white rice to seven countries'),
 ('6555c0804b13023f9348cb8e',
  'Gov’t partially awards Treasury bills at higher rates - BusinessWorld Online'),
 ('6555c3e24b13023f9348d608',
  'Philippines improves in 2023 Fragile States Index - BusinessWorld Online'),
 ('6555bf2e4b13023f9348c682',
  'PH1 expects more possibilities after its acquisition by Megawide - BusinessWorld Online'),
 ('6555c0e54b13023f9348cd3d',
  'Meralco renewables unit invests nearly P16B for SPNEC control - BusinessWorld Online'),
 ('6555c4964b13023f9348d919',
  'Hotel101 expects P7B from Japan location - BusinessWorld Online'),
 ('6555c10d4b13023f9348cdeb',
  'DoF eyes temporary zero tariffs on rice - BusinessWorld Online'),
 ('6555c39c4b13023f9348d4f8',
  'Peso rebounds on US debt limit deal optimism - BusinessWorld Online'),
 ('6555c3a44b13023f9348d511',
  'Meralco looks at nuclear power as long-term solution - BusinessWorld Online'),
 ('6555bff64b13023f9348c931',
  'Green energy Round 2 winners given more time to submit post-auction requirements - BusinessWorld Online'),
 ('6560d6cfe1d8342798a46aab',
  'Hog, chicken egg output rise in 3rd quarter - BusinessWorld Online'),
 ('6555bffe4b13023f9348c950',
  'ACEN readies more investments abroad this year - BusinessWorld Online'),
 ('6555c1634b13023f9348cf58',
  'Peso drops further due to month-end dollar demand - BusinessWorld Online'),
 ('6555c0d14b13023f9348ccf2',
  'Maynilad expects pause in service interruptions as Ipo water levels rise - BusinessWorld Online'),
 ('6555c3704b13023f9348d465',
  'Alternergy takes RE firm - BusinessWorld Online'),
 ('6555c0904b13023f9348cbdb',
  'PHL on track to hit medium-term targets — Diokno \xa0 - BusinessWorld Online'),
 ('6555c4a44b13023f9348d958',
  'PHL shares climb as Biden signs debt limit deal - BusinessWorld Online'),
 ('6555c00d4b13023f9348c992',
  'DoTr still open to solicited proposals for NAIA O&M - BusinessWorld Online'),
 ('6567fb2f207bb033b910ed5b',
  'EDC board approves P10-B fixed rate bonds - BusinessWorld Online'),
 ('6555c05c4b13023f9348cb05',
  'BDO slips as US credit rating downgrade affects PHL market - BusinessWorld Online'),
 ('6555bf3e4b13023f9348c6b3',
  'Meralco gains de-loading capacity\xa0 - BusinessWorld Online'),
 ('6555c4464b13023f9348d7df',
  'BSP posts double-digit drop in first-half net income\xa0 - BusinessWorld Online'),
 ('6555c05a4b13023f9348cafd',
  'Peso down on strong US data - BusinessWorld Online'),
 ('6555c3f44b13023f9348d655',
  'Quality manufacturing jobs seen as key to keeping domestic economy ‘robust’ - BusinessWorld Online'),
 ('6555c37e4b13023f9348d493',
  'Iloilo City mayor backs waste-to-energy project - BusinessWorld Online'),
 ('65716df1441fea11ec37f749',
  'Anticipating an attractive Philippine stock market - BusinessWorld Online'),
 ('6555c5534b13023f9348dc5e',
  'Malampaya SC renewal touted as key DoE achievement - BusinessWorld Online'),
 ('6560e06fe1d8342798a4790d',
  'Shares up on positive sentiment, foreign buying - BusinessWorld Online'),
 ('6555c1774b13023f9348cfb7',
  'Shares decline further ahead of US inflation data - BusinessWorld Online'),
 ('6555c4884b13023f9348d8dd',
  'PHL inflation slows for sixth straight month in July - BusinessWorld Online'),
 ('6555c4984b13023f9348d926',
  'Unstable power on Panay could persist indefinitely - BusinessWorld Online')]

In [190]:
[x for x in article_story_cluster_mapping if article_story_cluster_mapping[x]['storyline_id'] in [77, 102, 129, 193, 209, 215, 286, 302]]

['6555c35c4b13023f9348d419',
 '6555c05e4b13023f9348cb0b',
 '6555beaf4b13023f9348c4e3',
 '6555c4844b13023f9348d8cc',
 '6555c2dc4b13023f9348d30e',
 '6560dd95e1d8342798a474a3',
 '6555c0e64b13023f9348cd40',
 '6555c1374b13023f9348cea0',
 '6555c03e4b13023f9348ca8e',
 '6555c0774b13023f9348cb69',
 '6555c4664b13023f9348d863',
 '6555c9c24b13023f93492bb1',
 '6555c0c44b13023f9348ccb8',
 '6555bfd84b13023f9348c8ab',
 '6555c4fe4b13023f9348daeb',
 '6555c3504b13023f9348d3fd',
 '6555c0524b13023f9348cada',
 '6555c0094b13023f9348c981',
 '6566a9b239bfc8784efe5e2d',
 '6555c40d4b13023f9348d6d1',
 '6555c08d4b13023f9348cbd1',
 '6555bf844b13023f9348c76d',
 '6555c0654b13023f9348cb1a',
 '6555c4fe4b13023f9348daea',
 '6555c23f4b13023f9348d1b6',
 '6555c2634b13023f9348d214',
 '656558711fc4586a032ad7f9',
 '6555c4c64b13023f9348d9f1',
 '6555c4884b13023f9348d8de',
 '6555c42c4b13023f9348d76f',
 '6560cf2fe1d8342798a45498',
 '6555c0a24b13023f9348cc2d',
 '6531693c1e5cc42b1b13d749',
 '6555c07c4b13023f9348cb82',
 '65686bb0207bb033b910eefc',
 '6555bfc94b13023f9348c860',
 '6555becd4b13023f9348c55d',
 '6555c4284b13023f9348d74e',
 '6555beb54b13023f9348c4ef',
 '6555bec24b13023f9348c530',
 '6555c50d4b13023f9348db32',
 '6555c00c4b13023f9348c989',
 '6555c3cc4b13023f9348d5b1',
 '6555bf544b13023f9348c6f4',
 '6555beb24b13023f9348c4e9',
 '6570409953e8a6117bd30a77',
 '6555bed44b13023f9348c57d',
 '6555c4e34b13023f9348da70',
 '6555c1524b13023f9348cf1f',
 '6555c4014b13023f9348d692',
 '6555c4c34b13023f9348d9e7',
 '6555bf664b13023f9348c723',
 '6555c97f4b13023f93492a86',
 '6555c28a4b13023f9348d26b',
 '6555c03a4b13023f9348ca70',
 '656e06dc9994965ac4b4c2c3',
 '6555cc614b13023f934a851b',
 '6555c8504b13023f9349257f',
 '6555c0e54b13023f9348cd3d',
 '6555c0f84b13023f9348cd8e',
 '6555be7d4b13023f9348c42f',
 '6555c28b4b13023f9348d26e',
 '6555c85d4b13023f9349269f',
 '6555c1a64b13023f9348d03b',
 '6555c8494b13023f9349249e',
 '6555c1124b13023f9348cdff',
 '6555c2184b13023f9348d149',
 '6555bebf4b13023f9348c522',
 '6555c3094b13023f9348d362',
 '6555c0654b13023f9348cb1b',
 '6555c9c24b13023f93492baf',
 '6555c4774b13023f9348d8a4',
 '6555c1524b13023f9348cf1b',
 '6555c4914b13023f9348d907',
 '6555bf8c4b13023f9348c781',
 '657135c953e8a6117bd31f06',
 '6555bfdf4b13023f9348c8c7',
 '6555c5134b13023f9348db47',
 '6555c54b4b13023f9348dc34',
 '6555c9144b13023f934928a8',
 '6555c0814b13023f9348cb96',
 '6555c01c4b13023f9348c9e3',
 '6555c4524b13023f9348d811',
 '6555befb4b13023f9348c5f3',
 '6555bf5b4b13023f9348c705',
 '6555c4664b13023f9348d864',
 '6555bf494b13023f9348c6e0',
 '6555c16a4b13023f9348cf83',
 '6555c0b84b13023f9348cc82',
 '6555c06d4b13023f9348cb3a',
 '6555bf8b4b13023f9348c77f',
 '6555c1234b13023f9348ce45',
 '6555c1144b13023f9348ce0a',
 '6555c2d94b13023f9348d307',
 '6555bfe04b13023f9348c8ce',
 '6555c2964b13023f9348d281',
 '6555c2c74b13023f9348d2e3',
 '6555c0be4b13023f9348cc98',
 '6555bf854b13023f9348c76e',
 '6555bfe54b13023f9348c8e0',
 '6555c40f4b13023f9348d6dc',
 '6555c4d44b13023f9348da33',
 '6555c2334b13023f9348d18e',
 '6555bf164b13023f9348c637',
 '6555c0cf4b13023f9348cce5',
 '6555c22c4b13023f9348d179',
 '6555c4de4b13023f9348da57',
 '6555c1614b13023f9348cf4a',
 '6555bfdc4b13023f9348c8bb',
 '6555c4cb4b13023f9348da05',
 '6555bfb34b13023f9348c809',
 '6555c14a4b13023f9348cef2',
 '6555c5394b13023f9348dbe8',
 '6555c1d94b13023f9348d0bb',
 '6555c0cd4b13023f9348ccd9',
 '6560d6b8e1d8342798a46a9e',
 '6555c43c4b13023f9348d7b4',
 '6571c27825cc9a343f038ea6',
 '6555c0814b13023f9348cb93',
 '6555be8e4b13023f9348c461',
 '6555ccb04b13023f934abc99',
 '6555c3104b13023f9348d37c',
 '6555c5284b13023f9348dbab',
 '6555c09b4b13023f9348cc08',
 '6555bfd34b13023f9348c891',
 '6555c5534b13023f9348dc5e',
 '6555c4aa4b13023f9348d979',
 '6555cc124b13023f934a4a97',
 '6555c0824b13023f9348cb9a',
 '651df1b2a662d76276b829b4',
 '6555c05c4b13023f9348cb05',
 '6555c47b4b13023f9348d8b3',
 '6555c02f4b13023f9348ca43',
 '6555c53d4b13023f9348dbfe',
 '6555c4c64b13023f9348d9f2',
 '6555c18c4b13023f9348cffb',
 '6555c3c34b13023f9348d588',
 '6555caa84b13023f93495472',
 '6555c0834b13023f9348cb9d',
 '6555c2314b13023f9348d189',
 '6555c53f4b13023f9348dc0f',
 '651ddd6da662d76276b7f438',
 '6555c4ca4b13023f9348d9ff',
 '6555bf3f4b13023f9348c6b9',
 '6555bed84b13023f9348c58f',
 '6555c37c4b13023f9348d48d',
 '6555c4504b13023f9348d80a',
 '6555c0d54b13023f9348ccfe',
 '6555c0864b13023f9348cbb0',
 '6557489f4b13023f934aef52',
 '6555c2da4b13023f9348d308',
 '6555bf874b13023f9348c774',
 '6555c0c04b13023f9348cca2',
 '6555c99c4b13023f93492ae6',
 '6555be954b13023f9348c483',
 '6555c0104b13023f9348c9a5',
 '6555bfcc4b13023f9348c86e',
 '6555c2c54b13023f9348d2de',
 '6555c0584b13023f9348caf8',
 '6555bf534b13023f9348c6f3',
 '6555c3e34b13023f9348d60f',
 '6571c26c25cc9a343f0389a6',
 '6555bed54b13023f9348c581',
 '6555bf524b13023f9348c6f1',
 '6555bec04b13023f9348c52c',
 '6555c13f4b13023f9348cec1',
 '6555c1114b13023f9348cdf8',
 '6555c0744b13023f9348cb5c',
 '6555bed24b13023f9348c573',
 '6555c0534b13023f9348cae0',
 '655d7142e1d8342798a44a43',
 '6567fb2d207bb033b910ed50',
 '6555c4624b13023f9348d84c',
 '6555befb4b13023f9348c5f2',
 '6555bec64b13023f9348c53d',
 '6555c0954b13023f9348cbf0',
 '6555c1634b13023f9348cf58',
 '6555c0d74b13023f9348cd03',
 '6555c29f4b13023f9348d291',
 '6555c3ac4b13023f9348d532',
 '6555c1004b13023f9348cdb3',
 '6555c0134b13023f9348c9b8',
 '651de0a5a662d76276b7fcea',
 '6555c0eb4b13023f9348cd59',
 '6555c3724b13023f9348d46e',
 '6555c20e4b13023f9348d135',
 '6555c0dd4b13023f9348cd1d',
 '6555c0774b13023f9348cb68',
 '6555c2154b13023f9348d144',
 '656e06ce9994965ac4b4c297',
 '6555c4f14b13023f9348daae',
 '6555bf394b13023f9348c6ab',
 '6555c03b4b13023f9348ca72',
 '6555c5274b13023f9348dba6',
 '6555c30c4b13023f9348d369',
 '6555c4994b13023f9348d92e',
 '6555c42b4b13023f9348d769',
 '6555c3f44b13023f9348d651',
 '6555c3f44b13023f9348d655',
 '6555c4b74b13023f9348d9b0',
 '6555c3e64b13023f9348d621',
 '6555c1f14b13023f9348d0ec',
 '6555bfc34b13023f9348c84a',
 '6555c0d14b13023f9348ccf2',
 '6555c1244b13023f9348ce4b',
 '6555bfab4b13023f9348c7e2',
 '6555c22b4b13023f9348d178',
 '6555bfc24b13023f9348c849',
 '6555c35a4b13023f9348d413',
 '6555c1174b13023f9348ce15',
 '6555c38f4b13023f9348d4cb',
 '6555c0c94b13023f9348ccc8',
 '655acd304b13023f934af2b4',
 '6555c2dd4b13023f9348d311',
 '6571c26e25cc9a343f038a74',
 '6566a9b239bfc8784efe5e2b',
 '6555c0aa4b13023f9348cc47',
 '6555bf9b4b13023f9348c7ac',
 '6555c0b84b13023f9348cc83',
 '6555c13f4b13023f9348cec3',
 '6555be9f4b13023f9348c49a',
 '6555c4744b13023f9348d896',
 '6571c2bb25cc9a343f03ad33',
 '6555c1114b13023f9348cdfa',
 '6555c2bb4b13023f9348d2c4',
 '6555bfd84b13023f9348c8b0',
 '6555c4fc4b13023f9348dae2',
 '6555c4f34b13023f9348dab2',
 '651de8b4a662d76276b8122f',
 '6555bfc44b13023f9348c850',
 '6555c1334b13023f9348ce8d',
 '6556d7bb4b13023f934aee1f',
 '6555c1374b13023f9348ce9d',
 '6555becd4b13023f9348c55a',
 '6555bec34b13023f9348c534',
 '65716df1441fea11ec37f749',
 '6555c3bf4b13023f9348d578',
 '6555c3424b13023f9348d3d5',
 '6555c2e54b13023f9348d324',
 '6555c0174b13023f9348c9cc',
 '6555bf864b13023f9348c771',
 '6555c4bc4b13023f9348d9ca',
 '6555c1234b13023f9348ce43',
 '6555c4564b13023f9348d81c',
 '6555c12d4b13023f9348ce74',
 '6555beb64b13023f9348c4f3',
 '6555c2074b13023f9348d120',
 '6555bfe84b13023f9348c8f7',
 '6555c5254b13023f9348db98',
 '6555c4964b13023f9348d919',
 '6555c55e4b13023f9348dc89',
 '6555c4884b13023f9348d8dd',
 '6560c149e1d8342798a44d72',
 '6555c2b04b13023f9348d2ad',
 '656e07a49994965ac4b4c543',
 '6555c3ca4b13023f9348d5a9',
 '6555be974b13023f9348c48f',
 '6555c02c4b13023f9348ca34',
 '6555c4fc4b13023f9348dae4',
 '6555c5814b13023f9348dd0d',
 '6555c4834b13023f9348d8c7',
 '6555c1f24b13023f9348d0f0',
 '651dd07da662d76276b7d24b',
 '6555bfd24b13023f9348c88c',
 '656558721fc4586a032ad7fe',
 '6555c0ea4b13023f9348cd50',
 '6555c4bb4b13023f9348d9c2',
 '6555c49b4b13023f9348d935',
 '6555c3f14b13023f9348d649',
 '6555c23d4b13023f9348d1b4',
 '6555c12e4b13023f9348ce78',
 '6555bea54b13023f9348c4ad',
 '6555c0d24b13023f9348ccf4',
 '6555c4104b13023f9348d6e2',
 '6555c05a4b13023f9348cafd',
 '6555c3a04b13023f9348d502',
 '6555c25a4b13023f9348d1fe',
 '6555c0264b13023f9348ca0a',
 '6555c4404b13023f9348d7ce',
 '6555c4884b13023f9348d8db',
 '6555c5734b13023f9348dce3',
 '6555c07f4b13023f9348cb8c',
 '6555c43c4b13023f9348d7b3',
 '6560d6b4e1d8342798a46a9b',
 '6555beb44b13023f9348c4ed',
 '6555bed14b13023f9348c570',
 '6555c1a54b13023f9348d034',
 '655c1e874b13023f934af580',
 '6555c05f4b13023f9348cb10',
 '6566a9b339bfc8784efe5e35',
 '6567fb2f207bb033b910ed5b',
 '656e06b89994965ac4b4c255',
 '6555bec84b13023f9348c548',
 '6555c0a34b13023f9348cc2f',
 '6555beae4b13023f9348c4df',
 '6555c1e84b13023f9348d0d4',
 '6555bff04b13023f9348c91b',
 '6555c22a4b13023f9348d176',
 '65316d131e5cc42b1b13e1ca',
 '6566e190b878114e69597691',
 '6555bfae4b13023f9348c7eb',
 '6555c35c4b13023f9348d41c',
 '6555bebc4b13023f9348c513',
 '6555c1244b13023f9348ce4a',
 '6555c8584b13023f93492638',
 '6555c0924b13023f9348cbe2',
 '6555c5804b13023f9348dd0c',
 '6555bef24b13023f9348c5e3',
 '6555c08d4b13023f9348cbcf',
 '6555c3f84b13023f9348d669',
 '6555c0584b13023f9348caf4',
 '6555c4924b13023f9348d90e',
 '6555c8364b13023f93491d41',
 '6555c0ac4b13023f9348cc53',
 '6571c2d125cc9a343f03b846',
 '6555c1f04b13023f9348d0e6',
 '6555c4d34b13023f9348da30',
 '6555c1774b13023f9348cfb7',
 '6555c1794b13023f9348cfbf',
 '6555c49e4b13023f9348d93f',
 '6555c8544b13023f934925e7',
 '6555c3124b13023f9348d37f',
 '6555c06e4b13023f9348cb41',
 '651dd168a662d76276b7d4de',
 '656e07699994965ac4b4c48f',
 '6555c1e64b13023f9348d0d1',
 '6555c14f4b13023f9348cf11',
 '6555c10d4b13023f9348cdeb',
 '656558701fc4586a032ad7f5',
 '6555c1d44b13023f9348d0a2',
 '655accda4b13023f934af2ab',
 '6555c4cb4b13023f9348da0c',
 '6555c31c4b13023f9348d38f',
 '6555c0304b13023f9348ca4e',
 '6555ccb94b13023f934ac3ff',
 '651de1f1a662d76276b80037',
 '6555c0d34b13023f9348ccf9',
 '6570411f53e8a6117bd30c03',
 '6555c1124b13023f9348cdfd',
 '6555c5744b13023f9348dce8',
 '6555c4aa4b13023f9348d97a',
 '6555c3d74b13023f9348d5e0',
 '6555c4624b13023f9348d842',
 '6555c43b4b13023f9348d7ae',
 '6555c4b64b13023f9348d9aa',
 '6555c44c4b13023f9348d7f8',
 '6567fb2d207bb033b910ed51',
 '6555beea4b13023f9348c5cd',
 '6555be8d4b13023f9348c45b',
 '6555bf2c4b13023f9348c674',
 '6555c28f4b13023f9348d277',
 '6555c1524b13023f9348cf1c',
 '6555c51d4b13023f9348db7b',
 '6555bf414b13023f9348c6c2',
 '6555bfa04b13023f9348c7bd',
 '6555c0724b13023f9348cb55',
 '6555bea84b13023f9348c4bc',
 '6555c42b4b13023f9348d76d',
 '6555c3f64b13023f9348d65e',
 '6555bf8c4b13023f9348c784',
 '6555c0754b13023f9348cb5d',
 '6555ccd24b13023f934ad9c2',
 '6571c2d825cc9a343f03bc17',
 '6555c03a4b13023f9348ca6d',
 '6555bf5a4b13023f9348c701',
 '6555c01c4b13023f9348c9e4',
 '6555c4e34b13023f9348da6b',
 '6555c4d44b13023f9348da34',
 '6555c37c4b13023f9348d48e',
 '6555c4f34b13023f9348dab5',
 '6555c0414b13023f9348ca9d',
 '6555c1644b13023f9348cf66',
 '6555c0c74b13023f9348ccc2',
 '6555cc764b13023f934a940e',
 '6555c1404b13023f9348cec7',
 '651e13c3a662d76276b87b28',
 '6555c0bd4b13023f9348cc94',
 '6555c3d24b13023f9348d5cc',
 '6560d5e9e1d8342798a46a28',
 '6555c48b4b13023f9348d8eb',
 '6555bf7d4b13023f9348c75c',
 '6555c83f4b13023f934922a8',
 '6555c85e4b13023f934926a2',
 '6555c36c4b13023f9348d451',
 '6555c5004b13023f9348daf0',
 '6555c3db4b13023f9348d5e9',
 '6570412b53e8a6117bd30c1e',
 '6555cc0d4b13023f934a46da',
 '6555c0074b13023f9348c974',
 '6555bf134b13023f9348c62a',
 '6555c0cf4b13023f9348cce4',
 '6555c0544b13023f9348cae2',
 '6555c1404b13023f9348cecd',
 '6555cadf4b13023f93497a6a',
 '6555c0894b13023f9348cbc0',
 '6555c4a94b13023f9348d973',
 '6555c3514b13023f9348d3fe',
 '6555c4674b13023f9348d867',
 '6555c4d04b13023f9348da20',
 '6555c4ab4b13023f9348d97e',
 '6555bea84b13023f9348c4ba',
 '6555c02c4b13023f9348ca31',
 '6555bfe94b13023f9348c8f8',
 '6555c4094b13023f9348d6c8',
 '6555c2a04b13023f9348d293',
 '6555c1764b13023f9348cfad',
 '6555c1404b13023f9348cec6',
 '6555c3a44b13023f9348d511',
 '6555c09b4b13023f9348cc09',
 '6555c1aa4b13023f9348d043',
 '6555c0764b13023f9348cb61',
 '6555c0c14b13023f9348cca6',
 '6555c4b24b13023f9348d99b',
 '6555c4024b13023f9348d6a2',
 '655c1fbd4b13023f934af597',
 '6555c0a64b13023f9348cc36',
 '656e06149994965ac4b4c051',
 '6555bf154b13023f9348c632',
 '6555c48d4b13023f9348d8f5',
 '6555c4ba4b13023f9348d9bf',
 '6555c4004b13023f9348d690',
 '6555c4154b13023f9348d6fa',
 '6555c3614b13023f9348d42c',
 '6555c4a64b13023f9348d966',
 '6555bf5a4b13023f9348c704',
 '6555c2644b13023f9348d216',
 '6555c2404b13023f9348d1b8',
 '6555c2564b13023f9348d1f8',
 '6555c25c4b13023f9348d203',
 '6555c3d14b13023f9348d5c8',
 '6555c2414b13023f9348d1bd',
 '6555c17e4b13023f9348cfd1',
 '6555c0b34b13023f9348cc6b',
 '6555c5184b13023f9348db5b',
 '65316ff11e5cc42b1b142a8b',
 '6560dd98e1d8342798a474a9',
 '6555bef94b13023f9348c5ef',
 '6555c0684b13023f9348cb28',
 '656e92a79994965ac4b4d832',
 '6555c51b4b13023f9348db6d',
 '6555bf274b13023f9348c668',
 '6555c2844b13023f9348d25d',
 '6555c8534b13023f934925d4',
 '6555bea94b13023f9348c4c1',
 '6555c5664b13023f9348dcad',
 '6555c3b14b13023f9348d54a',
 '656e92a99994965ac4b4d83e',
 '6555c3f94b13023f9348d66a',
 '6555c32e4b13023f9348d3b2',
 '6555c0774b13023f9348cb67',
 '6555be914b13023f9348c463',
 '6555c33b4b13023f9348d3cc',
 '6560cf95e1d8342798a45ba7',
 '6555c4874b13023f9348d8da',
 '6555c4b14b13023f9348d993',
 '6555c30f4b13023f9348d378',
 '6555c4464b13023f9348d7df',
 '6555bed94b13023f9348c596',
 '6555c2374b13023f9348d19e',
 '6555c3af4b13023f9348d541',
 '6555c01a4b13023f9348c9dd',
 '6555c4d24b13023f9348da2c',
 '6555c0cf4b13023f9348cce2',
 '6555c0b34b13023f9348cc70',
 '6555c1974b13023f9348d015',
 '6555bfbd4b13023f9348c82b',
 '6555c42a4b13023f9348d765',
 '6555c18b4b13023f9348cff7',
 '6555c3a84b13023f9348d526',
 '651dccb8a662d76276b7c7cc',
 '6555c4dc4b13023f9348da53',
 '6555c1cb4b13023f9348d08d',
 '6571c27425cc9a343f038cf9',
 '65316ff01e5cc42b1b142a1f',
 '6555c18c4b13023f9348cffa',
 '6555cc194b13023f934a4ff0',
 '6555c3e24b13023f9348d606',
 '6564085d31adde713f95b97f',
 '6555c5294b13023f9348dbb1',
 '6560d5e9e1d8342798a46a29',
 '655ace154b13023f934af2c0',
 '6555c3c54b13023f9348d596',
 '6555c06e4b13023f9348cb42',
 '6555c2c44b13023f9348d2da',
 '6555c4154b13023f9348d6f7',
 '6555c49e4b13023f9348d940',
 '6555c4c94b13023f9348d9fb',
 '6571c2ee25cc9a343f03c7a6',
 '6555c0d44b13023f9348ccfc',
 '6555c7e54b13023f9348eb1b',
 '6555c5744b13023f9348dcea',
 '6555c0c64b13023f9348ccbb',
 '6555c51c4b13023f9348db70',
 '6555c2f04b13023f9348d337',
 '6555c0b54b13023f9348cc78',
 '6555bf624b13023f9348c716',
 '6555bec14b13023f9348c52e',
 '6555c2f34b13023f9348d342',
 '6555bf4a4b13023f9348c6e1',
 '6555be814b13023f9348c439',
 '6555c5024b13023f9348daf8',
 '6555c4b34b13023f9348d99e',
 '6555c08c4b13023f9348cbcb',
 '6572873bcbb3242a0060e774',
 '6555c4d64b13023f9348da3c',
 '6555bf1c4b13023f9348c64b',
 '6555c03d4b13023f9348ca82',
 '6555c43c4b13023f9348d7af',
 '655d6ff4e1d8342798a44a2c',
 '6555be7d4b13023f9348c432',
 '6555c09c4b13023f9348cc13',
 '6555ca444b13023f934930f0',
 '6555c0804b13023f9348cb8e',
 '6555bfaa4b13023f9348c7df',
 '6555c4a14b13023f9348d94e',
 '6555c4cb4b13023f9348da0b',
 '6555c2664b13023f9348d219',
 '6555c14f4b13023f9348cf0d',
 '6555c3154b13023f9348d388',
 '651de333a662d76276b803b4',
 '6555c4a44b13023f9348d955',
 '6555c0ec4b13023f9348cd5c',
 '6555c3c54b13023f9348d591',
 '6555c26d4b13023f9348d22b',
 '6571c30425cc9a343f03d298',
 '6555c4214b13023f9348d732',
 '6555c0544b13023f9348cae3',
 '6555c1474b13023f9348cee4',
 '6555c0944b13023f9348cbec',
 '653170041e5cc42b1b1432b1',
 '6555c50d4b13023f9348db35',
 '6555c3844b13023f9348d4a5',
 '6555c14f4b13023f9348cf0f',
 '6555c1d04b13023f9348d097',
 '6555c0054b13023f9348c970',
 '6555c2124b13023f9348d13c',
 '6571c30a25cc9a343f03d594',
 '6555c1c04b13023f9348d078',
 '6555bf834b13023f9348c76b',
 '6555c1084b13023f9348cdcc',
 '6555c14d4b13023f9348cf03',
 '6555bea14b13023f9348c49e',
 '6555c1874b13023f9348cfe7',
 '6571c22025cc9a343f037234',
 '6555c4e84b13023f9348da8f',
 '6555c3654b13023f9348d43d',
 '6555c5914b13023f9348dd16',
 '6555bf314b13023f9348c696',
 '6555bf214b13023f9348c65d',
 '6555c0d04b13023f9348ccea',
 '655b06544b13023f934af34f',
 '6555c0154b13023f9348c9c1',
 '6571c24925cc9a343f037c10',
 '6555c4634b13023f9348d84e',
 '6555c54e4b13023f9348dc45',
 '655d7024e1d8342798a44a2d',
 '6555c4034b13023f9348d6a8',
 '6555c4d84b13023f9348da46',
 '6555ccbe4b13023f934ac865',
 '6555c15d4b13023f9348cf3b',
 '6555be924b13023f9348c46e',
 '6560cf58e1d8342798a4551d',
 '6555c3d74b13023f9348d5dd',
 '6555bee14b13023f9348c5ab',
 '6570544d53e8a6117bd31bbe',
 '6555bfb44b13023f9348c810',
 '6571c25125cc9a343f037ec8',
 '6555c5104b13023f9348db3b',
 '6565586b1fc4586a032ad7ec',
 '6555c1a54b13023f9348d038',
 '6555c0df4b13023f9348cd21',
 '6555c4154b13023f9348d6fd',
 '6555c4bb4b13023f9348d9c7',
 '65316b461e5cc42b1b13de44',
 '6555c47d4b13023f9348d8ba',
 '6555c27b4b13023f9348d248',
 '6555c0014b13023f9348c95f',
 '6555c2d44b13023f9348d2fe',
 '6555c1cb4b13023f9348d08e',
 '6555c4984b13023f9348d926',
 '6555c3764b13023f9348d47d',
 '6566a9b339bfc8784efe5e38',
 '6555c5664b13023f9348dcab',
 '6555c3f14b13023f9348d648',
 '6555c3634b13023f9348d437',
 '6555c1074b13023f9348cdca',
 '6555c1644b13023f9348cf63',
 '6555c25f4b13023f9348d20b',
 '6555bfde4b13023f9348c8c5',
 '6555c4144b13023f9348d6f2',
 '6564076b31adde713f95b96f',
 '6555c0eb4b13023f9348cd55',
 '6555bfb14b13023f9348c7f8',
 '6555c4e44b13023f9348da74',
 '6555bf064b13023f9348c618',
 '6555c9164b13023f934928b5',
 '6555c81d4b13023f93490b6e',
 '6555bf2e4b13023f9348c682',
 '6555c4954b13023f9348d917',
 '6555c4034b13023f9348d6a9',
 '6555bee94b13023f9348c5ca',
 '6555c27c4b13023f9348d24a',
 '6555c4114b13023f9348d6e3',
 '6555c3294b13023f9348d3a5',
 '6555c3a74b13023f9348d521',
 '6555c1ee4b13023f9348d0e2',
 '6555c00f4b13023f9348c99e',
 '6555c4564b13023f9348d81b',
 '6555c4024b13023f9348d6a1',
 '6555c0ff4b13023f9348cdaf',
 '6555c4cb4b13023f9348da0a',
 '6555c1d44b13023f9348d0a5',
 '6555bed84b13023f9348c591',
 '6555bfd64b13023f9348c8a2',
 '6555c01e4b13023f9348c9e8',
 '656e06a89994965ac4b4c212',
 '6555bfb34b13023f9348c80c',
 '651dcedea662d76276b7cdc3',
 '6555c0ae4b13023f9348cc5b',
 '6555c4ca4b13023f9348da02',
 '6555c3d04b13023f9348d5c3',
 '6560e053e1d8342798a478de',
 '6555c1724b13023f9348cf9a',
 '6555c1354b13023f9348ce93',
 '6555c0034b13023f9348c965',
 '6555c0ee4b13023f9348cd67',
 '6555c1ad4b13023f9348d046',
 '6571c2ad25cc9a343f03a62f',
 '6555c2c94b13023f9348d2e6',
 '6560cf83e1d8342798a4586f',
 '6555c3bd4b13023f9348d573',
 '6555bed94b13023f9348c594',
 '6571c33925cc9a343f03ed19',
 '6555bff64b13023f9348c931',
 '6555c4864b13023f9348d8d3',
 '6555cc344b13023f934a63d5',
 '6555c7da4b13023f9348e6bb',
 '6555c1c04b13023f9348d07b',
 '6555c14c4b13023f9348cefc',
 '6555c4234b13023f9348d73d',
 '657135c353e8a6117bd31e6c',
 '6555c1f04b13023f9348d0e7',
 '6555c4754b13023f9348d89c',
 '6571c2eb25cc9a343f03c63c',
 '6555c3024b13023f9348d35e',
 '6571c24325cc9a343f037a50',
 '6555ca4a4b13023f934931a1',
 '6555c04a4b13023f9348cabc',
 '6555cbcc4b13023f934a18c0',
 '6555c4774b13023f9348d8a6',
 '6555bee34b13023f9348c5b3',
 '6555c1104b13023f9348cdf3',
 '6555c5514b13023f9348dc56',
 '6555bf174b13023f9348c63e',
 '6555c56e4b13023f9348dcce',
 '6555c5254b13023f9348db94',
 '6555bf664b13023f9348c722',
 '6560e06fe1d8342798a4790d',
 '6555bf2d4b13023f9348c679',
 '6555c54f4b13023f9348dc49',
 '6555c3cc4b13023f9348d5ae',
 '6571c31825cc9a343f03dcc2',
 '6555c3364b13023f9348d3c2',
 '6555c3c54b13023f9348d594',
 '6555c2c54b13023f9348d2df',
 '6555c4b14b13023f9348d98f',
 '6555c02c4b13023f9348ca33',
 '6555bf744b13023f9348c743',
 '6555c2074b13023f9348d122',
 '655d70cee1d8342798a44a37',
 '6555c1094b13023f9348cdd3',
 '6555c0194b13023f9348c9d8',
 '6555c4064b13023f9348d6b6',
 '6555c1734b13023f9348cf9d',
 '6571c26a25cc9a343f0388ee',
 '6555beb54b13023f9348c4f1',
 '6555c3274b13023f9348d3a1',
 '6555c36d4b13023f9348d454',
 '6571c2c125cc9a343f03afea',
 '6555c1724b13023f9348cf9c',
 '6555cbab4b13023f934a02df',
 '6555c4944b13023f9348d912',
 '6555c42b4b13023f9348d76a',
 '6555cccd4b13023f934ad4f5',
 '6555c3df4b13023f9348d5fb',
 '6555beb14b13023f9348c4e7',
 '6555c0c44b13023f9348ccb7',
 '6555bf2f4b13023f9348c686',
 '6555c03f4b13023f9348ca93',

In [199]:
k = ArticleService.get_article_json_from_s3_and_api('6555bfd84b13023f9348c8ab')

In [200]:
k.keys()

dict_keys(['meta_data', 'cleaned_text', 'article_images', 'articleId', 'url', 'title', 'shortDescription', 'publishedTime', 'lastUpdatedTime', 'tags', 'articleImageUrl', 'category', 'authors', 'isPremiumArticle', 'source', 'sourceId', 'sourceName', 'sourceLogo'])

In [77]:
stop_words = ['cnbc', 'businessworld']

In [164]:
# exclusion_story_ids = [1, 45, 320, 326, 347, 366, 370, 30, 33, 44, 55, 67, 105, 209, 216, 309, 74, 234]

In [208]:
exclusion_story_ids = [77, 102, 129, 193, 209, 215, 286, 302]

In [209]:
df[df.parent_id.isin(exclusion_story_ids)]

,Unnamed: 0,parent_id,parent_name,child_storyline_list,child_left_id,child_left_name,child_right_id,child_right_name,distance,level,num_docs,doc_list,cluster_id,outlier_count,total_count,outlier_percent
465,465,77,77_businessworld online_businessworld_online_acen,[],NaN,NaN,NaN,NaN,NaN,8.0,240.0,"[75, 122, 2595, 3037, 3601, 3771, 4678, 4733, ...",NaN,NaN,NaN,NaN
490,490,102,102_businessworld online_businessworld_online_...,[],NaN,NaN,NaN,NaN,NaN,8.0,194.0,"[161, 334, 922, 1128, 1138, 1520, 2010, 3108, ...",NaN,NaN,NaN,NaN
517,517,129,129_bsp_businessworld online_businessworld_online,[],NaN,NaN,NaN,NaN,NaN,8.0,162.0,"[1325, 2980, 3506, 3767, 3896, 4064, 4862, 490...",NaN,NaN,NaN,NaN
581,581,193,193_rice_export_basmati_non basmati,[],NaN,NaN,NaN,NaN,NaN,5.0,118.0,"[3848, 3999, 6239, 6852, 11674, 12595, 12801, ...",NaN,NaN,NaN,NaN
597,597,209,209_businessworld_businessworld online_philipp...,[],NaN,NaN,NaN,NaN,NaN,8.0,107.0,"[1899, 1993, 2837, 4447, 4787, 6321, 6400, 673...",NaN,NaN,NaN,NaN
603,603,215,215_rice_businessworld online_businessworld_on...,[],NaN,NaN,NaN,NaN,NaN,5.0,101.0,"[46, 63, 802, 1585, 3838, 6352, 6534, 7159, 79...",NaN,NaN,NaN,NaN
674,674,286,286_online psei_online shares_psei_businesswor...,[],NaN,NaN,NaN,NaN,NaN,6.0,74.0,"[18, 4454, 5444, 6277, 8508, 8665, 10033, 1009...",NaN,NaN,NaN,NaN
690,690,302,302_peso_online peso_vs dollar_dollar business...,[],NaN,NaN,NaN,NaN,NaN,5.0,70.0,"[2448, 3262, 4820, 9566, 10111, 10203, 10840, ...",NaN,NaN,NaN,NaN

In [210]:
non_india_fin_stories = [77, 102, 129, 193, 209, 215, 286, 302]

In [211]:
non_fin_stories = list(set(exclusion_story_ids) - set(non_india_fin_stories))

#### Marking documents of irrelevant stories

In [212]:
from sql.PostgresDatabaseOperation import PostgresDatabaseOperation

In [213]:
non_india_docs = [x for x in article_story_cluster_mapping if article_story_cluster_mapping[x]['storyline_id'] in non_india_fin_stories]

In [214]:
non_fin_docs = [x for x in article_story_cluster_mapping if article_story_cluster_mapping[x]['storyline_id'] in non_fin_stories]

In [215]:
len(non_india_docs), len(non_fin_docs)

(1066, 0)

##### Non India financial news

In [216]:
with PostgresDatabaseOperation() as cursor:
    sql = """INSERT INTO manual_article_attributes (article_id, financial_news, relevant_for_india)
            VALUES (%s, %s, %s)
            """
    for doc in non_india_docs:
        cursor.execute(sql, (doc, True, False))

##### Non financial India news

In [177]:
with PostgresDatabaseOperation() as cursor:
    sql = """INSERT INTO manual_article_attributes (article_id, financial_news, relevant_for_india)
            VALUES (%s, %s, %s)
            """
    for doc in non_fin_docs:
        cursor.execute(sql, (doc, False, True))

### Saving clustering details to DB

In [461]:
with initialize(config_path="../../conf"):
    # Compose the configuration
    cfg = compose(config_name="ClustersResetService.yaml")

In [462]:
bertopic_model = load_bertopic_model_from_s3(run_id=run_id, hf_embedding_model_name='BAAI/bge-large-en-v1.5')

bertopic streamed successfully

In [463]:
import time

In [464]:
num_docs = len(bertopic_model.topics_)
random_state = 86
model_name = 'BAAI/bge-large-en-v1.5'
embedding_size = 1024

In [469]:
from sql.clustering.ClusteringSQL import ClusteringSQL

In [466]:
def save_clustering_run_details_to_db():
    run_details_dict = dict(cfg)
    run_details_dict['num_docs'] = num_docs
    run_details_dict['random_state'] = random_state
    run_details_dict['run_time'] = time.time()
    run_details_dict['run_id'] = run_id
    run_details_dict['embedding_model_name'] = model_name
    run_details_dict['embedding_size'] = embedding_size

    ClusteringSQL.insert_clustering_run_details(clustering_run_config=run_details_dict,
                                                clustering_run_id=run_id)

In [470]:
save_clustering_run_details_to_db()

In [247]:
from copy import deepcopy

In [471]:
renamed_hierarchy_df = deepcopy(df)
renamed_hierarchy_df = renamed_hierarchy_df.rename(columns={'cluster_id': 'parent_id', 'cluster_name': 'parent_name', 'storylines': 'child_storyline_list',
                                                        'left_child_id': 'child_left_id', 'left_child_name': 'child_left_name',
                                                        'right_child_id': 'child_right_id', 'right_child_name': 'child_right_name'})

In [472]:
ClusteringSQL.save_article_story_cluster_mapping(article_story_cluster_mapping=article_story_cluster_mapping, clustering_run_id=run_id)

KeyboardInterrupt:

In [ ]:
for i, row in renamed_hierarchy_df.head(10).iterrows():
    print(row['parent_id'])

In [ ]:
1

In [264]:
cols = []
count = 1
for column in renamed_hierarchy_df.columns:
    if column == 'parent_id':
        cols.append(f'parent_id{count}')
        count+=1
        continue
    cols.append(column)
renamed_hierarchy_df.columns = cols

In [265]:
renamed_hierarchy_df.isnull().mean()

Unnamed: 0              0.000000
parent_id1              0.000000
parent_name             0.000000
child_storyline_list    0.000000
child_left_id           0.501348
child_left_name         0.501348
child_right_id          0.501348
child_right_name        0.501348
distance                0.501348
level                   0.001348
num_docs                0.001348
doc_list                0.001348
parent_id2              0.970350
outlier_count           0.970350
total_count             0.970350
outlier_percent         0.970350
dtype: float64

In [266]:
renamed_hierarchy_df = renamed_hierarchy_df.rename(columns = {'parent_id1': 'parent_id'})

In [272]:
renamed_hierarchy_df.dtypes

Unnamed: 0                int64
parent_id                 int64
parent_name              object
child_storyline_list     object
child_left_id           float64
child_left_name          object
child_right_id          float64
child_right_name         object
distance                float64
level                   float64
num_docs                float64
doc_list                 object
parent_id2              float64
outlier_count           float64
total_count             float64
outlier_percent         float64
dtype: object

In [270]:
import ast

In [271]:
renamed_hierarchy_df['child_storyline_list'] = renamed_hierarchy_df['child_storyline_list'].apply(lambda x: ast.literal_eval(x))

In [279]:
from datetime import datetime

In [288]:
pd.isna(renamed_hierarchy_df.iloc[432].child_left_id)

True

In [291]:
renamed_hierarchy_df.sample(30)

,Unnamed: 0,parent_id,parent_name,child_storyline_list,child_left_id,child_left_name,child_right_id,child_right_name,distance,level,num_docs,doc_list,parent_id2,outlier_count,total_count,outlier_percent
738,738,367,367_yatharth_yatharth hospital_hospital_hospit...,[],NaN,NaN,NaN,NaN,NaN,10.0,51.0,"[5667, 6897, 10221, 10492, 14911, 16263, 23354...",NaN,NaN,NaN,NaN
380,380,9,9_tcs_infosys_hcl_hcl tech,[],NaN,NaN,NaN,NaN,NaN,13.0,774.0,"[251, 364, 913, 965, 1203, 1293, 1418, 1781, 2...",NaN,NaN,NaN,NaN
662,662,291,291_alibaba_jack ma_ma_jack,[],NaN,NaN,NaN,NaN,NaN,27.0,72.0,"[1401, 1554, 2614, 5215, 5384, 5642, 6497, 713...",NaN,NaN,NaN,NaN
253,253,487,toubro_larsen toubro_larsen_bags_order,"[31, 70]",31.0,toubro_larsen toubro_larsen_finance holdings_t...,70.0,irb_kalpataru_infra_worth rs_nbcc,0.877703,9.0,633.0,"[1, 120, 243, 344, 930, 1171, 1415, 1423, 2119...",NaN,NaN,NaN,NaN
553,553,182,182_formula_regression_variance_statistics,[],NaN,NaN,NaN,NaN,NaN,8.0,120.0,"[64, 719, 2225, 2745, 3287, 3998, 4988, 8528, ...",NaN,NaN,NaN,NaN
40,40,700,innerworth mind_innerworth_mind markets_mind_c...,"[1, 14, 20, 23, 28, 33, 37, 44, 51, 54, 55, 61...",647.0,job_retirement_financial_work_hiring,696.0,innerworth_mind markets_innerworth mind_mind_c...,1.191498,14.0,14136.0,"[779, 2319, 3563, 7157, 19751, 20384, 20682, 2...",NaN,NaN,NaN,NaN
712,712,341,341_titagarh_titagarh rail_rail_rail systems,[],NaN,NaN,NaN,NaN,NaN,10.0,57.0,"[620, 685, 5810, 9585, 12843, 14372, 20309, 22...",NaN,NaN,NaN,NaN
341,341,399,standalone_2023 net_net sales_sales rs_sales,"[0, 40, 43, 65, 76]",65.0,chem_chem standalone_chem consolidated_fert_ch...,385.0,standalone_2023 net_net sales_sales rs_sales,0.707392,14.0,2814.0,"[669, 948, 1057, 1689, 2047, 3350, 5700, 6104,...",NaN,NaN,NaN,NaN
212,212,528,gdp_growth_gdp growth_economy_india gdp,"[16, 247]",247.0,budget_fiscal deficit_deficit_fiscal_budget 2023,16.0,gdp_growth_gdp growth_economy_india gdp,0.915730,19.0,644.0,"[1479, 2683, 3269, 4123, 5445, 5579, 5761, 640...",NaN,NaN,NaN,NaN
296,296,444,ai_openai_chatgpt_altman_generative,"[18, 183]",183.0,openai_altman_sam altman_sam_microsoft,18.0,ai_chatgpt_generative_generative ai_openai,0.820072,12.0,661.0,"[937, 2056, 2783, 3413, 3725, 5869, 6141, 6996...",NaN,NaN,NaN,NaN
560,560,189,189_mint hindustan_hindustan_hindustan unileve...,[],NaN,NaN,NaN,NaN,NaN,9.0,116.0,"[284, 2075, 2368, 2916, 5816, 5828, 5888, 6249...",NaN,NaN,NaN,NaN
124,124,616,gainers losers_losers_gainers_check list_mint ...,"[105, 129, 214, 263]",481.0,bse_holiday_nse_remain closed_market holiday,539.0,gainers losers_losers_gainers_mint gainers_los...,0.993100,10.0,540.0,"[187, 674, 1101, 1694, 1877, 2796, 3032, 3250,...",NaN,NaN,NaN,NaN
251,251,489,credit_card_credit card_credit score_score,"[193, 279, 305, 320]",279.0,tcs_lrs_20 tcs_credit cards_cards,466.0,credit_credit card_card_credit score_score,0.882458,8.0,320.0,"[504, 1220, 2865, 3609, 5656, 6621, 7128, 7383...",NaN,NaN,NaN,NaN
707,707,336,336_inclusion_indian bonds_jpmorgan_index,[],NaN,NaN,NaN,NaN,NaN,21.0,58.0,"[6019, 7526, 8507, 9924, 11362, 12683, 13251, ...",NaN,NaN,NaN,NaN
314,314,426,nclt_insolvency_lessors_nclat_plea,"[62, 199]",199.0,nclt_insolvency_nclat_plea_future retail,62.0,lessors_aircraft_nclt_insolvency_dgca,0.779772,16.0,388.0,"[256, 475, 3262, 4012, 6926, 7283, 8346, 9747,...",NaN,NaN,NaN,NaN
619,619,248,248_rupee_rupee opens_dollar_asian currencies,[],NaN,NaN,NaN,NaN,NaN,8.0,89.0,"[2010, 9142, 11819, 12132, 14725, 14940, 16496...",NaN,NaN,NaN,NaN
318,318,422,2023 net_net sales_sales rs_standalone_sales,"[0, 40, 43, 59, 65, 76, 83, 120, 149, 157]",419.0,2023 net_net sales_sales rs_standalone_sales,149.0,pharma standalone_pharma_pharma consolidated_p...,0.768055,9.0,3768.0,"[746, 1192, 1426, 1492, 1646, 3464, 3490, 3678...",NaN,NaN,NaN,NaN
216,216,524,live blog_blog_price live_2023 mint_live,"[2, 75, 191]",191.0,idfc_idfc bank_mint idfc_idfc share_bank share,381.0,live blog_blog_price live_2023 mint_live,0.911678,8.0,1593.0,"[1245, 2107, 2582, 4777, 5318, 5655, 5974, 599...",NaN,NaN,NaN,NaN
430,430,59,59_infra_infra standalone_infra consolidated_2...,[],NaN,NaN,NaN,NaN,NaN,11.0,279.0,"[746, 1192, 1426, 1492, 1646, 3464, 3490, 3678...",NaN,NaN,NaN,NaN
411,411,40,40_tech standalone_tech consolidated_tech_2023...,[],NaN,NaN,NaN,NaN,NaN,17.0,332.0,"[702, 833, 1460, 1816, 2361, 2741, 4543, 4727,...",NaN,NaN,NaN,NaN
556,556,185,185_yes bank_yes_mint yes_bank share,[],NaN,NaN,NaN,NaN,NaN,9.0,117.0,"[1374, 1528, 4253, 5474, 6503, 9786, 10096, 11...",NaN,NaN,NaN,NaN
191,191,549,powergrid_mint powergrid_ultra cem_cem_ultra,"[283, 289, 326]",289.0,ultra cem_cem_ultra_mint ultra_cem closed,532.0,powergrid_mint powergrid_powergrid share_ntpc ...,0.940151,12.0,207.0,"[438, 745, 1702, 3746, 4205, 6297, 9692, 9971,...",NaN,NaN,NaN,NaN
657,657,286,286_savings_small savings_nsc_savings scheme,[],NaN,NaN,NaN,NaN,NaN,11.0,74.0,"[3029, 3276, 6018, 6143, 7915, 8300, 10744, 11...",NaN,NaN,NaN,NaN
655,655,284,284_currency_history_exchange rates_works,[],NaN,NaN,NaN,NaN,NaN,8.0,74.0,"[212, 1053, 1176, 2963, 3316, 4829, 7473, 9461...",NaN,NaN,NaN,NaN
715,715,344,344_home_house_buy house_buying home,[],NaN,NaN,NaN,NaN,NaN,12.0,56.0,"[1953, 2292, 3430, 4871, 11777, 15475, 16972, ...",NaN,NaN,NaN,NaN
438,438,67,67_making biggest_stocks making_biggest moves_...,[],NaN,NaN,NaN,NaN,NaN,25.0,253.0,"[868, 2428, 2535, 2628, 2781, 2954, 3112, 3715...",NaN,NaN,NaN,NaN
628,628,257,257_forge_bharat forge_ramkrishna forgings_ram...,[],NaN,NaN,NaN,NaN,NaN,11.0,85.0,"[3623, 7148, 8904, 9470, 9694, 15990, 17567, 1...",NaN,NaN,NaN,NaN
460,460,89,89_wheat_2023 geojit_picks report_agri picks,[],NaN,NaN,NaN,NaN,NaN,12.0,210.0,"[1035, 1411, 1585, 2898, 3212, 3334, 3349, 404...",NaN,NaN,NaN,NaN
376,376,5,5_oil_oil prices_opec_prices,[],NaN,NaN,NaN,NaN,NaN,11.0,946.0,"[295, 393, 464, 644, 775, 845, 871, 934, 973, ...",NaN,NaN,NaN,NaN
459,459,88,88_havells_voltas_havells india_polycab,[],NaN,NaN,NaN,NaN,NaN,9.0,211.0,"[302, 416, 418, 1290, 3465, 3636, 4432, 4923, ...",NaN,NaN,NaN,NaN

In [290]:
renamed_hierarchy_df['child_left_id'] = renamed_hierarchy_df['child_left_id'].apply(lambda x: int(x) if pd.notna(x) else None)
renamed_hierarchy_df['child_right_id'] = renamed_hierarchy_df['child_right_id'].apply(lambda x: int(x) if pd.notna(x) else None)

In [297]:
with PostgresDatabaseOperation() as cursor:
    # first truncate the data in live table
    truncate_sql = f"""
            TRUNCATE TABLE cluster_hierarchy RESTART IDENTITY
    """
    cursor.execute(truncate_sql)

    # Insert the data in live and history tables
    insert_sql = f"""
        INSERT INTO cluster_hierarchy (parent_id, parent_name, child_storyline_list, child_left_id, child_left_name, child_right_id, child_right_name, clustering_run_id, created_at)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """

    history_sql = f"""
        INSERT INTO cluster_hierarchy_history (parent_id, parent_name, child_storyline_list, child_left_id, child_left_name, child_right_id, child_right_name, clustering_run_id, created_at)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    current_time = datetime.now()
    for index, row in renamed_hierarchy_df.iterrows():
        if pd.isna(row['child_left_id']):
            child_left_id = None
            child_right_id = None
        else:
            child_left_id = int(row['child_left_id'])
            child_right_id = int(row['child_right_id'])
        cursor.execute(insert_sql, (row['parent_id'], row['parent_name'], row['child_storyline_list'], child_left_id, row['child_left_name'],
                                        child_right_id, row['child_right_name'], run_id, current_time))
        cursor.execute(history_sql, (row['parent_id'], row['parent_name'], row['child_storyline_list'], child_left_id, row['child_left_name'],
                                         child_right_id, row['child_right_name'], run_id, current_time))

In [277]:
renamed_hierarchy_df.child_left_id.max()

737.0

In [298]:
# ClusteringSQL.insert_cluster_hierarchy(cluster_hierarchy_df=renamed_hierarchy_df,
#                                                clustering_run_id=run_id)

In [300]:
ClusteringSQL.insert_storyline_to_cluster_mapping(story_to_cluster_mapping=story_cluster_mapping, clustering_run_id=run_id)

In [313]:
story_embeddings = load_json_from_s3(run_id = run_id, json_file_name='story_embeddings')

In [315]:
int_story_embeddings = {}

In [316]:
for story in story_embeddings:
    int_story_embeddings[int(story)] = story_embeddings[story]

In [325]:
with PostgresDatabaseOperation() as cursor:
    truncate_sql = f"""
                    TRUNCATE TABLE story_embeddings RESTART IDENTITY
                    """
    cursor.execute(truncate_sql)

    insert_sql = f"""INSERT INTO story_embeddings (story_id, story_embedding, clustering_run_id)
                    VALUES (%s, %s, %s)
                    """
    # TODO: - can't ideally assume that -1 exists. should come from clustering run - refactor
    if -1 in story_embeddings:
        total = len(int_story_embeddings) - 1
    else:
        total = len(int_story_embeddings)
    for i in range(total-1):
        story_embedding = list(int_story_embeddings[i])
        cursor.execute(insert_sql, (i, story_embedding, run_id))

### update topic preferences

In [344]:
from src.topics.TopicClusterMapping import TopicClusterMapping

In [349]:
with initialize(config_path="../../conf"):
    # Compose the configuration
    topic_cfg = compose(config_name="TopicClusterMapping.yaml")

In [350]:
tcm = TopicClusterMapping(clustering_run_id=run_id, bertopic_model=bertopic_model, cfg=topic_cfg)

In [355]:
tcm.recompute_preferences_for_all_topics()

In [363]:
import sys

In [373]:
import pickle

In [375]:
with open('bertopic_model.pkl', 'wb') as f:
    pickle.dump(bertopic_model, f)

In [369]:
sys.getsizeof(bertopic_model.probabilities_)

128

In [376]:
bertopic_model.probabilities_ = None

In [380]:
bertopic_model.topic_embeddings_ = None

In [382]:
bertopic_model.topic_representations_ = None

In [389]:
bertopic_model.topics_ = None

In [392]:
with open('hdbscan_model.pkl', 'wb') as f:
    pickle.dump(bertopic_model.hdbscan_model, f)

In [437]:
with open('umap_model.pkl', 'wb') as f:
    pickle.dump(bertopic_model.umap_model, f)

In [399]:
len(embs[0])

10

In [438]:
k = np.random.rand(1024)

In [425]:
graph = bertopic_model.umap_model.graph_

In [426]:
bertopic_model.umap_model.graph_ = None

In [436]:
bertopic_model.umap_model._raw_data = [bertopic_model.umap_model._raw_data[0]]

In [432]:
bertopic_model.umap_model.disconnection_distance

In [473]:
bertopic_model.topic_embeddings_

array([[ 3.2104e-02,  1.3843e-01, -9.1187e-02, ..., -8.8196e-02,
        -1.5710e-01,  1.4618e-02],
       [-9.1171e-03,  3.4088e-02, -2.2614e-02, ..., -1.0918e-02,
        -5.4871e-02, -1.8738e-02],
       [-8.4496e-04,  1.0614e-01, -1.8978e-03, ..., -2.9007e-02,
        -1.1804e-01, -3.4790e-02],
       ...,
       [-1.1055e-02,  4.6570e-02, -1.7258e-02, ..., -3.8666e-02,
        -2.5864e-02,  7.0632e-05],
       [-4.3671e-02,  1.4014e-01, -4.4983e-02, ..., -5.7098e-02,
        -2.2754e-01, -1.7609e-02],
       [ 4.7821e-02,  7.8735e-02, -3.3630e-02, ..., -5.5969e-02,
        -3.4454e-02, -3.3173e-02]], dtype=float16)